<a href="https://colab.research.google.com/github/nxxk23/PROJECT/blob/main/Case2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

##üóÇÔ∏èImport data: vitalsign

In [2]:
import pandas as pd
vital = pd.read_csv('/content/drive/MyDrive/Thesis Project Kidney/vitalsign.csv')
vital.head()

,LabNo,PatientUID,PatientVisitUID,OrderItemName,ResultItemName,ResultValue,CWhen
0,1,24513,2140458,Vital Signs Record,Weight,76.7,2558-04-08 09:57:59.153
1,1,24513,2341133,Vital Signs Record,BMI,30.76,2558-07-01 09:20:02.617
2,1,24513,2341133,Vital Signs Record,Pulse Rate,98,2558-07-01 09:20:02.617
3,1,24513,2341133,Vital Signs Record,Respiratory Rate,20,2558-07-01 09:20:02.617
4,1,24513,2388152,Vital Signs Record,BMI,30.36,2558-07-22 10:04:54.377


Unique name of columns: **OrderItemName and ResultItemName** in vitalsign.csv

In [27]:
vital['OrderItemName'].unique()

array(['Vital Signs Record'], dtype=object)

In [28]:
vital['OrderItemName'].value_counts()

Vital Signs Record    9213497
Name: OrderItemName, dtype: int64

In [29]:
vital['ResultItemName'].describe()

count         9213497
unique             18
top       Systolic BP
freq          1389230
Name: ResultItemName, dtype: object

In [10]:
vital['ResultItemName'].value_counts()

Systolic BP           1389230
Diastolic BP          1387866
Pulse Rate            1326568
Respiratory Rate      1044964
Temperature            670561
Weight                 666734
Height                 624585
BMI                    612300
BSA                    612014
O2 Sat                 500912
Pain Score             242681
MeanPressure           127336
Waistline                6291
IrregularHeartBeat       1063
Head Circumference        284
6MWT                       85
Fat                        12
AverageMeasurement         11
Name: ResultItemName, dtype: int64


```
‡∏ó‡∏£‡∏≤‡∏ö‡πÅ‡∏ï‡πà‡∏•‡∏∞‡∏Ñ‡πà‡∏≤‡∏°‡∏µ‡πÄ‡∏ó‡πà‡∏≤‡πÑ‡∏´‡∏£‡πà
```

In [25]:
counted_vital = vital['ResultItemName'].value_counts().reset_index()
counted_vital.columns = ['value', 'count']
counted_vital

                 value    count
0          Systolic BP  1389230
1         Diastolic BP  1387866
2           Pulse Rate  1326568
3     Respiratory Rate  1044964
4          Temperature   670561
5               Weight   666734
6               Height   624585
7                  BMI   612300
8                  BSA   612014
9               O2 Sat   500912
10          Pain Score   242681
11        MeanPressure   127336
12           Waistline     6291
13  IrregularHeartBeat     1063
14  Head Circumference      284
15                6MWT       85
16                 Fat       12
17  AverageMeasurement       11



```
‡∏ó‡∏£‡∏≤‡∏ö‡πÅ‡∏ï‡πà‡∏•‡∏∞‡∏Ñ‡πà‡∏≤‡∏°‡∏µ‡∏Ñ‡πà‡∏≤‡πÅ‡∏ï‡πà‡∏•‡∏∞‡∏≠‡∏¢‡πà‡∏≤‡∏á‡πÄ‡∏õ‡πá‡∏ô‡πÄ‡∏ó‡πà‡∏≤‡πÑ‡∏´‡∏£‡πà
```

In [33]:
vital.groupby(['ResultItemName', 'ResultValue']).size().reset_index(name='count')

      ResultItemName        ResultValue  count
0               6MWT                 0.      1
1               6MWT                  1      1
2               6MWT      150 ‡πÉ‡∏ä‡πâ‡πÑ‡∏°‡πâ‡∏Ñ‡πâ‡∏≥      1
3               6MWT                165      1
4               6MWT                198      1
...              ...                ...    ...
16678         Weight             ‡πÄ‡∏õ‡∏•‡∏ô‡∏≠‡∏ô      2
16679         Weight             ‡πÅ‡∏Ç‡∏ô‡∏Ç‡∏ß‡∏≤      1
16680         Weight            ‡πÅ‡∏Ç‡∏ô‡∏ã‡πâ‡∏≤‡∏¢      1
16681         Weight     ‡πÑ‡∏°‡πà‡∏°‡∏µ‡∏ï‡∏≤‡∏û‡∏£‡πà‡∏≤‡∏°‡∏±‡∏ß      1
16682         Weight  ‡πÑ‡∏°‡πà‡∏°‡∏µ‡∏≠‡∏≤‡∏Å‡∏≤‡∏£‡∏ú‡∏¥‡∏î‡∏õ‡∏Å‡∏ï‡∏¥      1

[16683 rows x 3 columns]