<a href="https://colab.research.google.com/github/nxxk23/PROJECT/blob/main/CountUniqueValues.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

##üóÇÔ∏èImport data: vitalsign

In [2]:
import pandas as pd
vital = pd.read_csv('/content/drive/MyDrive/Thesis Project Kidney/vitalsign.csv')
vital.head()

,LabNo,PatientUID,PatientVisitUID,OrderItemName,ResultItemName,ResultValue,CWhen
0,1,24513,2140458,Vital Signs Record,Weight,76.7,2558-04-08 09:57:59.153
1,1,24513,2341133,Vital Signs Record,BMI,30.76,2558-07-01 09:20:02.617
2,1,24513,2341133,Vital Signs Record,Pulse Rate,98,2558-07-01 09:20:02.617
3,1,24513,2341133,Vital Signs Record,Respiratory Rate,20,2558-07-01 09:20:02.617
4,1,24513,2388152,Vital Signs Record,BMI,30.36,2558-07-22 10:04:54.377

### üîéUniqueValues
columns: **OrderItemName and ResultItemName** in vitalsign.csv

In [3]:
# Specify the columns for unique value counting
columns_to_count = ['OrderItemName', 'ResultItemName']

# Count unique values in the specified columns
unique_counts = vital[columns_to_count].value_counts().reset_index()

In [4]:
unique_counts.columns = ['OrderItemName','ResultItemName', 'Count']
unique_counts

         OrderItemName      ResultItemName    Count
0   Vital Signs Record         Systolic BP  1389230
1   Vital Signs Record        Diastolic BP  1387866
2   Vital Signs Record          Pulse Rate  1326568
3   Vital Signs Record    Respiratory Rate  1044964
4   Vital Signs Record         Temperature   670561
5   Vital Signs Record              Weight   666734
6   Vital Signs Record              Height   624585
7   Vital Signs Record                 BMI   612300
8   Vital Signs Record                 BSA   612014
9   Vital Signs Record              O2 Sat   500912
10  Vital Signs Record          Pain Score   242681
11  Vital Signs Record        MeanPressure   127336
12  Vital Signs Record           Waistline     6291
13  Vital Signs Record  IrregularHeartBeat     1063
14  Vital Signs Record  Head Circumference      284
15  Vital Signs Record                6MWT       85
16  Vital Signs Record                 Fat       12
17  Vital Signs Record  AverageMeasurement       11

In [5]:
vitalsign_df = pd.DataFrame(unique_counts)
vitalsign_df

         OrderItemName      ResultItemName    Count
0   Vital Signs Record         Systolic BP  1389230
1   Vital Signs Record        Diastolic BP  1387866
2   Vital Signs Record          Pulse Rate  1326568
3   Vital Signs Record    Respiratory Rate  1044964
4   Vital Signs Record         Temperature   670561
5   Vital Signs Record              Weight   666734
6   Vital Signs Record              Height   624585
7   Vital Signs Record                 BMI   612300
8   Vital Signs Record                 BSA   612014
9   Vital Signs Record              O2 Sat   500912
10  Vital Signs Record          Pain Score   242681
11  Vital Signs Record        MeanPressure   127336
12  Vital Signs Record           Waistline     6291
13  Vital Signs Record  IrregularHeartBeat     1063
14  Vital Signs Record  Head Circumference      284
15  Vital Signs Record                6MWT       85
16  Vital Signs Record                 Fat       12
17  Vital Signs Record  AverageMeasurement       11

##üóÇÔ∏èImport data: Diagnosis

In [6]:
import pandas as pd
diagnosis = pd.read_csv('/content/drive/MyDrive/Thesis Project Kidney/Diagnosis.csv')
diagnosis.head()

,PatientUID,PatientVisitUID,ProblemCode,ProblemName,ProblemDescription,DIAGTYPE,OnsetDttm
0,22496,0,K922,"Gastrointestinal haemorrhage\, unspecified",‡πÄ‡∏•‡∏∑‡∏≠‡∏î‡∏≠‡∏≠‡∏Å‡πÉ‡∏ô‡∏Å‡∏£‡∏∞‡πÄ‡∏û‡∏≤‡∏∞‡∏≠‡∏≤‡∏´‡∏≤‡∏£‡πÅ‡∏•‡∏∞‡∏•‡∏≥‡πÑ‡∏™‡πâ ‡πÑ‡∏°‡πà‡∏£‡∏∞‡∏ö‡∏∏‡∏£‡∏≤‡∏¢‡∏•‡∏∞‡πÄ‡∏≠‡∏µ‡∏¢‡∏î,PRINCIPAL DX (‡∏Å‡∏≤‡∏£‡∏ß‡∏¥‡∏ô‡∏¥‡∏à‡∏â‡∏±‡∏¢‡πÇ‡∏£‡∏Ñ‡∏´‡∏•‡∏±‡∏Å),2556-01-05 00:00:00.000
1,20509,0,R104,Other and unspecified abdominal pain,‡∏õ‡∏ß‡∏î‡∏ó‡πâ‡∏≠‡∏á‡πÅ‡∏ö‡∏ö‡∏≠‡∏∑‡πà‡∏ô‡πÅ‡∏•‡∏∞‡πÑ‡∏°‡πà‡∏£‡∏∞‡∏ö‡∏∏‡∏£‡∏≤‡∏¢‡∏•‡∏∞‡πÄ‡∏≠‡∏µ‡∏¢‡∏î,PRINCIPAL DX (‡∏Å‡∏≤‡∏£‡∏ß‡∏¥‡∏ô‡∏¥‡∏à‡∏â‡∏±‡∏¢‡πÇ‡∏£‡∏Ñ‡∏´‡∏•‡∏±‡∏Å),2556-01-05 00:00:00.000
2,6629,0,K052,Acute periodontitis,‡πÇ‡∏£‡∏Ñ‡∏õ‡∏£‡∏¥‡∏ó‡∏±‡∏ô‡∏ï‡πå‡∏≠‡∏±‡∏Å‡πÄ‡∏™‡∏µ‡∏¢‡∏ö‡πÄ‡∏â‡∏µ‡∏¢‡∏ö‡∏û‡∏•‡∏±‡∏ô,PRINCIPAL DX (‡∏Å‡∏≤‡∏£‡∏ß‡∏¥‡∏ô‡∏¥‡∏à‡∏â‡∏±‡∏¢‡πÇ‡∏£‡∏Ñ‡∏´‡∏•‡∏±‡∏Å),2556-01-05 00:00:00.000
3,22234,0,E112,Non-insulin-dependent diabetes mellitus type 2...,‡πÄ‡∏ö‡∏≤‡∏´‡∏ß‡∏≤‡∏ô‡∏ä‡∏ô‡∏¥‡∏î‡∏ó‡∏µ‡πà‡πÑ‡∏°‡πà‡∏ï‡πâ‡∏≠‡∏á‡∏û‡∏∂‡πà‡∏á‡∏≠‡∏¥‡∏ô‡∏ã‡∏π‡∏•‡∏¥‡∏ô ‡∏£‡πà‡∏ß‡∏°‡∏Å‡∏±‡∏ö‡∏†‡∏≤‡∏ß‡∏∞‡πÅ...,PRINCIPAL DX (‡∏Å‡∏≤‡∏£‡∏ß‡∏¥‡∏ô‡∏¥‡∏à‡∏â‡∏±‡∏¢‡πÇ‡∏£‡∏Ñ‡∏´‡∏•‡∏±‡∏Å),2556-01-07 00:00:00.000
4,22234,0,N083,Glomerular disorders in diabetes mellitus ( E1...,‡∏Ñ‡∏ß‡∏≤‡∏°‡∏ú‡∏¥‡∏î‡∏õ‡∏Å‡∏ï‡∏¥‡∏Ç‡∏≠‡∏á‡πÇ‡∏Å‡∏•‡πÄ‡∏°‡∏≠‡∏£‡∏π‡∏•‡∏±‡∏™‡πÉ‡∏ô‡πÇ‡∏£‡∏Ñ‡πÄ‡∏ö‡∏≤‡∏´‡∏ß‡∏≤‡∏ô (E10-E14...,PRINCIPAL DX (‡∏Å‡∏≤‡∏£‡∏ß‡∏¥‡∏ô‡∏¥‡∏à‡∏â‡∏±‡∏¢‡πÇ‡∏£‡∏Ñ‡∏´‡∏•‡∏±‡∏Å),2556-01-07 00:00:00.000

### üîé**UniqueValues**
columns: **ProblemCode, ProblemName, and (ProblemCode,ProblemName)** in Diagnosis.csv

In [7]:
diag_code = diagnosis['ProblemCode'].value_counts().reset_index()
diag_code.columns = ['UniqueValue_CODE','Count']
diag_code

      UniqueValue_CODE   Count
0            370992007  133314
1                  I10   97039
2             44054006   76676
3              1201005   72796
4             59621000   57233
...                ...     ...
19480         90228003       1
19481        174428001       1
19482          7407001       1
19483         92129006       1
19484         95209008       1

[19485 rows x 2 columns]

In [8]:
diag_name = diagnosis['ProblemName'].value_counts().reset_index()
diag_name.columns = ['UniqueValue_NAME','Count']
diag_name

                             UniqueValue_NAME   Count
0                                Dyslipidemia  133313
1            Essential (primary) hypertension   97039
2                    Type 2 diabetes mellitus   76674
3               Benign essential hypertension   72802
4                      Essential hypertension   58016
...                                       ...     ...
18423                         Impacted molars       1
18424                        Animal bites NOS       1
18425          Control of haemorrhage of nose       1
18426  Infective endocarditis of aortic valve       1
18427       Plasma cell leukemia in remission       1

[18428 rows x 2 columns]

In [9]:
# Specify the columns for unique value counting
columns_to_count = ['ProblemCode', 'ProblemName']

# Count unique values in the specified columns
diag_count = diagnosis[columns_to_count].value_counts().reset_index()
diag_count.columns = ['ProblemCode', 'ProblemName', 'Count']
diag_count

      ProblemCode                                       ProblemName   Count
0       370992007                                      Dyslipidemia  133313
1             I10                  Essential (primary) hypertension   97039
2        44054006                          Type 2 diabetes mellitus   76674
3         1201005                     Benign essential hypertension   72796
4        59621000                            Essential hypertension   57232
...           ...                                               ...     ...
19634   424648000  Closed fracture of base of fifth metatarsal bone       1
19635    42452002                            Thoracic radiculopathy       1
19636   424492005                                      Itch of skin       1
19637   424408000                         Keratoacanthoma of eyelid       1
19638     4208000     Closed multiple fractures of both lower limbs       1

[19639 rows x 3 columns]

In [10]:
diag_df = pd.DataFrame(diag_count)
diag_df

      ProblemCode                                       ProblemName   Count
0       370992007                                      Dyslipidemia  133313
1             I10                  Essential (primary) hypertension   97039
2        44054006                          Type 2 diabetes mellitus   76674
3         1201005                     Benign essential hypertension   72796
4        59621000                            Essential hypertension   57232
...           ...                                               ...     ...
19634   424648000  Closed fracture of base of fifth metatarsal bone       1
19635    42452002                            Thoracic radiculopathy       1
19636   424492005                                      Itch of skin       1
19637   424408000                         Keratoacanthoma of eyelid       1
19638     4208000     Closed multiple fractures of both lower limbs       1

[19639 rows x 3 columns]

##üóÇÔ∏èImport data: Lab

In [11]:
import pandas as pd
lab = pd.read_csv('/content/drive/MyDrive/Thesis Project Kidney/Lab.csv')
lab.head()

,LabNo,PatientUID,PatientVisitUID,Location,RequestItemName,ResultItemName,CWhen,ResultDttm,ResultValue,Unit,ReferenceRange
0,1,2299,2024049,‡πÄ‡∏ß‡∏ä‡∏®‡∏≤‡∏™‡∏ï‡∏£‡πå‡∏ô‡∏¥‡∏ß‡πÄ‡∏Ñ‡∏•‡∏µ‡∏¢‡∏£‡πå (OPD)-D15,BMD LUMBAR,Formatted Result,2558-02-19 16:16:51.423,NaN,FT,NaN,NaN
1,1,2299,2024049,‡∏´‡πâ‡∏≠‡∏á‡∏õ‡∏è‡∏¥‡∏ö‡∏±‡∏ï‡∏¥‡∏Å‡∏≤‡∏£‡πÄ‡∏Ñ‡∏°‡∏µ‡∏Ñ‡∏•‡∏¥‡∏ô‡∏¥‡∏Å ‡πÄ‡∏ß‡∏ä‡∏®‡∏≤‡∏™‡∏ï‡∏£‡πå‡∏ä‡∏±‡∏ô‡∏™‡∏π‡∏ï‡∏£,"ALBUMIN, 32403","ALBUMIN, 32403",2558-02-19 10:32:20.907,NaN,4.1,NaN,3.8 - 5.4
2,1,2299,2024049,‡∏´‡πâ‡∏≠‡∏á‡∏õ‡∏è‡∏¥‡∏ö‡∏±‡∏ï‡∏¥‡∏Å‡∏≤‡∏£‡πÄ‡∏Ñ‡∏°‡∏µ‡∏Ñ‡∏•‡∏¥‡∏ô‡∏¥‡∏Å ‡πÄ‡∏ß‡∏ä‡∏®‡∏≤‡∏™‡∏ï‡∏£‡πå‡∏ä‡∏±‡∏ô‡∏™‡∏π‡∏ï‡∏£,Alkaline Phos,"ALP, 32309",2558-02-19 10:32:21.610,NaN,44,NaN,42 - 121
3,1,2299,2024049,‡∏´‡πâ‡∏≠‡∏á‡∏õ‡∏è‡∏¥‡∏ö‡∏±‡∏ï‡∏¥‡∏Å‡∏≤‡∏£‡πÄ‡∏Ñ‡∏°‡∏µ‡∏Ñ‡∏•‡∏¥‡∏ô‡∏¥‡∏Å ‡πÄ‡∏ß‡∏ä‡∏®‡∏≤‡∏™‡∏ï‡∏£‡πå‡∏ä‡∏±‡∏ô‡∏™‡∏π‡∏ï‡∏£,"ALT, 32311","ALT, 32311",2558-02-19 10:32:21.390,NaN,17,NaN,4 - 36
4,1,2299,2024049,‡∏´‡πâ‡∏≠‡∏á‡∏õ‡∏è‡∏¥‡∏ö‡∏±‡∏ï‡∏¥‡∏Å‡∏≤‡∏£‡πÄ‡∏Ñ‡∏°‡∏µ‡∏Ñ‡∏•‡∏¥‡∏ô‡∏¥‡∏Å ‡πÄ‡∏ß‡∏ä‡∏®‡∏≤‡∏™‡∏ï‡∏£‡πå‡∏ä‡∏±‡∏ô‡∏™‡∏π‡∏ï‡∏£,"AST, 32310","AST, 32310",2558-02-19 10:32:21.500,NaN,23,NaN,12 - 32

In [12]:
lab_location = lab['Location'].value_counts().reset_index()
lab_location.columns = ['Location', 'Location_Count']

lab_result = lab['ResultItemName'].value_counts().reset_index()
lab_result.columns = ['ResultItemName', 'ResultItemName_Count']

lab_request = lab['RequestItemName'].value_counts().reset_index()
lab_request.columns = ['RequestItemName', 'RequestItemName_Count']

columns_to_count = ['Location', 'ResultItemName', 'RequestItemName']

# Count unique values in the specified columns
lab_count = lab[columns_to_count].value_counts().reset_index()
lab_count.columns = ['Location', 'ResultItemName', 'RequestItemName', 'Count']

###‚ûïAssignment Added

‡πÉ‡∏ô‡∏ï‡∏≤‡∏£‡∏≤‡∏á Lab.csv ‡πÉ‡∏´‡πâ‡∏ó‡∏≥‡∏ï‡∏≤‡∏£‡∏≤‡∏á frequency ‡∏ó‡∏µ‡πà‡πÄ‡∏õ‡πá‡∏ô‡∏™‡∏≤‡∏°‡∏ï‡∏±‡∏ß‡πÅ‡∏õ‡∏£ Location, RequestItemName, ResultItemName ‡πÄ‡∏õ‡πá‡∏ô‡∏Å‡∏≤‡∏£‡πÄ‡∏û‡∏¥‡πà‡∏°‡∏ï‡∏±‡∏ß‡πÅ‡∏õ‡∏£ ‡πÄ‡∏û‡∏£‡∏≤‡∏∞‡∏ó‡∏µ‡πà‡∏ó‡∏≥‡∏°‡∏≤‡∏Å‡πà‡∏≠‡∏ô‡∏´‡∏ô‡πâ‡∏≤‡∏ô‡∏µ‡πâ‡∏°‡∏µ‡πÅ‡∏Ñ‡πà‡∏™‡∏≠‡∏á‡∏ï‡∏±‡∏ß‡πÅ‡∏õ‡∏£‡∏Ñ‡πà‡∏∞

In [13]:
lab_count

,Location,ResultItemName,RequestItemName,Count
0,‡∏´‡πâ‡∏≠‡∏á‡∏õ‡∏è‡∏¥‡∏ö‡∏±‡∏ï‡∏¥‡∏Å‡∏≤‡∏£‡πÄ‡∏Ñ‡∏°‡∏µ‡∏Ñ‡∏•‡∏¥‡∏ô‡∏¥‡∏Å ‡πÄ‡∏ß‡∏ä‡∏®‡∏≤‡∏™‡∏ï‡∏£‡πå‡∏ä‡∏±‡∏ô‡∏™‡∏π‡∏ï‡∏£,"CREATININE, 32202",CREATININE,554545
1,‡∏´‡πâ‡∏≠‡∏á‡∏õ‡∏è‡∏¥‡∏ö‡∏±‡∏ï‡∏¥‡∏Å‡∏≤‡∏£‡πÄ‡∏Ñ‡∏°‡∏µ‡∏Ñ‡∏•‡∏¥‡∏ô‡∏¥‡∏Å ‡πÄ‡∏ß‡∏ä‡∏®‡∏≤‡∏™‡∏ï‡∏£‡πå‡∏ä‡∏±‡∏ô‡∏™‡∏π‡∏ï‡∏£,eGFR(CKD-EPI) age >=18,CREATININE,518694
2,‡∏´‡πâ‡∏≠‡∏á‡∏õ‡∏è‡∏¥‡∏ö‡∏±‡∏ï‡∏¥‡∏Å‡∏≤‡∏£‡πÄ‡∏Ñ‡∏°‡∏µ‡∏Ñ‡∏•‡∏¥‡∏ô‡∏¥‡∏Å ‡πÄ‡∏ß‡∏ä‡∏®‡∏≤‡∏™‡∏ï‡∏£‡πå‡∏ä‡∏±‡∏ô‡∏™‡∏π‡∏ï‡∏£,"POTASSIUM, 32103",POTASSIUM,496043
3,‡∏´‡πâ‡∏≠‡∏á‡∏õ‡∏è‡∏¥‡∏ö‡∏±‡∏ï‡∏¥‡∏Å‡∏≤‡∏£‡πÄ‡∏Ñ‡∏°‡∏µ‡∏Ñ‡∏•‡∏¥‡∏ô‡∏¥‡∏Å ‡πÄ‡∏ß‡∏ä‡∏®‡∏≤‡∏™‡∏ï‡∏£‡πå‡∏ä‡∏±‡∏ô‡∏™‡∏π‡∏ï‡∏£,"BICARBONATE, 32105",BICARBONATE,482723
4,‡∏´‡πâ‡∏≠‡∏á‡∏õ‡∏è‡∏¥‡∏ö‡∏±‡∏ï‡∏¥‡∏Å‡∏≤‡∏£‡πÄ‡∏Ñ‡∏°‡∏µ‡∏Ñ‡∏•‡∏¥‡∏ô‡∏¥‡∏Å ‡πÄ‡∏ß‡∏ä‡∏®‡∏≤‡∏™‡∏ï‡∏£‡πå‡∏ä‡∏±‡∏ô‡∏™‡∏π‡∏ï‡∏£,"SODIUM, 32102",SODIUM,482123
...,...,...,...,...
3441,‡∏´‡πâ‡∏≠‡∏á Xray ‡∏ä‡∏±‡πâ‡∏ô 1-D1403,Formatted Result,HIP (LEFT FROG LEG),1
3442,‡∏´‡πâ‡∏≠‡∏á‡∏õ‡∏è‡∏¥‡∏ö‡∏±‡∏ï‡∏¥‡∏Å‡∏≤‡∏£‡πÄ‡∏Ñ‡∏°‡∏µ‡∏Ñ‡∏•‡∏¥‡∏ô‡∏¥‡∏Å ‡πÄ‡∏ß‡∏ä‡∏®‡∏≤‡∏™‡∏ï‡∏£‡πå‡∏ä‡∏±‡∏ô‡∏™‡∏π‡∏ï‡∏£,FSH 0 min,FSH 0 min,1
3443,‡∏´‡πâ‡∏≠‡∏á‡∏õ‡∏è‡∏¥‡∏ö‡∏±‡∏ï‡∏¥‡∏Å‡∏≤‡∏£‡πÄ‡∏Ñ‡∏°‡∏µ‡∏Ñ‡∏•‡∏¥‡∏ô‡∏¥‡∏Å ‡πÄ‡∏ß‡∏ä‡∏®‡∏≤‡∏™‡∏ï‡∏£‡πå‡∏ä‡∏±‡∏ô‡∏™‡∏π‡∏ï‡∏£,FSH 60 min,FSH 60 min,1
3444,‡∏´‡πâ‡∏≠‡∏á‡∏õ‡∏è‡∏¥‡∏ö‡∏±‡∏ï‡∏¥‡∏Å‡∏≤‡∏£‡∏†‡∏≤‡∏Ñ‡∏ß‡∏¥‡∏ä‡∏≤‡∏õ‡∏£‡∏™‡∏¥‡∏ï‡∏ß‡∏¥‡∏ó‡∏¢‡∏≤,Concentration technique for parasite (non-stoo...,Concentration technique for parasite (non-stoo...,1
3445,OPD Anest (SPAC),BE(B),BloodGas(POCT),1

In [14]:
lab_df = pd.DataFrame(lab_count)
lab_df

,Location,ResultItemName,RequestItemName,Count
0,‡∏´‡πâ‡∏≠‡∏á‡∏õ‡∏è‡∏¥‡∏ö‡∏±‡∏ï‡∏¥‡∏Å‡∏≤‡∏£‡πÄ‡∏Ñ‡∏°‡∏µ‡∏Ñ‡∏•‡∏¥‡∏ô‡∏¥‡∏Å ‡πÄ‡∏ß‡∏ä‡∏®‡∏≤‡∏™‡∏ï‡∏£‡πå‡∏ä‡∏±‡∏ô‡∏™‡∏π‡∏ï‡∏£,"CREATININE, 32202",CREATININE,554545
1,‡∏´‡πâ‡∏≠‡∏á‡∏õ‡∏è‡∏¥‡∏ö‡∏±‡∏ï‡∏¥‡∏Å‡∏≤‡∏£‡πÄ‡∏Ñ‡∏°‡∏µ‡∏Ñ‡∏•‡∏¥‡∏ô‡∏¥‡∏Å ‡πÄ‡∏ß‡∏ä‡∏®‡∏≤‡∏™‡∏ï‡∏£‡πå‡∏ä‡∏±‡∏ô‡∏™‡∏π‡∏ï‡∏£,eGFR(CKD-EPI) age >=18,CREATININE,518694
2,‡∏´‡πâ‡∏≠‡∏á‡∏õ‡∏è‡∏¥‡∏ö‡∏±‡∏ï‡∏¥‡∏Å‡∏≤‡∏£‡πÄ‡∏Ñ‡∏°‡∏µ‡∏Ñ‡∏•‡∏¥‡∏ô‡∏¥‡∏Å ‡πÄ‡∏ß‡∏ä‡∏®‡∏≤‡∏™‡∏ï‡∏£‡πå‡∏ä‡∏±‡∏ô‡∏™‡∏π‡∏ï‡∏£,"POTASSIUM, 32103",POTASSIUM,496043
3,‡∏´‡πâ‡∏≠‡∏á‡∏õ‡∏è‡∏¥‡∏ö‡∏±‡∏ï‡∏¥‡∏Å‡∏≤‡∏£‡πÄ‡∏Ñ‡∏°‡∏µ‡∏Ñ‡∏•‡∏¥‡∏ô‡∏¥‡∏Å ‡πÄ‡∏ß‡∏ä‡∏®‡∏≤‡∏™‡∏ï‡∏£‡πå‡∏ä‡∏±‡∏ô‡∏™‡∏π‡∏ï‡∏£,"BICARBONATE, 32105",BICARBONATE,482723
4,‡∏´‡πâ‡∏≠‡∏á‡∏õ‡∏è‡∏¥‡∏ö‡∏±‡∏ï‡∏¥‡∏Å‡∏≤‡∏£‡πÄ‡∏Ñ‡∏°‡∏µ‡∏Ñ‡∏•‡∏¥‡∏ô‡∏¥‡∏Å ‡πÄ‡∏ß‡∏ä‡∏®‡∏≤‡∏™‡∏ï‡∏£‡πå‡∏ä‡∏±‡∏ô‡∏™‡∏π‡∏ï‡∏£,"SODIUM, 32102",SODIUM,482123
...,...,...,...,...
3441,‡∏´‡πâ‡∏≠‡∏á Xray ‡∏ä‡∏±‡πâ‡∏ô 1-D1403,Formatted Result,HIP (LEFT FROG LEG),1
3442,‡∏´‡πâ‡∏≠‡∏á‡∏õ‡∏è‡∏¥‡∏ö‡∏±‡∏ï‡∏¥‡∏Å‡∏≤‡∏£‡πÄ‡∏Ñ‡∏°‡∏µ‡∏Ñ‡∏•‡∏¥‡∏ô‡∏¥‡∏Å ‡πÄ‡∏ß‡∏ä‡∏®‡∏≤‡∏™‡∏ï‡∏£‡πå‡∏ä‡∏±‡∏ô‡∏™‡∏π‡∏ï‡∏£,FSH 0 min,FSH 0 min,1
3443,‡∏´‡πâ‡∏≠‡∏á‡∏õ‡∏è‡∏¥‡∏ö‡∏±‡∏ï‡∏¥‡∏Å‡∏≤‡∏£‡πÄ‡∏Ñ‡∏°‡∏µ‡∏Ñ‡∏•‡∏¥‡∏ô‡∏¥‡∏Å ‡πÄ‡∏ß‡∏ä‡∏®‡∏≤‡∏™‡∏ï‡∏£‡πå‡∏ä‡∏±‡∏ô‡∏™‡∏π‡∏ï‡∏£,FSH 60 min,FSH 60 min,1
3444,‡∏´‡πâ‡∏≠‡∏á‡∏õ‡∏è‡∏¥‡∏ö‡∏±‡∏ï‡∏¥‡∏Å‡∏≤‡∏£‡∏†‡∏≤‡∏Ñ‡∏ß‡∏¥‡∏ä‡∏≤‡∏õ‡∏£‡∏™‡∏¥‡∏ï‡∏ß‡∏¥‡∏ó‡∏¢‡∏≤,Concentration technique for parasite (non-stoo...,Concentration technique for parasite (non-stoo...,1
3445,OPD Anest (SPAC),BE(B),BloodGas(POCT),1

### üîé**UniqueValues**
columns: **Location and ResultItemName** in Lab.csv

In [15]:
lab_location = lab['Location'].value_counts().reset_index()
lab_location.columns = ['Location','Count']
lab_location

                                        Location     Count
0                ‡∏´‡πâ‡∏≠‡∏á‡∏õ‡∏è‡∏¥‡∏ö‡∏±‡∏ï‡∏¥‡∏Å‡∏≤‡∏£‡∏à‡∏∏‡∏•‡∏ó‡∏£‡∏£‡∏®‡∏ô‡πå‡∏ß‡∏¥‡∏ô‡∏¥‡∏à‡∏â‡∏±‡∏¢  11033732
1      ‡∏´‡πâ‡∏≠‡∏á‡∏õ‡∏è‡∏¥‡∏ö‡∏±‡∏ï‡∏¥‡∏Å‡∏≤‡∏£‡πÄ‡∏Ñ‡∏°‡∏µ‡∏Ñ‡∏•‡∏¥‡∏ô‡∏¥‡∏Å ‡πÄ‡∏ß‡∏ä‡∏®‡∏≤‡∏™‡∏ï‡∏£‡πå‡∏ä‡∏±‡∏ô‡∏™‡∏π‡∏ï‡∏£   9919377
2           ‡∏´‡πâ‡∏≠‡∏á‡∏õ‡∏è‡∏¥‡∏ö‡∏±‡∏ï‡∏¥‡∏Å‡∏≤‡∏£‡∏´‡∏ô‡πà‡∏ß‡∏¢‡∏à‡∏∏‡∏•‡∏ä‡∏µ‡∏ß‡∏ß‡∏¥‡∏ó‡∏¢‡∏≤‡∏Ñ‡∏•‡∏¥‡∏ô‡∏¥‡∏Å    200353
3           ‡∏´‡πâ‡∏≠‡∏á‡∏õ‡∏è‡∏¥‡∏ö‡∏±‡∏ï‡∏¥‡∏Å‡∏≤‡∏£‡∏†‡∏π‡∏°‡∏¥‡∏Ñ‡∏∏‡πâ‡∏°‡∏Å‡∏±‡∏ô‡∏ß‡∏¥‡∏ó‡∏¢‡∏≤‡∏Ñ‡∏•‡∏¥‡∏ô‡∏¥‡∏Å    190574
4                         ‡∏´‡πâ‡∏≠‡∏á Xray ‡∏ä‡∏±‡πâ‡∏ô 1-D1403    114615
5                ‡∏´‡πâ‡∏≠‡∏á‡∏õ‡∏è‡∏¥‡∏ö‡∏±‡∏ï‡∏¥‡∏Å‡∏≤‡∏£‡∏†‡∏≤‡∏Ñ‡∏ß‡∏¥‡∏ä‡∏≤‡∏õ‡∏£‡∏™‡∏¥‡∏ï‡∏ß‡∏¥‡∏ó‡∏¢‡∏≤     48546
6          ‡∏´‡πâ‡∏≠‡∏á‡∏õ‡∏è‡∏¥‡∏ö‡∏±‡∏ï‡∏¥‡∏Å‡∏≤‡∏£‡∏´‡∏ô‡πà‡∏ß‡∏¢‡∏ä‡∏µ‡∏ß‡πÇ‡∏°‡πÄ‡∏•‡∏Å‡∏∏‡∏•‡∏ß‡∏¥‡∏ô‡∏±‡∏à‡∏â‡∏±‡∏¢     33513
7               ‡∏´‡πâ‡∏≠‡∏á‡∏õ‡∏è‡∏¥‡∏ö‡∏±‡∏ï‡∏¥‡∏Å‡∏≤‡∏£‡∏†‡∏≤‡∏Ñ‡∏ß‡∏¥‡∏ä‡∏≤‡∏à‡∏∏‡∏•‡∏ä‡∏µ‡∏ß‡∏ß‡∏¥‡∏ó‡∏¢‡∏≤     27910
8                ‡∏´‡πâ‡∏≠‡∏á‡∏õ‡∏è‡∏¥‡∏ö‡∏±‡∏ï‡∏¥‡∏Å‡∏≤‡∏£‡∏†‡∏≤‡∏Ñ‡∏ß‡∏¥‡∏ä‡∏≤‡∏û‡∏¢‡∏≤‡∏ò‡∏¥‡∏ß‡∏¥‡∏ó‡∏¢‡∏≤     24011
9                  ‡πÄ‡∏ß‡∏ä‡∏®‡∏≤‡∏™‡∏ï‡∏£‡πå‡∏ô‡∏¥‡∏ß‡πÄ‡∏Ñ‡∏•‡∏µ‡∏¢‡∏£‡πå (OPD)-D15     18160
10                  ‡∏´‡πâ‡∏≠‡∏á‡∏õ‡∏è‡∏¥‡∏ö‡∏±‡∏ï‡∏¥‡∏Å‡∏≤‡∏£‡∏Ñ‡∏ì‡∏∞‡πÄ‡∏†‡∏™‡∏±‡∏ä‡∏®‡∏≤‡∏™‡∏ï‡∏£‡πå     14315
11                   ‡∏´‡πâ‡∏≠‡∏á‡∏õ‡∏è‡∏¥‡∏ö‡∏±‡∏ï‡∏¥‡∏Å‡∏≤‡∏£‡∏Ñ‡∏•‡∏±‡∏á‡πÄ‡∏•‡∏∑‡∏≠‡∏î‡∏Å‡∏•‡∏≤‡∏á     13071
12  ‡∏´‡∏ô‡πà‡∏ß‡∏¢‡∏ó‡∏∞‡πÄ‡∏ö‡∏µ‡∏¢‡∏ô‡∏Å‡∏•‡∏≤‡∏á(Test ‡∏û‡∏¥‡πÄ‡∏®‡∏©)‡πÄ‡∏ß‡∏ä‡∏®‡∏≤‡∏™‡∏ï‡∏£‡πå‡∏ä‡∏±‡∏ô‡∏™‡∏π‡∏ï‡∏£      1642
13                ‡∏´‡πâ‡∏≠‡∏á‡∏õ‡∏è‡∏¥‡∏ö‡∏±‡∏ï‡∏¥‡∏Å‡∏≤‡∏£‡πÄ‡∏†‡∏™‡∏±‡∏ä‡∏û‡∏±‡∏ô‡∏ò‡∏∏‡∏®‡∏≤‡∏™‡∏ï‡∏£‡πå       951
14                            ‡∏´‡πâ‡∏≠‡∏á‡∏õ‡∏è‡∏¥‡∏ö‡∏±‡∏ï‡∏¥‡∏Å‡∏≤‡∏£ SEL       430
15              ‡∏´‡πâ‡∏≠‡∏á‡∏õ‡∏è‡∏¥‡∏ö‡∏±‡∏ï‡∏¥‡∏Å‡∏≤‡∏£‡∏†‡∏≤‡∏Ñ‡∏ß‡∏¥‡∏ä‡∏≤‡∏≠‡∏≤‡∏¢‡∏∏‡∏£‡∏®‡∏≤‡∏™‡∏ï‡∏£‡πå        62
16                              OPD Anest (SPAC)        45
17               ‡∏´‡πâ‡∏≠‡∏á‡∏õ‡∏è‡∏¥‡∏ö‡∏±‡∏ï‡∏¥‡∏Å‡∏≤‡∏£‡∏Ñ‡∏ì‡∏∞‡πÄ‡∏ó‡∏Ñ‡∏ô‡∏¥‡∏Ñ‡∏Å‡∏≤‡∏£‡πÅ‡∏û‡∏ó‡∏¢‡πå        28
18            ‡∏´‡πâ‡∏≠‡∏á‡∏õ‡∏è‡∏¥‡∏ö‡∏±‡∏ï‡∏¥‡∏Å‡∏≤‡∏£‡∏†‡∏≤‡∏Ñ‡∏ß‡∏¥‡∏ä‡∏≤‡∏ô‡∏¥‡∏ï‡∏¥‡πÄ‡∏ß‡∏ä‡∏®‡∏≤‡∏™‡∏ï‡∏£‡πå        25
19                                OR ‡∏Ñ‡∏•‡∏¥‡∏ô‡∏¥‡∏Å-TH09         6
20           ‡∏´‡πâ‡∏≠‡∏á‡∏õ‡∏è‡∏¥‡∏ö‡∏±‡∏ï‡∏¥‡∏Å‡∏≤‡∏£‡πÄ‡∏ï‡∏£‡∏µ‡∏¢‡∏°‡πÇ‡∏•‡∏´‡∏¥‡∏ï‡πÉ‡∏´‡πâ‡∏ú‡∏π‡πâ‡∏õ‡πà‡∏ß‡∏¢         3
21            ‡∏´‡∏ô‡πà‡∏ß‡∏¢‡πÇ‡∏£‡∏Ñ‡πÑ‡∏ï4‡∏à ‡∏°‡∏π‡∏•‡∏ô‡∏¥‡∏ò‡∏¥‡∏à‡∏¥‡∏ï‡∏ï‡∏≤‡∏ô‡∏∏‡πÄ‡∏Ñ‡∏£‡∏≤‡∏∞‡∏´‡πå         2
22              ‡∏´‡πâ‡∏≠‡∏á‡∏õ‡∏è‡∏¥‡∏ö‡∏±‡∏ï‡∏¥‡∏Å‡∏≤‡∏£‡∏ï‡∏£‡∏ß‡∏à‡∏™‡∏≠‡∏ö‡πÇ‡∏•‡∏´‡∏¥‡∏ï‡∏ö‡∏£‡∏¥‡∏à‡∏≤‡∏Ñ         2
23                         ‡∏´‡πâ‡∏≠‡∏á‡∏õ‡∏è‡∏¥‡∏ö‡∏±‡∏ï‡∏¥‡∏Å‡∏≤‡∏£‡∏ä‡∏µ‡∏ß‡πÄ‡∏Ñ‡∏°‡∏µ         2
24                           ‡∏Ç‡∏≠‡πÉ‡∏ö‡πÄ‡∏Ñ‡∏•‡∏°‡∏õ‡∏£‡∏∞‡∏Å‡∏±‡∏ô‡∏ä‡∏µ‡∏ß‡∏¥‡∏ï         1

In [16]:
lab_result = lab['ResultItemName'].value_counts().reset_index()
lab_result.columns = ['ResultItemName','Count']
lab_result

                       ResultItemName   Count
0                   CREATININE, 32202  587851
1                               WBC    568859
2                               RBC    568809
3                    POTASSIUM, 32103  520628
4              eGFR(CKD-EPI) age >=18  518711
...                               ...     ...
1548   RQ-PCR for BCR/ABL (p190,p210)       1
1549          EBV, qualitative RT-PCR       1
1550  Benzodiazepine (screening test)       1
1551        PCR for EBV : qualitative       1
1552                        Antigen S       1

[1553 rows x 2 columns]

In [17]:
# Specify the columns for unique value counting
columns_to_count = ['Location', 'ResultItemName']

# Count unique values in the specified columns
lab_count = lab[columns_to_count].value_counts().reset_index()
lab_count.columns = ['Location', 'ResultItemName', 'Count']
lab_count

,Location,ResultItemName,Count
0,‡∏´‡πâ‡∏≠‡∏á‡∏õ‡∏è‡∏¥‡∏ö‡∏±‡∏ï‡∏¥‡∏Å‡∏≤‡∏£‡πÄ‡∏Ñ‡∏°‡∏µ‡∏Ñ‡∏•‡∏¥‡∏ô‡∏¥‡∏Å ‡πÄ‡∏ß‡∏ä‡∏®‡∏≤‡∏™‡∏ï‡∏£‡πå‡∏ä‡∏±‡∏ô‡∏™‡∏π‡∏ï‡∏£,"CREATININE, 32202",587851
1,‡∏´‡πâ‡∏≠‡∏á‡∏õ‡∏è‡∏¥‡∏ö‡∏±‡∏ï‡∏¥‡∏Å‡∏≤‡∏£‡∏à‡∏∏‡∏•‡∏ó‡∏£‡∏£‡∏®‡∏ô‡πå‡∏ß‡∏¥‡∏ô‡∏¥‡∏à‡∏â‡∏±‡∏¢,WBC,568852
2,‡∏´‡πâ‡∏≠‡∏á‡∏õ‡∏è‡∏¥‡∏ö‡∏±‡∏ï‡∏¥‡∏Å‡∏≤‡∏£‡∏à‡∏∏‡∏•‡∏ó‡∏£‡∏£‡∏®‡∏ô‡πå‡∏ß‡∏¥‡∏ô‡∏¥‡∏à‡∏â‡∏±‡∏¢,RBC,568802
3,‡∏´‡πâ‡∏≠‡∏á‡∏õ‡∏è‡∏¥‡∏ö‡∏±‡∏ï‡∏¥‡∏Å‡∏≤‡∏£‡πÄ‡∏Ñ‡∏°‡∏µ‡∏Ñ‡∏•‡∏¥‡∏ô‡∏¥‡∏Å ‡πÄ‡∏ß‡∏ä‡∏®‡∏≤‡∏™‡∏ï‡∏£‡πå‡∏ä‡∏±‡∏ô‡∏™‡∏π‡∏ï‡∏£,"POTASSIUM, 32103",520628
4,‡∏´‡πâ‡∏≠‡∏á‡∏õ‡∏è‡∏¥‡∏ö‡∏±‡∏ï‡∏¥‡∏Å‡∏≤‡∏£‡πÄ‡∏Ñ‡∏°‡∏µ‡∏Ñ‡∏•‡∏¥‡∏ô‡∏¥‡∏Å ‡πÄ‡∏ß‡∏ä‡∏®‡∏≤‡∏™‡∏ï‡∏£‡πå‡∏ä‡∏±‡∏ô‡∏™‡∏π‡∏ï‡∏£,eGFR(CKD-EPI) age >=18,518711
...,...,...,...
1842,‡∏´‡πâ‡∏≠‡∏á‡∏õ‡∏è‡∏¥‡∏ö‡∏±‡∏ï‡∏¥‡∏Å‡∏≤‡∏£‡πÄ‡∏Ñ‡∏°‡∏µ‡∏Ñ‡∏•‡∏¥‡∏ô‡∏¥‡∏Å ‡πÄ‡∏ß‡∏ä‡∏®‡∏≤‡∏™‡∏ï‡∏£‡πå‡∏ä‡∏±‡∏ô‡∏™‡∏π‡∏ï‡∏£,FSH 0 min,1
1843,‡∏´‡πâ‡∏≠‡∏á‡∏õ‡∏è‡∏¥‡∏ö‡∏±‡∏ï‡∏¥‡∏Å‡∏≤‡∏£‡∏†‡∏≤‡∏Ñ‡∏ß‡∏¥‡∏ä‡∏≤‡∏à‡∏∏‡∏•‡∏ä‡∏µ‡∏ß‡∏ß‡∏¥‡∏ó‡∏¢‡∏≤,Consistent,1
1844,‡∏´‡πâ‡∏≠‡∏á‡∏õ‡∏è‡∏¥‡∏ö‡∏±‡∏ï‡∏¥‡∏Å‡∏≤‡∏£‡∏´‡∏ô‡πà‡∏ß‡∏¢‡∏ä‡∏µ‡∏ß‡πÇ‡∏°‡πÄ‡∏•‡∏Å‡∏∏‡∏•‡∏ß‡∏¥‡∏ô‡∏±‡∏à‡∏â‡∏±‡∏¢,Phospholipase A2 Receptor Ab (PLA2R Ab),1
1845,‡∏´‡πâ‡∏≠‡∏á‡∏õ‡∏è‡∏¥‡∏ö‡∏±‡∏ï‡∏¥‡∏Å‡∏≤‡∏£‡∏´‡∏ô‡πà‡∏ß‡∏¢‡∏ä‡∏µ‡∏ß‡πÇ‡∏°‡πÄ‡∏•‡∏Å‡∏∏‡∏•‡∏ß‡∏¥‡∏ô‡∏±‡∏à‡∏â‡∏±‡∏¢,"Parvo virus B19, qualitative RT-PCR",1
1846,OPD Anest (SPAC),BE(B),1

##üóÇÔ∏èImport data: Prescription

In [18]:
import pandas as pd
prescription = pd.read_csv('/content/drive/MyDrive/Thesis Project Kidney/Prescription.csv')
prescription.head()

,PatientUID,PatientVisitUID,DispensedDttm,DrugName,GenericName,Quantity,DrugFrequency,Dosage,DosageForm,DrugDuration
0,2299,2024049,2558-02-19 14:48:15.693,Folic Acid 5 mg TAB,Folivit tab 5 mg,90.0,od pc |‡∏ß‡∏±‡∏ô‡∏•‡∏∞ 1 ‡∏Ñ‡∏£‡∏±‡πâ‡∏á ‡∏´‡∏•‡∏±‡∏á‡∏≠‡∏≤‡∏´‡∏≤‡∏£‡πÄ‡∏ä‡πâ‡∏≤,1.0,1 TAB,90.0
1,2299,2024049,2558-02-19 14:48:15.693,Vitamin B Complex TAB,Vitamin B Complex TAB,180.0,bid pc |‡∏ß‡∏±‡∏ô‡∏•‡∏∞ 2 ‡∏Ñ‡∏£‡∏±‡πâ‡∏á ‡∏´‡∏•‡∏±‡∏á‡∏≠‡∏≤‡∏´‡∏≤‡∏£‡πÄ‡∏ä‡πâ‡∏≤ ‡πÄ‡∏¢‡πá‡∏ô,1.0,1 TAB,90.0
2,2299,2024049,2558-02-19 14:48:15.693,losartan(Loranta) 50 mg TAB,Loranta film-coated tab 50 mg,90.0,od pc |‡∏ß‡∏±‡∏ô‡∏•‡∏∞ 1 ‡∏Ñ‡∏£‡∏±‡πâ‡∏á ‡∏´‡∏•‡∏±‡∏á‡∏≠‡∏≤‡∏´‡∏≤‡∏£‡πÄ‡∏ä‡πâ‡∏≤,1.0,1 TAB,90.0
3,2299,2024049,2558-02-19 14:48:15.693,lorazepam(Anxira) 0.5 mg TAB,Anxira tab 0.5 mg,30.0,hs |‡∏ß‡∏±‡∏ô‡∏•‡∏∞ 1 ‡∏Ñ‡∏£‡∏±‡πâ‡∏á ‡∏Å‡πà‡∏≠‡∏ô‡∏ô‡∏≠‡∏ô,1.0,1 TAB,30.0
4,2299,2024049,2558-02-19 14:47:55.953,ChalkTAB-1.5 TAB,Chalktab 1500 mg,90.0,od pc |‡∏ß‡∏±‡∏ô‡∏•‡∏∞ 1 ‡∏Ñ‡∏£‡∏±‡πâ‡∏á ‡∏´‡∏•‡∏±‡∏á‡∏≠‡∏≤‡∏´‡∏≤‡∏£‡πÄ‡∏ä‡πâ‡∏≤,1.0,1 TAB,90.0

### **üîéUniqueValues**
columns: **DrugName, GenericName, and (DrugName,GenericName)** in Prescription.csv

###‚ûïAssignment Added

2) ‡πÉ‡∏ô‡∏ï‡∏≤‡∏£‡∏≤‡∏á Prescription.csv ‡πÉ‡∏´‡πâ‡∏ó‡∏≥‡∏ï‡∏≤‡∏£‡∏≤‡∏á‡∏£‡∏≤‡∏¢‡∏Å‡∏≤‡∏£‡∏¢‡∏≤‡πÉ‡∏´‡∏°‡πà‡∏ó‡∏µ‡πà‡πÉ‡∏ä‡πâ‡∏ï‡∏±‡∏ß‡πÅ‡∏õ‡∏£ DrugName ‡πÅ‡∏•‡∏∞ GenericName ‡πÅ‡∏ï‡πà‡∏ß‡πà‡∏≤‡πÉ‡∏´‡πâ‡∏°‡∏µ‡∏Å‡∏≤‡∏£‡πÄ‡∏ï‡∏£‡∏µ‡∏¢‡∏°‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡πÉ‡∏ô‡πÑ‡∏ü‡∏•‡πå‡πÉ‡∏´‡∏°‡πà ‡πÇ‡∏î‡∏¢‡∏ï‡∏±‡∏î‡∏Ç‡∏ô‡∏≤‡∏î‡∏¢‡∏≤‡∏≠‡∏≠‡∏Å‡∏ó‡∏±‡πâ‡∏á‡∏´‡∏°‡∏î ‡∏Ñ‡∏∑‡∏≠ ‡πÄ‡∏•‡∏∑‡∏≠‡∏Å‡πÅ‡∏ï‡πà‡∏Ñ‡∏≥‡∏ó‡∏µ‡πà‡∏õ‡∏£‡∏≤‡∏Å‡∏è‡∏Å‡πà‡∏≠‡∏ô‡∏Ç‡∏ô‡∏≤‡∏î‡∏¢‡∏≤ ‡πÄ‡∏ä‡πà‡∏ô
- hydralazine(Cesoline W) 25 mg TAB ‡πÄ‡∏õ‡πá‡∏ô hydralazine(Cesoline W)
- Cesoline-W film-coated tab 25 mg ‡πÄ‡∏õ‡πá‡∏ô Cesoline-W film-coated tab
- CalTAB-1000 TAB ‡πÄ‡∏õ‡πá‡∏ô CalTAB
- Senolax 7.5 mg TAB ‡πÄ‡∏õ‡πá‡∏ô Senolax
- Ferrous fumarate 200mg TAB ‡πÄ‡∏õ‡πá‡∏ô Ferrous fumarate

‡∏ã‡∏∂‡πà‡∏á‡∏ß‡∏¥‡∏ò‡∏µ‡∏Å‡∏≤‡∏£‡∏Ñ‡∏∑‡∏≠‡∏à‡∏≤‡∏Å‡∏Ñ‡∏≥‡πÄ‡∏ï‡πá‡∏° ‡πÉ‡∏´‡πâ‡∏™‡∏£‡πâ‡∏≤‡∏á‡πÄ‡∏õ‡πá‡∏ô‡πÉ‡∏´‡πâ‡πÅ‡∏ö‡πà‡∏á split ‡πÇ‡∏î‡∏¢‡πÉ‡∏ä‡πâ sep ‡πÄ‡∏õ‡πá‡∏ô space ‡∏´‡∏£‡∏∑‡∏≠ dash (-) ‡πÅ‡∏•‡πâ‡∏ß‡∏´‡∏≤‡∏ï‡∏≥‡πÅ‡∏´‡∏ô‡πà‡∏á‡∏Ç‡∏≠‡∏á‡∏Ñ‡∏≥‡∏ó‡∏µ‡πà‡∏Ç‡∏∂‡πâ‡∏ô‡∏ï‡πâ‡∏ô‡∏î‡πâ‡∏ß‡∏¢‡∏ï‡∏±‡∏ß‡πÄ‡∏•‡∏Ç ‡πÅ‡∏•‡πâ‡∏ß‡πÄ‡∏•‡∏∑‡∏≠‡∏Å‡∏Ñ‡∏≥‡∏ó‡∏±‡πâ‡∏á‡∏´‡∏°‡∏î‡∏Å‡πà‡∏≠‡∏ô‡∏´‡∏ô‡πâ‡∏≤‡∏ô‡∏±‡πâ‡∏ô‡∏°‡∏≤ join ‡∏Å‡∏±‡∏ô‡πÄ‡∏õ‡πá‡∏ô‡∏ä‡∏∑‡πà‡∏≠‡∏¢‡∏≤‡πÉ‡∏´‡∏°‡πà‡∏Ñ‡πà‡∏∞

In [19]:
prescription = prescription[['DrugName','GenericName']]

In [20]:
# Function to clean medication names
def clean_medication_name(medication):
    if isinstance(medication, str):
        return medication.split(' ', 1)[0]
    else:
        return medication

# Apply clean_medication_name function to 'DrugName' column
prescription['CleanDrugName'] = prescription['DrugName'].apply(clean_medication_name)
prescription['CleanGenericName'] = prescription['GenericName'].apply(clean_medication_name)

# Print the dataframe with cleaned medication names
print(prescription)

                                                  DrugName  \
0                                      Folic Acid 5 mg TAB
1                                    Vitamin B Complex TAB
2                              losartan(Loranta) 50 mg TAB
3                             lorazepam(Anxira) 0.5 mg TAB
4                                         ChalkTAB-1.5 TAB
...                                                    ...
9530447                   Infusion plabottle set (IV.set)¬†
9530448                      Normal Saline 0.9% IV 1000 ml
9530449                       Normal Saline 0.9% IV 100 ml
9530450          Minimun Volume Extension with T connector
9530451  Intravenous Disposable Catheter ch.20 ‡∏Ñ‡∏ß‡∏≤‡∏°‡∏¢‡∏≤‡∏ß‡∏õ...

                           GenericName      CleanDrugName CleanGenericName
0                     Folivit tab 5 mg              Folic          Folivit
1                Vitamin B Complex TAB            Vitamin          Vitamin
2        Loranta film-coated tab 50 mg  losartan(Loranta)          Loranta
3                    Anxira tab 0.5 mg  lorazepam(Anxira)           Anxira
4                     Chalktab 1500 mg       ChalkTAB-1.5         Chalktab
...                                ...                ...              ...
9530447                            NaN           Infusion              NaN
9530448  Normal Saline 0.9% IV 1000 ml             Normal           Normal
9530449   Normal Saline 0.9% IV 100 ml             Normal           Normal
9530450                            NaN            Minimun              NaN
9530451                            NaN        Intravenous              NaN

[9530452 rows x 4 columns]

In [21]:
import pandas as pd
# Assuming you have a DataFrame named 'prescription' containing the data
#prescription['New_DrugName'] = prescription['DrugName'].str.replace(r'\s*\d+(\.\d+)?\(mg|g|ml|INJ|TAB)?', '', regex=True)
#unique_drugs = prescription['New_DrugName'].unique()
#unique_drugs_df = pd.DataFrame(unique_drugs, columns=['New_DrugName']).reset_index(drop=True)
#print(unique_drugs_df)

In [22]:
import pandas as pd
import re

# Assuming you have a DataFrame named 'prescription' containing the data
#prescription['New_GenericName'] = prescription['GenericName'].str.replace(r'\d+(\.\d+)?\s*(mg|g|ml| TAB| tab|INJ|u/mL|iu+/ml INJ| / INJ)?', '', regex=True, flags=re.I)
#unique_drugs2 = prescription['New_GenericName'].unique()
#unique_drugs_df2 = pd.DataFrame(unique_drugs2, columns=['New_GenericName']).reset_index(drop=True)
#print(unique_drugs_df2)

In [23]:
import pandas as pd

# Assuming you have a DataFrame named 'prescription' containing the data
unique_drug_count = prescription['DrugName'].nunique()
unique_generic_count = prescription['GenericName'].nunique()

print("Number of Old drugs:", unique_drug_count)
print("Number of Old generic names:", unique_generic_count)

Number of Old drugs: 8230
Number of Old generic names: 2326

In [24]:
unique_drug_count = prescription['CleanDrugName'].nunique()
unique_generic_count = prescription['CleanGenericName'].nunique()

print("Number of New drugs:", unique_drug_count)
print("Number of New generic names:", unique_generic_count)

Number of New drugs: 2809
Number of New generic names: 1616

In [25]:
prescription = prescription[['CleanDrugName','CleanGenericName']]

In [26]:
pre_drug = prescription['CleanDrugName'].value_counts().reset_index()
pre_drug.columns = ['DrugName', 'Count']

pre_generic = prescription['CleanGenericName'].value_counts().reset_index()
pre_generic.columns = ['GenericName', 'Count']

pre_count = prescription.groupby(['CleanDrugName', 'CleanGenericName']).size().reset_index()
pre_count.columns = ['DrugName', 'GenericName', 'Count']

In [28]:
pre_drug

                                               DrugName   Count
0                                               Vitamin  346827
1                                                Normal  286490
2                                                 Folic  262937
3                                        aspirin(Aspent  191145
4                                   omeprazole(Miracid)  189804
...                                                 ...     ...
2804                      ‡∏≠‡∏≤‡∏´‡∏≤‡∏£‡∏ó‡∏≤‡∏á‡∏Å‡∏≤‡∏£‡πÅ‡∏û‡∏ó‡∏¢‡πå‡∏™‡∏π‡∏ï‡∏£‡πÇ‡∏õ‡∏£‡∏ï‡∏µ‡∏ô‡πÅ‡∏•‡∏∞       1
2805                                              Vopar       1
2806                                             Exocin       1
2807                                           Pentaxim       1
2808  ‡∏™‡∏≤‡∏¢‡∏™‡∏ß‡∏ô‡πÄ‡∏û‡∏∑‡πà‡∏≠‡∏Å‡∏≤‡∏£‡∏Ç‡∏¢‡∏≤‡∏¢‡∏´‡∏•‡∏≠‡∏î‡πÄ‡∏•‡∏∑‡∏≠‡∏î‡πÅ‡∏î‡∏á‡πÉ‡∏´‡∏ç‡πà‡πÄ‡∏≠‡∏≠‡∏≠‡∏£‡πå‡∏ï‡∏≤‡∏î‡πâ‡∏ß‡∏¢...       1

[2809 rows x 2 columns]

In [29]:
pre_generic

         GenericName   Count
0             Normal  286490
1            Folivit  262937
2            Vitamin  260465
3     aspirin(Aspent  191145
4            Miracid  189804
...              ...     ...
1611           Mist.       1
1612          Exocin       1
1613        Pentaxim       1
1614         Hexaxim       1
1615        Adcetris       1

[1616 rows x 2 columns]

In [31]:
pre_df = pd.DataFrame(pre_count)
pre_df

                         DrugName            GenericName  Count
0                              2%                     2%     47
1                             3TC                    3TC    801
2                             3TC                Lamivir    289
3                             3TC             Lamivudine  10751
4                            5-FU                   5-FU     19
...                           ...                    ...    ...
1827  ‡πÉ‡∏ö‡∏°‡∏µ‡∏î‡∏ï‡∏±‡∏î‡πÄ‡∏ô‡∏∑‡πâ‡∏≠‡πÄ‡∏¢‡∏∑‡πà‡∏≠‡∏≠‡πà‡∏≠‡∏ô‡πÉ‡∏ô‡∏Ç‡πâ‡∏≠  Fluconazole(Fluzoral)      1
1828  ‡πÉ‡∏ö‡∏°‡∏µ‡∏î‡∏ï‡∏±‡∏î‡πÄ‡∏ô‡∏∑‡πâ‡∏≠‡πÄ‡∏¢‡∏∑‡πà‡∏≠‡∏≠‡πà‡∏≠‡∏ô‡πÉ‡∏ô‡∏Ç‡πâ‡∏≠        Furosemide(GPO)      1
1829  ‡πÉ‡∏ö‡∏°‡∏µ‡∏î‡∏ï‡∏±‡∏î‡πÄ‡∏ô‡∏∑‡πâ‡∏≠‡πÄ‡∏¢‡∏∑‡πà‡∏≠‡∏≠‡πà‡∏≠‡∏ô‡πÉ‡∏ô‡∏Ç‡πâ‡∏≠              Potassium      3
1830  ‡πÉ‡∏ö‡∏°‡∏µ‡∏î‡∏ï‡∏±‡∏î‡πÄ‡∏ô‡∏∑‡πâ‡∏≠‡πÄ‡∏¢‡∏∑‡πà‡∏≠‡∏≠‡πà‡∏≠‡∏ô‡πÉ‡∏ô‡∏Ç‡πâ‡∏≠        Rifampicin(GPO)     15
1831                   ‡πÑ‡∏î‡∏¢‡∏π‡πÇ‡∏ó‡∏£‡πÅ‡∏õ‡∏ô              Diutropan   3495

[1832 rows x 3 columns]

In [32]:
pre_drug = pd.DataFrame(pre_drug)
pre_generic = pd.DataFrame(pre_generic)

###   **Excel of Prescription File**

In [33]:
with pd.ExcelWriter('PrescriptionCount.xlsx') as writer:
    pre_df.to_excel(writer, sheet_name='Prescription')
    pre_drug.to_excel(writer, sheet_name='CleanDrugName')
    pre_generic.to_excel(writer, sheet_name='CleanGenericName')

##üóÇÔ∏èImport data: visit

In [34]:
import pandas as pd
visit = pd.read_csv('/content/drive/MyDrive/Thesis Project Kidney/Visit.csv')
visit.head()

<ipython-input-34-2fc26b67033e>:2: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  visit = pd.read_csv('/content/drive/MyDrive/Thesis Project Kidney/Visit.csv')

,PatientUID,PatientvisitUID,Sex,Age,ENTY,NATNL,StartDTTM,EndDttm,Location,PricipalProblemCode,PricipalProblemName
0,19319,25325,‡∏´‡∏ç‡∏¥‡∏á,83,Out Patient,‡πÑ‡∏ó‡∏¢,2555-01-01 00:00:00.000,2557-11-26 23:58:59.730,NaN,NaN,NaN
1,83224,25327,‡∏ä‡∏≤‡∏¢,64,Out Patient,‡πÑ‡∏ó‡∏¢,2555-01-01 00:00:00.000,2557-11-26 23:58:59.730,NaN,NaN,NaN
2,160455,25336,‡∏ä‡∏≤‡∏¢,86,Out Patient,‡πÑ‡∏ó‡∏¢,2555-01-01 00:00:00.000,2557-11-26 23:58:59.730,NaN,NaN,NaN
3,181216,25338,‡∏´‡∏ç‡∏¥‡∏á,82,Out Patient,‡πÑ‡∏ó‡∏¢,2555-01-01 00:00:00.000,2557-11-26 23:58:59.730,NaN,NaN,NaN
4,568147,25357,‡∏ä‡∏≤‡∏¢,68,Out Patient,‡πÑ‡∏ó‡∏¢,2555-01-01 00:00:00.000,2557-11-26 23:58:59.730,NaN,NaN,NaN

### **üîéUniqueValues**
columns: **PatientUID, PatientvisitUID, Sex, Age, ENTY, NATNL** in Visit.csv

In [35]:
visit_Sex = visit['Sex'].value_counts().reset_index()
visit_Sex.columns = ['UniqueValue','Count']
visit_Sex

  UniqueValue   Count
0         ‡∏ä‡∏≤‡∏¢  693912
1        ‡∏´‡∏ç‡∏¥‡∏á  646676

In [36]:
visit_Age = visit['Age'].value_counts().reset_index()
visit_Age.columns = ['UniqueValue','Count']
visit_Age

    UniqueValue  Count
0            68  45393
1            67  45249
2            66  44956
3            69  44758
4            71  43898
..          ...    ...
91          102     51
92           10     34
93          103     30
94            9     19
95          104     17

[96 rows x 2 columns]

In [37]:
visit_ENTY = visit['ENTY'].value_counts().reset_index()
visit_ENTY.columns = ['UniqueValue','Count']
visit_ENTY

   UniqueValue    Count
0  Out Patient  1242495
1    InPatient    54283
2            E    43808

In [38]:
visit_NATNL = visit['NATNL'].value_counts().reset_index()
visit_NATNL.columns = ['UniqueValue','Count']
visit_NATNL

                     UniqueValue    Count
0                            ‡πÑ‡∏ó‡∏¢  1329345
1                            ‡∏•‡∏≤‡∏ß     3098
2                       ‡∏≠‡πÄ‡∏°‡∏£‡∏¥‡∏Å‡∏±‡∏ô     1185
3   ‡∏ö‡∏£‡∏¥‡∏ï‡∏¥‡∏ä  (‡∏≠‡∏±‡∏á‡∏Å‡∏§‡∏©, ‡∏™‡∏Å‡πá‡∏≠‡∏ï‡πÅ‡∏•‡∏ô‡∏î‡πå)     1112
4                          ‡∏≠‡∏∑‡πà‡∏ô‡πÜ     1079
5                        ‡πÑ‡∏°‡πà‡∏£‡∏∞‡∏ö‡∏∏      544
6                     ‡∏≠‡∏≠‡∏™‡πÄ‡∏ï‡∏£‡πÄ‡∏•‡∏µ‡∏¢      472
7                        ‡πÄ‡∏¢‡∏≠‡∏£‡∏°‡∏±‡∏ô      352
8                       ‡πÄ‡∏ß‡∏µ‡∏¢‡∏î‡∏ô‡∏≤‡∏°      226
9                          ‡πÇ‡∏≠‡∏°‡∏≤‡∏ô      177
10                      ‡πÄ‡∏î‡∏ô‡∏°‡∏≤‡∏£‡πå‡∏Å      124
11                           ‡∏à‡∏µ‡∏ô      119
12                          ‡∏™‡∏ß‡∏¥‡∏™      109
13                        ‡∏≠‡∏¥‡∏ï‡∏≤‡∏•‡∏µ      109
14                         ‡∏î‡∏±‡∏ï‡∏ä‡πå      104
15                        ‡πÅ‡∏Ñ‡∏ô‡∏≤‡∏î‡∏≤       89
16                        ‡∏™‡∏ß‡∏µ‡πÄ‡∏î‡∏ô       78
17                       ‡πÑ‡∏ó‡∏¢‡∏•‡∏∑‡πâ‡∏≠       72
18                      ‡∏ù‡∏£‡∏±‡πà‡∏á‡πÄ‡∏®‡∏™       56
19                      ‡πÄ‡∏Ç‡∏°‡∏£‡∏≠‡∏û‡∏¢‡∏û       55
20                      ‡∏ô‡∏≠‡∏£‡πå‡πÄ‡∏ß‡∏¢‡πå       55
21                          ‡∏™‡πÄ‡∏õ‡∏ô       53
22            ‡πÄ‡∏ã‡∏ô‡∏ï‡πå‡∏Ñ‡∏¥‡∏ï‡∏™‡πå‡πÅ‡∏•‡∏∞‡πÄ‡∏ô‡∏ß‡∏¥‡∏™       41
23                     ‡πÑ‡∏≠‡∏ã‡πå‡πÅ‡∏•‡∏ô‡∏î‡πå       38
24                      ‡πÄ‡∏ö‡∏•‡πÄ‡∏¢‡∏µ‡∏¢‡∏°       35
25                      ‡∏≠‡∏≠‡∏™‡πÄ‡∏ï‡∏£‡∏µ‡∏¢       33
26                       ‡∏ç‡∏µ‡πà‡∏õ‡∏∏‡πà‡∏ô       29
27                        ‡∏ã‡∏µ‡πÄ‡∏£‡∏µ‡∏¢       26
28                    ‡πÑ‡∏£‡πâ‡∏™‡∏±‡∏ç‡∏ä‡∏≤‡∏ï‡∏¥       25
29                  ‡∏à‡∏µ‡∏ô(‡πÑ‡∏ï‡πâ‡∏´‡∏ß‡∏±‡∏ô)       20
30                        ‡πÑ‡∏ã‡∏õ‡∏£‡∏±‡∏™       11
31                          ‡∏û‡∏°‡πà‡∏≤        2

In [39]:
# Specify the columns for unique value counting
columns_to_count = ['PatientUID', 'PatientvisitUID', 'Sex', 'Age', 'ENTY', 'NATNL']

# Count unique values in the specified columns
visit_count = visit[columns_to_count].value_counts().reset_index()
visit_count.columns = ['PatientUID', 'PatientvisitUID', 'Sex', 'Age', 'ENTY', 'NATNL', 'Count']
visit_count

         PatientUID  PatientvisitUID   Sex  Age         ENTY NATNL  Count
0              2299           144386  ‡∏´‡∏ç‡∏¥‡∏á   70  Out Patient   ‡πÑ‡∏ó‡∏¢      1
1           1120916          6593553   ‡∏ä‡∏≤‡∏¢   60  Out Patient   ‡πÑ‡∏ó‡∏¢      1
2           1120916          7752314   ‡∏ä‡∏≤‡∏¢   61  Out Patient   ‡πÑ‡∏ó‡∏¢      1
3           1120916          7747689   ‡∏ä‡∏≤‡∏¢   61  Out Patient   ‡πÑ‡∏ó‡∏¢      1
4           1120916          7737649   ‡∏ä‡∏≤‡∏¢   61  Out Patient   ‡πÑ‡∏ó‡∏¢      1
...             ...              ...   ...  ...          ...   ...    ...
1338866      448304          2221926   ‡∏ä‡∏≤‡∏¢   33  Out Patient   ‡πÑ‡∏ó‡∏¢      1
1338867      448304          2150381   ‡∏ä‡∏≤‡∏¢   33  Out Patient   ‡πÑ‡∏ó‡∏¢      1
1338868      448304          2138351   ‡∏ä‡∏≤‡∏¢   33  Out Patient   ‡πÑ‡∏ó‡∏¢      1
1338869      448304          2123685   ‡∏ä‡∏≤‡∏¢   33  Out Patient   ‡πÑ‡∏ó‡∏¢      1
1338870     3437526         10541118   ‡∏ä‡∏≤‡∏¢   68  Out Patient   ‡πÑ‡∏ó‡∏¢      1

[1338871 rows x 7 columns]

In [40]:
columns_to_count = ['PatientUID', 'Sex', 'Age', 'ENTY', 'NATNL']

# Count unique values in the specified columns
visit_grouped = visit.groupby('PatientUID')[columns_to_count].nunique()

# Rename the columns
new_columns = ['Count_' + column for column in columns_to_count]
visit_grouped.columns = new_columns

# Merge with the existing visit_count DataFrame
visit_count = visit_count.merge(visit_grouped, on='PatientUID', how='left')

# Select the required columns
required_columns = ['PatientvisitUID', 'Sex', 'Age', 'ENTY', 'NATNL', 'Count_Sex', 'Count_Age', 'Count_ENTY', 'Count_NATNL']
visit_count = visit_count.reindex(required_columns, axis=1)

In [41]:
visit_count

,PatientvisitUID,Sex,Age,ENTY,NATNL,Count_Sex,Count_Age,Count_ENTY,Count_NATNL
0,144386,‡∏´‡∏ç‡∏¥‡∏á,70,Out Patient,‡πÑ‡∏ó‡∏¢,1,11,2,1
1,6593553,‡∏ä‡∏≤‡∏¢,60,Out Patient,‡πÑ‡∏ó‡∏¢,1,7,2,1
2,7752314,‡∏ä‡∏≤‡∏¢,61,Out Patient,‡πÑ‡∏ó‡∏¢,1,7,2,1
3,7747689,‡∏ä‡∏≤‡∏¢,61,Out Patient,‡πÑ‡∏ó‡∏¢,1,7,2,1
4,7737649,‡∏ä‡∏≤‡∏¢,61,Out Patient,‡πÑ‡∏ó‡∏¢,1,7,2,1
...,...,...,...,...,...,...,...,...,...
1338866,2221926,‡∏ä‡∏≤‡∏¢,33,Out Patient,‡πÑ‡∏ó‡∏¢,1,9,3,1
1338867,2150381,‡∏ä‡∏≤‡∏¢,33,Out Patient,‡πÑ‡∏ó‡∏¢,1,9,3,1
1338868,2138351,‡∏ä‡∏≤‡∏¢,33,Out Patient,‡πÑ‡∏ó‡∏¢,1,9,3,1
1338869,2123685,‡∏ä‡∏≤‡∏¢,33,Out Patient,‡πÑ‡∏ó‡∏¢,1,9,3,1
1338870,10541118,‡∏ä‡∏≤‡∏¢,68,Out Patient,‡πÑ‡∏ó‡∏¢,1,2,2,1

In [42]:
visit_df = pd.DataFrame(visit_grouped)
visit_df

            Count_PatientUID  Count_Sex  Count_Age  Count_ENTY  Count_NATNL
PatientUID
2299                       1          1         11           2            1
2304                       1          1         12           3            1
2312                       1          1         12           2            1
2354                       1          1          9           2            1
2362                       1          1         12           3            1
...                      ...        ...        ...         ...          ...
3421578                    1          1          2           1            1
3426284                    1          1          2           1            1
3431501                    1          1          2           1            1
3432056                    1          1          2           2            1
3437526                    1          1          2           2            1

[22575 rows x 5 columns]

In [43]:
import pandas as pd

# ‡∏Å‡∏≥‡∏´‡∏ô‡∏î‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå‡∏ó‡∏µ‡πà‡∏ï‡πâ‡∏≠‡∏á‡∏Å‡∏≤‡∏£‡∏ô‡∏±‡∏ö‡∏Ñ‡πà‡∏≤‡∏ó‡∏µ‡πà‡πÑ‡∏°‡πà‡∏ã‡πâ‡∏≥‡∏Å‡∏±‡∏ô
columns_to_count = ['PatientvisitUID', 'Sex', 'Age', 'ENTY', 'NATNL']

# ‡∏à‡∏±‡∏î‡∏Å‡∏•‡∏∏‡πà‡∏°‡πÅ‡∏•‡∏∞‡∏ô‡∏±‡∏ö‡∏Ñ‡πà‡∏≤‡∏ó‡∏µ‡πà‡πÑ‡∏°‡πà‡∏ã‡πâ‡∏≥‡∏Å‡∏±‡∏ô‡∏ï‡∏≤‡∏°‡∏î‡∏±‡∏ä‡∏ô‡∏µ "PatientUID"
visit_grouped = visit.groupby('PatientUID')[columns_to_count].nunique()

# ‡πÄ‡∏õ‡∏•‡∏µ‡πà‡∏¢‡∏ô‡∏ä‡∏∑‡πà‡∏≠‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå‡πÉ‡∏´‡∏°‡πà
visit_grouped.columns = ['Count_' + column for column in columns_to_count]

In [44]:
visit_grouped

,Count_PatientvisitUID,Count_Sex,Count_Age,Count_ENTY,Count_NATNL
PatientUID,,,,,
2299,83,1,11,2,1
2304,67,1,12,3,1
2312,83,1,12,2,1
2354,64,1,9,2,1
2362,88,1,12,3,1
...,...,...,...,...,...
3421578,6,1,2,1,1
3426284,4,1,2,1,1
3431501,4,1,2,1,1
3432056,14,1,2,2,1
3437526,3,1,2,2,1

In [45]:
# ‡∏ï‡∏£‡∏ß‡∏à‡∏™‡∏≠‡∏ö‡∏ß‡πà‡∏≤‡∏°‡∏µ‡∏Ñ‡πà‡∏≤‡∏î‡∏±‡∏ä‡∏ô‡∏µ‡∏ã‡πâ‡∏≥‡∏Å‡∏±‡∏ô‡∏ó‡∏±‡πâ‡∏á‡∏´‡∏°‡∏î‡∏´‡∏£‡∏∑‡∏≠‡πÑ‡∏°‡πà
is_any_duplicated = visit_grouped.index.duplicated().any()

In [46]:
is_any_duplicated

False

In [47]:
visit_df = pd.DataFrame(visit_grouped)
visit_df

,Count_PatientvisitUID,Count_Sex,Count_Age,Count_ENTY,Count_NATNL
PatientUID,,,,,
2299,83,1,11,2,1
2304,67,1,12,3,1
2312,83,1,12,2,1
2354,64,1,9,2,1
2362,88,1,12,3,1
...,...,...,...,...,...
3421578,6,1,2,1,1
3426284,4,1,2,1,1
3431501,4,1,2,1,1
3432056,14,1,2,2,1
3437526,3,1,2,2,1

#Merge File üìù

In [48]:
with pd.ExcelWriter('CountUniqueValues.xlsx') as writer:
    vitalsign_df.to_excel(writer, sheet_name='Vitalsign')
    diag_df.to_excel(writer, sheet_name='Diagnosis')
    lab_df.to_excel(writer, sheet_name='Lab')
    pre_df.to_excel(writer, sheet_name='Prescription')
    visit_df.to_excel(writer, sheet_name='Visit', index=False)