<a href="https://colab.research.google.com/github/nxxk23/PROJECT/blob/main/CountUniqueValues.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

##üóÇÔ∏èImport data: vitalsign

In [ ]:
import pandas as pd
vital = pd.read_csv('/content/drive/MyDrive/Thesis Project Kidney/vitalsign.csv')
vital.head()

,LabNo,PatientUID,PatientVisitUID,OrderItemName,ResultItemName,ResultValue,CWhen
0,1,24513,2140458,Vital Signs Record,Weight,76.7,2558-04-08 09:57:59.153
1,1,24513,2341133,Vital Signs Record,BMI,30.76,2558-07-01 09:20:02.617
2,1,24513,2341133,Vital Signs Record,Pulse Rate,98,2558-07-01 09:20:02.617
3,1,24513,2341133,Vital Signs Record,Respiratory Rate,20,2558-07-01 09:20:02.617
4,1,24513,2388152,Vital Signs Record,BMI,30.36,2558-07-22 10:04:54.377

### üîéUniqueValues 
columns: **OrderItemName and ResultItemName** in vitalsign.csv

In [ ]:
# Specify the columns for unique value counting
columns_to_count = ['OrderItemName', 'ResultItemName']

# Count unique values in the specified columns
unique_counts = vital[columns_to_count].value_counts().reset_index()

In [ ]:
unique_counts.columns = ['OrderItemName','ResultItemName', 'Count']
unique_counts

         OrderItemName      ResultItemName    Count
0   Vital Signs Record         Systolic BP  1389230
1   Vital Signs Record        Diastolic BP  1387866
2   Vital Signs Record          Pulse Rate  1326568
3   Vital Signs Record    Respiratory Rate  1044964
4   Vital Signs Record         Temperature   670561
5   Vital Signs Record              Weight   666734
6   Vital Signs Record              Height   624585
7   Vital Signs Record                 BMI   612300
8   Vital Signs Record                 BSA   612014
9   Vital Signs Record              O2 Sat   500912
10  Vital Signs Record          Pain Score   242681
11  Vital Signs Record        MeanPressure   127336
12  Vital Signs Record           Waistline     6291
13  Vital Signs Record  IrregularHeartBeat     1063
14  Vital Signs Record  Head Circumference      284
15  Vital Signs Record                6MWT       85
16  Vital Signs Record                 Fat       12
17  Vital Signs Record  AverageMeasurement       11

##üóÇÔ∏èImport data: Diagnosis

In [ ]:
import pandas as pd
diagnosis = pd.read_csv('/content/drive/MyDrive/Thesis Project Kidney/Diagnosis.csv')
diagnosis.head()

,PatientUID,PatientVisitUID,ProblemCode,ProblemName,ProblemDescription,DIAGTYPE,OnsetDttm
0,22496,0,K922,"Gastrointestinal haemorrhage\, unspecified",‡πÄ‡∏•‡∏∑‡∏≠‡∏î‡∏≠‡∏≠‡∏Å‡πÉ‡∏ô‡∏Å‡∏£‡∏∞‡πÄ‡∏û‡∏≤‡∏∞‡∏≠‡∏≤‡∏´‡∏≤‡∏£‡πÅ‡∏•‡∏∞‡∏•‡∏≥‡πÑ‡∏™‡πâ ‡πÑ‡∏°‡πà‡∏£‡∏∞‡∏ö‡∏∏‡∏£‡∏≤‡∏¢‡∏•‡∏∞‡πÄ‡∏≠‡∏µ‡∏¢‡∏î,PRINCIPAL DX (‡∏Å‡∏≤‡∏£‡∏ß‡∏¥‡∏ô‡∏¥‡∏à‡∏â‡∏±‡∏¢‡πÇ‡∏£‡∏Ñ‡∏´‡∏•‡∏±‡∏Å),2556-01-05 00:00:00.000
1,20509,0,R104,Other and unspecified abdominal pain,‡∏õ‡∏ß‡∏î‡∏ó‡πâ‡∏≠‡∏á‡πÅ‡∏ö‡∏ö‡∏≠‡∏∑‡πà‡∏ô‡πÅ‡∏•‡∏∞‡πÑ‡∏°‡πà‡∏£‡∏∞‡∏ö‡∏∏‡∏£‡∏≤‡∏¢‡∏•‡∏∞‡πÄ‡∏≠‡∏µ‡∏¢‡∏î,PRINCIPAL DX (‡∏Å‡∏≤‡∏£‡∏ß‡∏¥‡∏ô‡∏¥‡∏à‡∏â‡∏±‡∏¢‡πÇ‡∏£‡∏Ñ‡∏´‡∏•‡∏±‡∏Å),2556-01-05 00:00:00.000
2,6629,0,K052,Acute periodontitis,‡πÇ‡∏£‡∏Ñ‡∏õ‡∏£‡∏¥‡∏ó‡∏±‡∏ô‡∏ï‡πå‡∏≠‡∏±‡∏Å‡πÄ‡∏™‡∏µ‡∏¢‡∏ö‡πÄ‡∏â‡∏µ‡∏¢‡∏ö‡∏û‡∏•‡∏±‡∏ô,PRINCIPAL DX (‡∏Å‡∏≤‡∏£‡∏ß‡∏¥‡∏ô‡∏¥‡∏à‡∏â‡∏±‡∏¢‡πÇ‡∏£‡∏Ñ‡∏´‡∏•‡∏±‡∏Å),2556-01-05 00:00:00.000
3,22234,0,E112,Non-insulin-dependent diabetes mellitus type 2...,‡πÄ‡∏ö‡∏≤‡∏´‡∏ß‡∏≤‡∏ô‡∏ä‡∏ô‡∏¥‡∏î‡∏ó‡∏µ‡πà‡πÑ‡∏°‡πà‡∏ï‡πâ‡∏≠‡∏á‡∏û‡∏∂‡πà‡∏á‡∏≠‡∏¥‡∏ô‡∏ã‡∏π‡∏•‡∏¥‡∏ô ‡∏£‡πà‡∏ß‡∏°‡∏Å‡∏±‡∏ö‡∏†‡∏≤‡∏ß‡∏∞‡πÅ...,PRINCIPAL DX (‡∏Å‡∏≤‡∏£‡∏ß‡∏¥‡∏ô‡∏¥‡∏à‡∏â‡∏±‡∏¢‡πÇ‡∏£‡∏Ñ‡∏´‡∏•‡∏±‡∏Å),2556-01-07 00:00:00.000
4,22234,0,N083,Glomerular disorders in diabetes mellitus ( E1...,‡∏Ñ‡∏ß‡∏≤‡∏°‡∏ú‡∏¥‡∏î‡∏õ‡∏Å‡∏ï‡∏¥‡∏Ç‡∏≠‡∏á‡πÇ‡∏Å‡∏•‡πÄ‡∏°‡∏≠‡∏£‡∏π‡∏•‡∏±‡∏™‡πÉ‡∏ô‡πÇ‡∏£‡∏Ñ‡πÄ‡∏ö‡∏≤‡∏´‡∏ß‡∏≤‡∏ô (E10-E14...,PRINCIPAL DX (‡∏Å‡∏≤‡∏£‡∏ß‡∏¥‡∏ô‡∏¥‡∏à‡∏â‡∏±‡∏¢‡πÇ‡∏£‡∏Ñ‡∏´‡∏•‡∏±‡∏Å),2556-01-07 00:00:00.000

### üîé**UniqueValues**
columns: **ProblemCode, ProblemName, and (ProblemCode,ProblemName)** in Diagnosis.csv

In [ ]:
diag_code = diagnosis['ProblemCode'].value_counts().reset_index()
diag_code.columns = ['UniqueValue_CODE','Count']
diag_code

      UniqueValue_CODE   Count
0            370992007  133314
1                  I10   97039
2             44054006   76676
3              1201005   72796
4             59621000   57233
...                ...     ...
19480         90228003       1
19481        174428001       1
19482          7407001       1
19483         92129006       1
19484         95209008       1

[19485 rows x 2 columns]

In [ ]:
diag_name = diagnosis['ProblemName'].value_counts().reset_index()
diag_name.columns = ['UniqueValue_NAME','Count']
diag_name

                             UniqueValue_NAME   Count
0                                Dyslipidemia  133313
1            Essential (primary) hypertension   97039
2                    Type 2 diabetes mellitus   76674
3               Benign essential hypertension   72802
4                      Essential hypertension   58016
...                                       ...     ...
18423                         Impacted molars       1
18424                        Animal bites NOS       1
18425          Control of haemorrhage of nose       1
18426  Infective endocarditis of aortic valve       1
18427       Plasma cell leukemia in remission       1

[18428 rows x 2 columns]

In [ ]:
# Specify the columns for unique value counting
columns_to_count = ['ProblemCode', 'ProblemName']

# Count unique values in the specified columns
diag_count = diagnosis[columns_to_count].value_counts().reset_index()
diag_count.columns = ['ProblemCode', 'ProblemName', 'Count']
diag_count

      ProblemCode                                       ProblemName   Count
0       370992007                                      Dyslipidemia  133313
1             I10                  Essential (primary) hypertension   97039
2        44054006                          Type 2 diabetes mellitus   76674
3         1201005                     Benign essential hypertension   72796
4        59621000                            Essential hypertension   57232
...           ...                                               ...     ...
19634   424648000  Closed fracture of base of fifth metatarsal bone       1
19635    42452002                            Thoracic radiculopathy       1
19636   424492005                                      Itch of skin       1
19637   424408000                         Keratoacanthoma of eyelid       1
19638     4208000     Closed multiple fractures of both lower limbs       1

[19639 rows x 3 columns]

##üóÇÔ∏èImport data: Lab

In [ ]:
import pandas as pd
lab = pd.read_csv('/content/drive/MyDrive/Thesis Project Kidney/Lab.csv')
lab.head()

,LabNo,PatientUID,PatientVisitUID,Location,RequestItemName,ResultItemName,CWhen,ResultDttm,ResultValue,Unit,ReferenceRange
0,1,2299,2024049,‡πÄ‡∏ß‡∏ä‡∏®‡∏≤‡∏™‡∏ï‡∏£‡πå‡∏ô‡∏¥‡∏ß‡πÄ‡∏Ñ‡∏•‡∏µ‡∏¢‡∏£‡πå (OPD)-D15,BMD LUMBAR,Formatted Result,2558-02-19 16:16:51.423,NaN,FT,NaN,NaN
1,1,2299,2024049,‡∏´‡πâ‡∏≠‡∏á‡∏õ‡∏è‡∏¥‡∏ö‡∏±‡∏ï‡∏¥‡∏Å‡∏≤‡∏£‡πÄ‡∏Ñ‡∏°‡∏µ‡∏Ñ‡∏•‡∏¥‡∏ô‡∏¥‡∏Å ‡πÄ‡∏ß‡∏ä‡∏®‡∏≤‡∏™‡∏ï‡∏£‡πå‡∏ä‡∏±‡∏ô‡∏™‡∏π‡∏ï‡∏£,"ALBUMIN, 32403","ALBUMIN, 32403",2558-02-19 10:32:20.907,NaN,4.1,NaN,3.8 - 5.4
2,1,2299,2024049,‡∏´‡πâ‡∏≠‡∏á‡∏õ‡∏è‡∏¥‡∏ö‡∏±‡∏ï‡∏¥‡∏Å‡∏≤‡∏£‡πÄ‡∏Ñ‡∏°‡∏µ‡∏Ñ‡∏•‡∏¥‡∏ô‡∏¥‡∏Å ‡πÄ‡∏ß‡∏ä‡∏®‡∏≤‡∏™‡∏ï‡∏£‡πå‡∏ä‡∏±‡∏ô‡∏™‡∏π‡∏ï‡∏£,Alkaline Phos,"ALP, 32309",2558-02-19 10:32:21.610,NaN,44,NaN,42 - 121
3,1,2299,2024049,‡∏´‡πâ‡∏≠‡∏á‡∏õ‡∏è‡∏¥‡∏ö‡∏±‡∏ï‡∏¥‡∏Å‡∏≤‡∏£‡πÄ‡∏Ñ‡∏°‡∏µ‡∏Ñ‡∏•‡∏¥‡∏ô‡∏¥‡∏Å ‡πÄ‡∏ß‡∏ä‡∏®‡∏≤‡∏™‡∏ï‡∏£‡πå‡∏ä‡∏±‡∏ô‡∏™‡∏π‡∏ï‡∏£,"ALT, 32311","ALT, 32311",2558-02-19 10:32:21.390,NaN,17,NaN,4 - 36
4,1,2299,2024049,‡∏´‡πâ‡∏≠‡∏á‡∏õ‡∏è‡∏¥‡∏ö‡∏±‡∏ï‡∏¥‡∏Å‡∏≤‡∏£‡πÄ‡∏Ñ‡∏°‡∏µ‡∏Ñ‡∏•‡∏¥‡∏ô‡∏¥‡∏Å ‡πÄ‡∏ß‡∏ä‡∏®‡∏≤‡∏™‡∏ï‡∏£‡πå‡∏ä‡∏±‡∏ô‡∏™‡∏π‡∏ï‡∏£,"AST, 32310","AST, 32310",2558-02-19 10:32:21.500,NaN,23,NaN,12 - 32

### üîé**UniqueValues**
columns: **Location and ResultItemName** in Lab.csv

In [ ]:
lab_location = lab['Location'].value_counts().reset_index()
lab_location.columns = ['Location','Count']
lab_location

                                        Location     Count
0                ‡∏´‡πâ‡∏≠‡∏á‡∏õ‡∏è‡∏¥‡∏ö‡∏±‡∏ï‡∏¥‡∏Å‡∏≤‡∏£‡∏à‡∏∏‡∏•‡∏ó‡∏£‡∏£‡∏®‡∏ô‡πå‡∏ß‡∏¥‡∏ô‡∏¥‡∏à‡∏â‡∏±‡∏¢  11033732
1      ‡∏´‡πâ‡∏≠‡∏á‡∏õ‡∏è‡∏¥‡∏ö‡∏±‡∏ï‡∏¥‡∏Å‡∏≤‡∏£‡πÄ‡∏Ñ‡∏°‡∏µ‡∏Ñ‡∏•‡∏¥‡∏ô‡∏¥‡∏Å ‡πÄ‡∏ß‡∏ä‡∏®‡∏≤‡∏™‡∏ï‡∏£‡πå‡∏ä‡∏±‡∏ô‡∏™‡∏π‡∏ï‡∏£   9919377
2           ‡∏´‡πâ‡∏≠‡∏á‡∏õ‡∏è‡∏¥‡∏ö‡∏±‡∏ï‡∏¥‡∏Å‡∏≤‡∏£‡∏´‡∏ô‡πà‡∏ß‡∏¢‡∏à‡∏∏‡∏•‡∏ä‡∏µ‡∏ß‡∏ß‡∏¥‡∏ó‡∏¢‡∏≤‡∏Ñ‡∏•‡∏¥‡∏ô‡∏¥‡∏Å    200353
3           ‡∏´‡πâ‡∏≠‡∏á‡∏õ‡∏è‡∏¥‡∏ö‡∏±‡∏ï‡∏¥‡∏Å‡∏≤‡∏£‡∏†‡∏π‡∏°‡∏¥‡∏Ñ‡∏∏‡πâ‡∏°‡∏Å‡∏±‡∏ô‡∏ß‡∏¥‡∏ó‡∏¢‡∏≤‡∏Ñ‡∏•‡∏¥‡∏ô‡∏¥‡∏Å    190574
4                         ‡∏´‡πâ‡∏≠‡∏á Xray ‡∏ä‡∏±‡πâ‡∏ô 1-D1403    114615
5                ‡∏´‡πâ‡∏≠‡∏á‡∏õ‡∏è‡∏¥‡∏ö‡∏±‡∏ï‡∏¥‡∏Å‡∏≤‡∏£‡∏†‡∏≤‡∏Ñ‡∏ß‡∏¥‡∏ä‡∏≤‡∏õ‡∏£‡∏™‡∏¥‡∏ï‡∏ß‡∏¥‡∏ó‡∏¢‡∏≤     48546
6          ‡∏´‡πâ‡∏≠‡∏á‡∏õ‡∏è‡∏¥‡∏ö‡∏±‡∏ï‡∏¥‡∏Å‡∏≤‡∏£‡∏´‡∏ô‡πà‡∏ß‡∏¢‡∏ä‡∏µ‡∏ß‡πÇ‡∏°‡πÄ‡∏•‡∏Å‡∏∏‡∏•‡∏ß‡∏¥‡∏ô‡∏±‡∏à‡∏â‡∏±‡∏¢     33513
7               ‡∏´‡πâ‡∏≠‡∏á‡∏õ‡∏è‡∏¥‡∏ö‡∏±‡∏ï‡∏¥‡∏Å‡∏≤‡∏£‡∏†‡∏≤‡∏Ñ‡∏ß‡∏¥‡∏ä‡∏≤‡∏à‡∏∏‡∏•‡∏ä‡∏µ‡∏ß‡∏ß‡∏¥‡∏ó‡∏¢‡∏≤     27910
8                ‡∏´‡πâ‡∏≠‡∏á‡∏õ‡∏è‡∏¥‡∏ö‡∏±‡∏ï‡∏¥‡∏Å‡∏≤‡∏£‡∏†‡∏≤‡∏Ñ‡∏ß‡∏¥‡∏ä‡∏≤‡∏û‡∏¢‡∏≤‡∏ò‡∏¥‡∏ß‡∏¥‡∏ó‡∏¢‡∏≤     24011
9                  ‡πÄ‡∏ß‡∏ä‡∏®‡∏≤‡∏™‡∏ï‡∏£‡πå‡∏ô‡∏¥‡∏ß‡πÄ‡∏Ñ‡∏•‡∏µ‡∏¢‡∏£‡πå (OPD)-D15     18160
10                  ‡∏´‡πâ‡∏≠‡∏á‡∏õ‡∏è‡∏¥‡∏ö‡∏±‡∏ï‡∏¥‡∏Å‡∏≤‡∏£‡∏Ñ‡∏ì‡∏∞‡πÄ‡∏†‡∏™‡∏±‡∏ä‡∏®‡∏≤‡∏™‡∏ï‡∏£‡πå     14315
11                   ‡∏´‡πâ‡∏≠‡∏á‡∏õ‡∏è‡∏¥‡∏ö‡∏±‡∏ï‡∏¥‡∏Å‡∏≤‡∏£‡∏Ñ‡∏•‡∏±‡∏á‡πÄ‡∏•‡∏∑‡∏≠‡∏î‡∏Å‡∏•‡∏≤‡∏á     13071
12  ‡∏´‡∏ô‡πà‡∏ß‡∏¢‡∏ó‡∏∞‡πÄ‡∏ö‡∏µ‡∏¢‡∏ô‡∏Å‡∏•‡∏≤‡∏á(Test ‡∏û‡∏¥‡πÄ‡∏®‡∏©)‡πÄ‡∏ß‡∏ä‡∏®‡∏≤‡∏™‡∏ï‡∏£‡πå‡∏ä‡∏±‡∏ô‡∏™‡∏π‡∏ï‡∏£      1642
13                ‡∏´‡πâ‡∏≠‡∏á‡∏õ‡∏è‡∏¥‡∏ö‡∏±‡∏ï‡∏¥‡∏Å‡∏≤‡∏£‡πÄ‡∏†‡∏™‡∏±‡∏ä‡∏û‡∏±‡∏ô‡∏ò‡∏∏‡∏®‡∏≤‡∏™‡∏ï‡∏£‡πå       951
14                            ‡∏´‡πâ‡∏≠‡∏á‡∏õ‡∏è‡∏¥‡∏ö‡∏±‡∏ï‡∏¥‡∏Å‡∏≤‡∏£ SEL       430
15              ‡∏´‡πâ‡∏≠‡∏á‡∏õ‡∏è‡∏¥‡∏ö‡∏±‡∏ï‡∏¥‡∏Å‡∏≤‡∏£‡∏†‡∏≤‡∏Ñ‡∏ß‡∏¥‡∏ä‡∏≤‡∏≠‡∏≤‡∏¢‡∏∏‡∏£‡∏®‡∏≤‡∏™‡∏ï‡∏£‡πå        62
16                              OPD Anest (SPAC)        45
17               ‡∏´‡πâ‡∏≠‡∏á‡∏õ‡∏è‡∏¥‡∏ö‡∏±‡∏ï‡∏¥‡∏Å‡∏≤‡∏£‡∏Ñ‡∏ì‡∏∞‡πÄ‡∏ó‡∏Ñ‡∏ô‡∏¥‡∏Ñ‡∏Å‡∏≤‡∏£‡πÅ‡∏û‡∏ó‡∏¢‡πå        28
18            ‡∏´‡πâ‡∏≠‡∏á‡∏õ‡∏è‡∏¥‡∏ö‡∏±‡∏ï‡∏¥‡∏Å‡∏≤‡∏£‡∏†‡∏≤‡∏Ñ‡∏ß‡∏¥‡∏ä‡∏≤‡∏ô‡∏¥‡∏ï‡∏¥‡πÄ‡∏ß‡∏ä‡∏®‡∏≤‡∏™‡∏ï‡∏£‡πå        25
19                                OR ‡∏Ñ‡∏•‡∏¥‡∏ô‡∏¥‡∏Å-TH09         6
20           ‡∏´‡πâ‡∏≠‡∏á‡∏õ‡∏è‡∏¥‡∏ö‡∏±‡∏ï‡∏¥‡∏Å‡∏≤‡∏£‡πÄ‡∏ï‡∏£‡∏µ‡∏¢‡∏°‡πÇ‡∏•‡∏´‡∏¥‡∏ï‡πÉ‡∏´‡πâ‡∏ú‡∏π‡πâ‡∏õ‡πà‡∏ß‡∏¢         3
21            ‡∏´‡∏ô‡πà‡∏ß‡∏¢‡πÇ‡∏£‡∏Ñ‡πÑ‡∏ï4‡∏à ‡∏°‡∏π‡∏•‡∏ô‡∏¥‡∏ò‡∏¥‡∏à‡∏¥‡∏ï‡∏ï‡∏≤‡∏ô‡∏∏‡πÄ‡∏Ñ‡∏£‡∏≤‡∏∞‡∏´‡πå         2
22              ‡∏´‡πâ‡∏≠‡∏á‡∏õ‡∏è‡∏¥‡∏ö‡∏±‡∏ï‡∏¥‡∏Å‡∏≤‡∏£‡∏ï‡∏£‡∏ß‡∏à‡∏™‡∏≠‡∏ö‡πÇ‡∏•‡∏´‡∏¥‡∏ï‡∏ö‡∏£‡∏¥‡∏à‡∏≤‡∏Ñ         2
23                         ‡∏´‡πâ‡∏≠‡∏á‡∏õ‡∏è‡∏¥‡∏ö‡∏±‡∏ï‡∏¥‡∏Å‡∏≤‡∏£‡∏ä‡∏µ‡∏ß‡πÄ‡∏Ñ‡∏°‡∏µ         2
24                           ‡∏Ç‡∏≠‡πÉ‡∏ö‡πÄ‡∏Ñ‡∏•‡∏°‡∏õ‡∏£‡∏∞‡∏Å‡∏±‡∏ô‡∏ä‡∏µ‡∏ß‡∏¥‡∏ï         1

In [ ]:
lab_result = lab['ResultItemName'].value_counts().reset_index()
lab_result.columns = ['ResultItemName','Count']
lab_result

                       ResultItemName   Count
0                   CREATININE, 32202  587851
1                               WBC    568859
2                               RBC    568809
3                    POTASSIUM, 32103  520628
4              eGFR(CKD-EPI) age >=18  518711
...                               ...     ...
1548   RQ-PCR for BCR/ABL (p190,p210)       1
1549          EBV, qualitative RT-PCR       1
1550  Benzodiazepine (screening test)       1
1551        PCR for EBV : qualitative       1
1552                        Antigen S       1

[1553 rows x 2 columns]

In [ ]:
# Specify the columns for unique value counting
columns_to_count = ['Location', 'ResultItemName']

# Count unique values in the specified columns
lab_count = lab[columns_to_count].value_counts().reset_index()
lab_count.columns = ['Location', 'ResultItemName', 'Count']
lab_count

,Location,ResultItemName,Count
0,‡∏´‡πâ‡∏≠‡∏á‡∏õ‡∏è‡∏¥‡∏ö‡∏±‡∏ï‡∏¥‡∏Å‡∏≤‡∏£‡πÄ‡∏Ñ‡∏°‡∏µ‡∏Ñ‡∏•‡∏¥‡∏ô‡∏¥‡∏Å ‡πÄ‡∏ß‡∏ä‡∏®‡∏≤‡∏™‡∏ï‡∏£‡πå‡∏ä‡∏±‡∏ô‡∏™‡∏π‡∏ï‡∏£,"CREATININE, 32202",587851
1,‡∏´‡πâ‡∏≠‡∏á‡∏õ‡∏è‡∏¥‡∏ö‡∏±‡∏ï‡∏¥‡∏Å‡∏≤‡∏£‡∏à‡∏∏‡∏•‡∏ó‡∏£‡∏£‡∏®‡∏ô‡πå‡∏ß‡∏¥‡∏ô‡∏¥‡∏à‡∏â‡∏±‡∏¢,WBC,568852
2,‡∏´‡πâ‡∏≠‡∏á‡∏õ‡∏è‡∏¥‡∏ö‡∏±‡∏ï‡∏¥‡∏Å‡∏≤‡∏£‡∏à‡∏∏‡∏•‡∏ó‡∏£‡∏£‡∏®‡∏ô‡πå‡∏ß‡∏¥‡∏ô‡∏¥‡∏à‡∏â‡∏±‡∏¢,RBC,568802
3,‡∏´‡πâ‡∏≠‡∏á‡∏õ‡∏è‡∏¥‡∏ö‡∏±‡∏ï‡∏¥‡∏Å‡∏≤‡∏£‡πÄ‡∏Ñ‡∏°‡∏µ‡∏Ñ‡∏•‡∏¥‡∏ô‡∏¥‡∏Å ‡πÄ‡∏ß‡∏ä‡∏®‡∏≤‡∏™‡∏ï‡∏£‡πå‡∏ä‡∏±‡∏ô‡∏™‡∏π‡∏ï‡∏£,"POTASSIUM, 32103",520628
4,‡∏´‡πâ‡∏≠‡∏á‡∏õ‡∏è‡∏¥‡∏ö‡∏±‡∏ï‡∏¥‡∏Å‡∏≤‡∏£‡πÄ‡∏Ñ‡∏°‡∏µ‡∏Ñ‡∏•‡∏¥‡∏ô‡∏¥‡∏Å ‡πÄ‡∏ß‡∏ä‡∏®‡∏≤‡∏™‡∏ï‡∏£‡πå‡∏ä‡∏±‡∏ô‡∏™‡∏π‡∏ï‡∏£,eGFR(CKD-EPI) age >=18,518711
...,...,...,...
1842,‡∏´‡πâ‡∏≠‡∏á‡∏õ‡∏è‡∏¥‡∏ö‡∏±‡∏ï‡∏¥‡∏Å‡∏≤‡∏£‡πÄ‡∏Ñ‡∏°‡∏µ‡∏Ñ‡∏•‡∏¥‡∏ô‡∏¥‡∏Å ‡πÄ‡∏ß‡∏ä‡∏®‡∏≤‡∏™‡∏ï‡∏£‡πå‡∏ä‡∏±‡∏ô‡∏™‡∏π‡∏ï‡∏£,FSH 0 min,1
1843,‡∏´‡πâ‡∏≠‡∏á‡∏õ‡∏è‡∏¥‡∏ö‡∏±‡∏ï‡∏¥‡∏Å‡∏≤‡∏£‡∏†‡∏≤‡∏Ñ‡∏ß‡∏¥‡∏ä‡∏≤‡∏à‡∏∏‡∏•‡∏ä‡∏µ‡∏ß‡∏ß‡∏¥‡∏ó‡∏¢‡∏≤,Consistent,1
1844,‡∏´‡πâ‡∏≠‡∏á‡∏õ‡∏è‡∏¥‡∏ö‡∏±‡∏ï‡∏¥‡∏Å‡∏≤‡∏£‡∏´‡∏ô‡πà‡∏ß‡∏¢‡∏ä‡∏µ‡∏ß‡πÇ‡∏°‡πÄ‡∏•‡∏Å‡∏∏‡∏•‡∏ß‡∏¥‡∏ô‡∏±‡∏à‡∏â‡∏±‡∏¢,Phospholipase A2 Receptor Ab (PLA2R Ab),1
1845,‡∏´‡πâ‡∏≠‡∏á‡∏õ‡∏è‡∏¥‡∏ö‡∏±‡∏ï‡∏¥‡∏Å‡∏≤‡∏£‡∏´‡∏ô‡πà‡∏ß‡∏¢‡∏ä‡∏µ‡∏ß‡πÇ‡∏°‡πÄ‡∏•‡∏Å‡∏∏‡∏•‡∏ß‡∏¥‡∏ô‡∏±‡∏à‡∏â‡∏±‡∏¢,"Parvo virus B19, qualitative RT-PCR",1
1846,OPD Anest (SPAC),BE(B),1

##üóÇÔ∏èImport data: Prescription

In [ ]:
import pandas as pd
prescription = pd.read_csv('/content/drive/MyDrive/Thesis Project Kidney/Prescription.csv')
prescription.head()

,PatientUID,PatientVisitUID,DispensedDttm,DrugName,GenericName,Quantity,DrugFrequency,Dosage,DosageForm,DrugDuration
0,2299,2024049,2558-02-19 14:48:15.693,Folic Acid 5 mg TAB,Folivit tab 5 mg,90.0,od pc |‡∏ß‡∏±‡∏ô‡∏•‡∏∞ 1 ‡∏Ñ‡∏£‡∏±‡πâ‡∏á ‡∏´‡∏•‡∏±‡∏á‡∏≠‡∏≤‡∏´‡∏≤‡∏£‡πÄ‡∏ä‡πâ‡∏≤,1.0,1 TAB,90.0
1,2299,2024049,2558-02-19 14:48:15.693,Vitamin B Complex TAB,Vitamin B Complex TAB,180.0,bid pc |‡∏ß‡∏±‡∏ô‡∏•‡∏∞ 2 ‡∏Ñ‡∏£‡∏±‡πâ‡∏á ‡∏´‡∏•‡∏±‡∏á‡∏≠‡∏≤‡∏´‡∏≤‡∏£‡πÄ‡∏ä‡πâ‡∏≤ ‡πÄ‡∏¢‡πá‡∏ô,1.0,1 TAB,90.0
2,2299,2024049,2558-02-19 14:48:15.693,losartan(Loranta) 50 mg TAB,Loranta film-coated tab 50 mg,90.0,od pc |‡∏ß‡∏±‡∏ô‡∏•‡∏∞ 1 ‡∏Ñ‡∏£‡∏±‡πâ‡∏á ‡∏´‡∏•‡∏±‡∏á‡∏≠‡∏≤‡∏´‡∏≤‡∏£‡πÄ‡∏ä‡πâ‡∏≤,1.0,1 TAB,90.0
3,2299,2024049,2558-02-19 14:48:15.693,lorazepam(Anxira) 0.5 mg TAB,Anxira tab 0.5 mg,30.0,hs |‡∏ß‡∏±‡∏ô‡∏•‡∏∞ 1 ‡∏Ñ‡∏£‡∏±‡πâ‡∏á ‡∏Å‡πà‡∏≠‡∏ô‡∏ô‡∏≠‡∏ô,1.0,1 TAB,30.0
4,2299,2024049,2558-02-19 14:47:55.953,ChalkTAB-1.5 TAB,Chalktab 1500 mg,90.0,od pc |‡∏ß‡∏±‡∏ô‡∏•‡∏∞ 1 ‡∏Ñ‡∏£‡∏±‡πâ‡∏á ‡∏´‡∏•‡∏±‡∏á‡∏≠‡∏≤‡∏´‡∏≤‡∏£‡πÄ‡∏ä‡πâ‡∏≤,1.0,1 TAB,90.0

### **üîéUniqueValues** 
columns: **DrugName, GenericName, and (DrugName,GenericName)** in Prescription.csv

In [ ]:
pre_drug = prescription['DrugName'].value_counts().reset_index()
pre_drug.columns = ['DrugName','Count']
pre_drug

                                               DrugName   Count
0                                   Folic Acid 5 mg TAB  262937
1                             Vitamin B Complex  ED.TAB  194852
2                           aspirin(Aspent M) 81 mg TAB  191145
3                         omeprazole(Miracid) 20 mg CAP  189804
4                          Normal Saline 0.9% IV 100 ml  179434
...                                                 ...     ...
8225  ‡πÄ‡∏•‡∏ô‡∏™‡πå‡πÅ‡∏Å‡πâ‡∏ß‡∏ï‡∏≤‡πÄ‡∏ó‡∏µ‡∏¢‡∏°‡∏ä‡∏ô‡∏¥‡∏î‡∏û‡∏±‡∏ö‡πÑ‡∏î‡πâ AMO ‡∏£‡∏∏‡πà‡∏ô ZCBOO,  on...       1
8226  ‡πÄ‡∏•‡∏ô‡∏™‡πå‡πÅ‡∏Å‡πâ‡∏ß‡∏ï‡∏≤‡πÄ‡∏ó‡∏µ‡∏¢‡∏°‡∏ä‡∏ô‡∏¥‡∏î‡∏û‡∏±‡∏ö‡πÑ‡∏î‡πâ AMO ‡∏£‡∏∏‡πà‡∏ô ZCBOO,  on...       1
8227  ‡πÅ‡∏ú‡πà‡∏ô‡πÇ‡∏•‡∏´‡∏∞‡∏î‡∏≤‡∏°‡∏Å‡∏£‡∏∞‡∏î‡∏π‡∏Å‡∏ä‡∏ô‡∏¥‡∏î‡πÄ‡∏•‡πá‡∏Å SMALL LC-DCP PLATE 3...       1
8228                              ‡∏õ‡∏£‡∏≠‡∏ó‡∏ß‡∏±‡∏î‡πÑ‡∏Ç‡πâ‡∏ó‡∏≤‡∏á‡∏ó‡∏ß‡∏≤‡∏£‡∏´‡∏ô‡∏±‡∏Å       1
8229  ‡πÄ‡∏¢‡∏∑‡πà‡∏≠‡∏ö‡∏∏‡∏´‡∏±‡∏ß‡πÉ‡∏à‡∏ó‡∏≥‡∏à‡∏≤‡∏Å‡∏ß‡∏±‡∏ß ‡∏ú‡∏ô‡∏±‡∏á‡∏Å‡∏±‡πâ‡∏ô‡∏´‡∏±‡∏ß‡πÉ‡∏à‡πÄ‡∏ó‡∏µ‡∏¢‡∏° (peric...       1

[8230 rows x 2 columns]

In [ ]:
pre_generic = prescription['GenericName'].value_counts().reset_index()
pre_generic.columns = ['GenericName','Count']
pre_generic

                                            GenericName   Count
0                                      Folivit tab 5 mg  262937
1                             Vitamin B Complex  ED.TAB  194852
2                           aspirin(Aspent M) 81 mg TAB  191145
3                                     Miracid cap 20 mg  189804
4                          Normal Saline 0.9% IV 100 ml  179434
...                                                 ...     ...
2321  Ammonia Spirit Aromatic BPC 1973 Srichand topi...       1
2322                           Brilinta 90 mg TAB (PAP)       1
2323                     Botox 100 unit  INJ (‡∏™‡∏õ‡∏™‡∏ä)[‡∏à2]       1
2324                      Folinic acid(Folina) 15mg TAB       1
2325                   Mycostatin ORAL SUSPENSION 12 ml       1

[2326 rows x 2 columns]

In [ ]:
# Specify the columns for unique value counting
columns_to_count = ['DrugName', 'GenericName']

# Count unique values in the specified columns
pre_count = prescription[columns_to_count].value_counts().reset_index()
pre_count.columns = ['DrugName', 'GenericName', 'Count']
pre_count

,DrugName,GenericName,Count
0,Folic Acid 5 mg TAB,Folivit tab 5 mg,262937
1,Vitamin B Complex ED.TAB,Vitamin B Complex ED.TAB,194852
2,aspirin(Aspent M) 81 mg TAB,aspirin(Aspent M) 81 mg TAB,191145
3,omeprazole(Miracid) 20 mg CAP,Miracid cap 20 mg,189804
4,Normal Saline 0.9% IV 100 ml,Normal Saline 0.9% IV 100 ml,179434
...,...,...,...
2699,Barron corneal punch No.7.0,Keytruda 25 mg/ml INJ 4 ml,1
2700,Mycostatin ORAL SUSPENSION 12 ml,Mycostatin ORAL SUSPENSION 12 ml,1
2701,Aromatic Ammonia Spirit 450 ml,Ammonia Spirit Aromatic BPC 1973 Srichand topi...,1
2702,Aortic punch dia.4.0 mm,Noxafil 100 mg TAB,1
2703,Mite D.pt. 4,Mite D.pt. 4,1

##üóÇÔ∏èImport data: visit

In [ ]:
import pandas as pd
visit = pd.read_csv('/content/drive/MyDrive/Thesis Project Kidney/Visit.csv')
visit.head()

<ipython-input-6-2fc26b67033e>:2: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  visit = pd.read_csv('/content/drive/MyDrive/Thesis Project Kidney/Visit.csv')

,PatientUID,PatientvisitUID,Sex,Age,ENTY,NATNL,StartDTTM,EndDttm,Location,PricipalProblemCode,PricipalProblemName
0,19319,25325,‡∏´‡∏ç‡∏¥‡∏á,83,Out Patient,‡πÑ‡∏ó‡∏¢,2555-01-01 00:00:00.000,2557-11-26 23:58:59.730,NaN,NaN,NaN
1,83224,25327,‡∏ä‡∏≤‡∏¢,64,Out Patient,‡πÑ‡∏ó‡∏¢,2555-01-01 00:00:00.000,2557-11-26 23:58:59.730,NaN,NaN,NaN
2,160455,25336,‡∏ä‡∏≤‡∏¢,86,Out Patient,‡πÑ‡∏ó‡∏¢,2555-01-01 00:00:00.000,2557-11-26 23:58:59.730,NaN,NaN,NaN
3,181216,25338,‡∏´‡∏ç‡∏¥‡∏á,82,Out Patient,‡πÑ‡∏ó‡∏¢,2555-01-01 00:00:00.000,2557-11-26 23:58:59.730,NaN,NaN,NaN
4,568147,25357,‡∏ä‡∏≤‡∏¢,68,Out Patient,‡πÑ‡∏ó‡∏¢,2555-01-01 00:00:00.000,2557-11-26 23:58:59.730,NaN,NaN,NaN

### **üîéUniqueValues** 
columns: **PatientUID, PatientvisitUID, Sex, Age, ENTY, NATNL** in Visit.csv

In [ ]:
visit_Sex = visit['Sex'].value_counts().reset_index()
visit_Sex.columns = ['UniqueValue','Count']
visit_Sex

  UniqueValue   Count
0         ‡∏ä‡∏≤‡∏¢  693912
1        ‡∏´‡∏ç‡∏¥‡∏á  646676

In [ ]:
visit_Age = visit['Age'].value_counts().reset_index()
visit_Age.columns = ['UniqueValue','Count']
visit_Age

    UniqueValue  Count
0            68  45393
1            67  45249
2            66  44956
3            69  44758
4            71  43898
..          ...    ...
91          102     51
92           10     34
93          103     30
94            9     19
95          104     17

[96 rows x 2 columns]

In [ ]:
visit_ENTY = visit['ENTY'].value_counts().reset_index()
visit_ENTY.columns = ['UniqueValue','Count']
visit_ENTY

   UniqueValue    Count
0  Out Patient  1242495
1    InPatient    54283
2            E    43808

In [ ]:
visit_NATNL = visit['NATNL'].value_counts().reset_index()
visit_NATNL.columns = ['UniqueValue','Count']
visit_NATNL

                     UniqueValue    Count
0                            ‡πÑ‡∏ó‡∏¢  1329345
1                            ‡∏•‡∏≤‡∏ß     3098
2                       ‡∏≠‡πÄ‡∏°‡∏£‡∏¥‡∏Å‡∏±‡∏ô     1185
3   ‡∏ö‡∏£‡∏¥‡∏ï‡∏¥‡∏ä  (‡∏≠‡∏±‡∏á‡∏Å‡∏§‡∏©, ‡∏™‡∏Å‡πá‡∏≠‡∏ï‡πÅ‡∏•‡∏ô‡∏î‡πå)     1112
4                          ‡∏≠‡∏∑‡πà‡∏ô‡πÜ     1079
5                        ‡πÑ‡∏°‡πà‡∏£‡∏∞‡∏ö‡∏∏      544
6                     ‡∏≠‡∏≠‡∏™‡πÄ‡∏ï‡∏£‡πÄ‡∏•‡∏µ‡∏¢      472
7                        ‡πÄ‡∏¢‡∏≠‡∏£‡∏°‡∏±‡∏ô      352
8                       ‡πÄ‡∏ß‡∏µ‡∏¢‡∏î‡∏ô‡∏≤‡∏°      226
9                          ‡πÇ‡∏≠‡∏°‡∏≤‡∏ô      177
10                      ‡πÄ‡∏î‡∏ô‡∏°‡∏≤‡∏£‡πå‡∏Å      124
11                           ‡∏à‡∏µ‡∏ô      119
12                          ‡∏™‡∏ß‡∏¥‡∏™      109
13                        ‡∏≠‡∏¥‡∏ï‡∏≤‡∏•‡∏µ      109
14                         ‡∏î‡∏±‡∏ï‡∏ä‡πå      104
15                        ‡πÅ‡∏Ñ‡∏ô‡∏≤‡∏î‡∏≤       89
16                        ‡∏™‡∏ß‡∏µ‡πÄ‡∏î‡∏ô       78
17                       ‡πÑ‡∏ó‡∏¢‡∏•‡∏∑‡πâ‡∏≠       72
18                      ‡∏ù‡∏£‡∏±‡πà‡∏á‡πÄ‡∏®‡∏™       56
19                      ‡πÄ‡∏Ç‡∏°‡∏£‡∏≠‡∏û‡∏¢‡∏û       55
20                      ‡∏ô‡∏≠‡∏£‡πå‡πÄ‡∏ß‡∏¢‡πå       55
21                          ‡∏™‡πÄ‡∏õ‡∏ô       53
22            ‡πÄ‡∏ã‡∏ô‡∏ï‡πå‡∏Ñ‡∏¥‡∏ï‡∏™‡πå‡πÅ‡∏•‡∏∞‡πÄ‡∏ô‡∏ß‡∏¥‡∏™       41
23                     ‡πÑ‡∏≠‡∏ã‡πå‡πÅ‡∏•‡∏ô‡∏î‡πå       38
24                      ‡πÄ‡∏ö‡∏•‡πÄ‡∏¢‡∏µ‡∏¢‡∏°       35
25                      ‡∏≠‡∏≠‡∏™‡πÄ‡∏ï‡∏£‡∏µ‡∏¢       33
26                       ‡∏ç‡∏µ‡πà‡∏õ‡∏∏‡πà‡∏ô       29
27                        ‡∏ã‡∏µ‡πÄ‡∏£‡∏µ‡∏¢       26
28                    ‡πÑ‡∏£‡πâ‡∏™‡∏±‡∏ç‡∏ä‡∏≤‡∏ï‡∏¥       25
29                  ‡∏à‡∏µ‡∏ô(‡πÑ‡∏ï‡πâ‡∏´‡∏ß‡∏±‡∏ô)       20
30                        ‡πÑ‡∏ã‡∏õ‡∏£‡∏±‡∏™       11
31                          ‡∏û‡∏°‡πà‡∏≤        2

In [ ]:
# Specify the columns for unique value counting
columns_to_count = ['PatientUID', 'PatientvisitUID', 'Sex', 'Age', 'ENTY', 'NATNL']

# Count unique values in the specified columns
visit_count = visit[columns_to_count].value_counts().reset_index()
visit_count.columns = ['PatientUID', 'PatientvisitUID', 'Sex', 'Age', 'ENTY', 'NATNL', 'Count']
visit_count

         PatientUID  PatientvisitUID   Sex  Age         ENTY NATNL  Count
0              2299           144386  ‡∏´‡∏ç‡∏¥‡∏á   70  Out Patient   ‡πÑ‡∏ó‡∏¢      1
1           1120916          6593553   ‡∏ä‡∏≤‡∏¢   60  Out Patient   ‡πÑ‡∏ó‡∏¢      1
2           1120916          7752314   ‡∏ä‡∏≤‡∏¢   61  Out Patient   ‡πÑ‡∏ó‡∏¢      1
3           1120916          7747689   ‡∏ä‡∏≤‡∏¢   61  Out Patient   ‡πÑ‡∏ó‡∏¢      1
4           1120916          7737649   ‡∏ä‡∏≤‡∏¢   61  Out Patient   ‡πÑ‡∏ó‡∏¢      1
...             ...              ...   ...  ...          ...   ...    ...
1338866      448304          2221926   ‡∏ä‡∏≤‡∏¢   33  Out Patient   ‡πÑ‡∏ó‡∏¢      1
1338867      448304          2150381   ‡∏ä‡∏≤‡∏¢   33  Out Patient   ‡πÑ‡∏ó‡∏¢      1
1338868      448304          2138351   ‡∏ä‡∏≤‡∏¢   33  Out Patient   ‡πÑ‡∏ó‡∏¢      1
1338869      448304          2123685   ‡∏ä‡∏≤‡∏¢   33  Out Patient   ‡πÑ‡∏ó‡∏¢      1
1338870     3437526         10541118   ‡∏ä‡∏≤‡∏¢   68  Out Patient   ‡πÑ‡∏ó‡∏¢      1

[1338871 rows x 7 columns]