<a href="https://colab.research.google.com/github/nxxk23/PROJECT/blob/main/FileCKD.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [16]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [17]:
import pandas as pd
DrugDF = pd.read_excel('/content/drive/MyDrive/Thesis Project Kidney/Assign/SummaryFile/DrugDF.xlsx')
DrugDF.shape

(280081, 24)

In [18]:
import pandas as pd
DiagDF = pd.read_excel('/content/drive/MyDrive/Thesis Project Kidney/Assign/SummaryFile/DiagDF.xlsx')
DiagDF.shape

(280081, 15)

In [19]:
import pandas as pd
LabDF = pd.read_excel('/content/drive/MyDrive/Thesis Project Kidney/Assign/SummaryFile/labDF.xlsx')
LabDF.shape

(280081, 36)

In [20]:
import pandas as pd
VitalDF = pd.read_excel('/content/drive/MyDrive/Thesis Project Kidney/Assign/SummaryFile/vitalDF.xlsx')
VitalDF.shape

(280081, 8)

In [21]:
VitalDF = VitalDF.iloc[:, 1:]
VitalDF

,PatientUID,PatientVisitUID,Slopes,Systolic BP,Diastolic BP,BMI,BSA
0,2299,4286612,0.002857,129,82,21.94,1.41
1,2299,4546471,0.020833,146,81,20.27,1.38
2,2299,4801938,-0.062921,105,64,NaN,NaN
3,2299,5051781,-0.056522,111,58,20.49,1.38
4,2299,5296557,0.047619,125,65,20.89,1.4
...,...,...,...,...,...,...,...
280076,3409733,10435209,-0.655833,123,67,NaN,NaN
280077,3432056,10235244,-0.208313,134,78,NaN,NaN
280078,3432056,10306813,0.168400,140,66,NaN,NaN
280079,3432056,10408954,1.129412,146,NaN,NaN,NaN
280080,3432056,10573233,0.035000,140,75,NaN,NaN

In [22]:
LabDF = LabDF.iloc[:, 1:]
LabDF

,PatientUID,PatientVisitUID,Slopes,eGFR,BUN,Creatinine,Sodium,Potassium,Chloride,Bicarbonate,...,LDL Cholesterol,HDL Cholesterol,Parathyroid hormone,Vitamin D,UrineAlbumin/Cr ratio,UrineProtein/Cr ratio,UrineVolume (24hrs),UrineUrea (24hrs),UrineSodium (24hrs),UrineProtein (24hrs)
0,2299,4286612,0.002857,69.20,19.0,0.84,NaN,NaN,NaN,NaN,...,144.0,75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2299,4546471,0.020833,63.60,13.0,0.90,NaN,NaN,NaN,NaN,...,143.0,70,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2299,4801938,-0.062921,58.40,16.1,0.96,NaN,NaN,NaN,NaN,...,146.0,73,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2299,5051781,-0.056522,62.40,NaN,0.91,NaN,NaN,NaN,NaN,...,133.0,86,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2299,5296557,0.047619,55.00,14.1,1.01,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
280076,3409733,10435209,-0.655833,14.20,23.4,1.52,143,4.9,NaN,24.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
280077,3432056,10235244,-0.208313,15.80,36.4,2.00,NaN,4.9,NaN,26.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
280078,3432056,10306813,0.168400,19.80,40.2,2.49,141,4.9,NaN,27.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
280079,3432056,10408954,1.129412,59.90,11.5,3.55,139,4.7,NaN,32.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
280080,3432056,10573233,0.035000,51.30,14.3,3.49,NaN,4.6,NaN,27.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
DiagDF = DiagDF.iloc[:, 1:]
DiagDF

,PatientUID,PatientVisitUID,Slopes,Hypertension,Ischemic heart disease,Heart failure,Diabetes millitus,Dyslipidemia,SLE,Systemic sclerosis,Rheumatoid arthritis,HIV infection,HBV infection,HCV infection
0,2299,4286612,0.002857,0,0,0,1,1,0,0,0,0,0,0
1,2299,4546471,0.020833,0,0,0,2,1,0,0,0,0,0,0
2,2299,4801938,-0.062921,0,0,0,0,0,0,0,0,0,0,0
3,2299,5051781,-0.056522,0,0,0,1,1,0,0,0,0,0,0
4,2299,5296557,0.047619,0,0,0,1,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
280076,3409733,10435209,-0.655833,0,0,0,0,0,0,0,0,0,0,0
280077,3432056,10235244,-0.208313,0,0,0,0,0,0,0,0,0,0,0
280078,3432056,10306813,0.168400,0,0,0,0,0,0,0,0,0,0,0
280079,3432056,10408954,1.129412,0,0,0,0,0,0,0,0,0,0,0
280080,3432056,10573233,0.035000,0,0,0,0,0,0,0,0,0,0,0

In [24]:
DrugDF = DrugDF.iloc[:, 1:]
DrugDF

,PatientUID,PatientVisitUID,Slopes,Statin,NSAIDs,Diuretic,Beta blocker,Fibrate,SGLT2i,SU,...,Ezetimibe,TZD,ARB,ACEI,Non-dihydropyridine CCB,Vasodilator,Alpha blocker,Uricosuric agent,Ketoanalog amino acid,DPP4 inhibitor
0,2299,4286612,0.002857,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2299,4546471,0.020833,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2299,4801938,-0.062921,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2299,5051781,-0.056522,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2299,5296557,0.047619,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
280076,3409733,10435209,-0.655833,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
280077,3432056,10235244,-0.208313,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
280078,3432056,10306813,0.168400,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
280079,3432056,10408954,1.129412,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
280080,3432056,10573233,0.035000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## **TestMerge**

In [26]:
import pandas as pd

# Assuming you have four dataframes: DrugDF1, DiagDF, DrugDF2, LabDF

# Merge DrugDF1, DiagDF, DrugDF2, and LabDF based on the common columns
merged_df = DrugDF.merge(DiagDF, on=['PatientUID', 'PatientVisitUID', 'Slopes'], how='outer') \
                    .merge(VitalDF, on=['PatientUID', 'PatientVisitUID', 'Slopes'], how='outer') \
                    .merge(LabDF, on=['PatientUID', 'PatientVisitUID', 'Slopes'], how='outer')

# The merged_df will contain all the data from the four dataframes, merged on the common columns.
merged_df

,PatientUID,PatientVisitUID,Slopes,Statin,NSAIDs,Diuretic,Beta blocker,Fibrate,SGLT2i,SU,...,LDL Cholesterol,HDL Cholesterol,Parathyroid hormone,Vitamin D,UrineAlbumin/Cr ratio,UrineProtein/Cr ratio,UrineVolume (24hrs),UrineUrea (24hrs),UrineSodium (24hrs),UrineProtein (24hrs)
0,2299,4286612,0.002857,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,144.0,75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2299,4546471,0.020833,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,143.0,70,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2299,4801938,-0.062921,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,146.0,73,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2299,5051781,-0.056522,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,133.0,86,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2299,5296557,0.047619,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
280076,3409733,10435209,-0.655833,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
280077,3432056,10235244,-0.208313,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
280078,3432056,10306813,0.168400,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
280079,3432056,10408954,1.129412,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
280080,3432056,10573233,0.035000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
merged_df.shape

(280081, 70)