<a href="https://colab.research.google.com/github/nxxk23/PROJECT/blob/main/FileCKD.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import pandas as pd
DrugDF = pd.read_excel('/content/drive/MyDrive/Thesis Project Kidney/Assign/SummaryFile/DrugDF.xlsx')
DrugDF.shape

(280097, 24)

In [4]:
import pandas as pd
DiagDF = pd.read_excel('/content/drive/MyDrive/Thesis Project Kidney/Assign/SummaryFile/diagDF.xlsx')
DiagDF.shape

(280097, 15)

In [6]:
import pandas as pd
LabDF = pd.read_excel('/content/drive/MyDrive/Thesis Project Kidney/Assign/SummaryFile/labDF.xlsx')
LabDF.shape

(280097, 36)

In [7]:
import pandas as pd
VitalDF = pd.read_excel('/content/drive/MyDrive/Thesis Project Kidney/Assign/SummaryFile/vitalDF.xlsx')
VitalDF.shape

(280097, 8)

In [15]:
VitalDF

,Unnamed: 0,PatientUID,PatientVisitUID,Slopes,Systolic BP,Diastolic BP,BMI,BSA
0,1,2299,4286612,0.002857,129,82,21.94,1.41
1,2,2299,4546471,0.020833,146,81,20.27,1.38
2,3,2299,4801938,-0.062921,105,64,NaN,NaN
3,4,2299,5051781,-0.056522,111,58,20.49,1.38
4,5,2299,5296557,0.047619,125,65,20.89,1.4
...,...,...,...,...,...,...,...,...
280092,289490,3409733,10435209,-0.655833,155,77,NaN,NaN
280093,289491,3432056,10235244,-0.208313,114,73,NaN,NaN
280094,289492,3432056,10306813,0.168400,142,69,NaN,NaN
280095,289493,3432056,10408954,1.129412,130,77,NaN,NaN
280096,289494,3432056,10573233,0.035000,151,81,NaN,NaN

In [14]:
LabDF

,Unnamed: 0,PatientUID,PatientVisitUID,Slopes,eGFR,BUN,Creatinine,Sodium,Potassium,Chloride,...,LDL Cholesterol,HDL Cholesterol,Parathyroid hormone,Vitamin D,UrineAlbumin/Cr ratio,UrineProtein/Cr ratio,UrineVolume (24hrs),UrineUrea (24hrs),UrineSodium (24hrs),UrineProtein (24hrs)
0,0,2299,4286612,0.002857,69.20,19.0,0.84,NaN,NaN,NaN,...,144.0,75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,2299,4546471,0.020833,63.60,13.0,0.90,NaN,NaN,NaN,...,143.0,70,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,2299,4801938,-0.062921,58.40,16.1,0.96,NaN,NaN,NaN,...,146.0,73,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,2299,5051781,-0.056522,62.40,NaN,0.91,NaN,NaN,NaN,...,133.0,86,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,2299,5296557,0.047619,55.00,14.1,1.01,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
280092,329879,3409733,10435209,-0.655833,35.90,25.6,2.61,133,4.6,98,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
280093,329880,3432056,10235244,-0.208313,49.20,22.0,3.04,134,4.8,102,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
280094,329881,3432056,10306813,0.168400,68.80,13.8,3.16,139,4.3,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
280095,329885,3432056,10408954,1.129412,46.90,20.8,3.07,140,4.8,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
280096,329886,3432056,10573233,0.035000,28.30,20.7,2.55,143,4.9,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
DiagDF

,Unnamed: 0,PatientUID,PatientVisitUID,Slopes,Hypertension,Ischemic heart disease,Heart failure,Diabetes millitus,Dyslipidemia,SLE,Systemic sclerosis,Rheumatoid arthritis,HIV infection,HBV infection,HCV infection
0,0,2299,4286612,0.002857,0,0,0,1,1,0,0,0,0,0,0
1,1,2299,4546471,0.020833,0,0,0,2,1,0,0,0,0,0,0
2,2,2299,4801938,-0.062921,0,0,0,0,0,0,0,0,0,0,0
3,3,2299,5051781,-0.056522,0,0,0,1,1,0,0,0,0,0,0
4,4,2299,5296557,0.047619,0,0,0,1,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
280092,280092,3409733,10435209,-0.655833,0,0,0,0,0,0,0,0,0,0,0
280093,280093,3432056,10235244,-0.208313,0,0,0,0,0,0,0,0,0,0,0
280094,280094,3432056,10306813,0.168400,0,0,0,0,0,0,0,0,0,0,0
280095,280095,3432056,10408954,1.129412,0,0,0,0,0,0,0,0,0,0,0
280096,280096,3432056,10573233,0.035000,0,0,0,0,0,0,0,0,0,0,0

In [12]:
DrugDF

,Unnamed: 0,PatientUID,PatientVisitUID,Slopes,Statin,NSAIDs,Diuretic,Beta blocker,Fibrate,SGLT2i,...,Ezetimibe,TZD,ARB,ACEI,Non-dihydropyridine CCB,Vasodilator,Alpha blocker,Uricosuric agent,Ketoanalog amino acid,DPP4 inhibitor
0,0,2299,4286612,0.002857,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,2299,4546471,0.020833,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,2299,4801938,-0.062921,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,2299,5051781,-0.056522,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,2299,5296557,0.047619,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
280092,329655,3409733,10435209,-0.655833,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
280093,329656,3432056,10235244,-0.208313,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
280094,329657,3432056,10306813,0.168400,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
280095,329658,3432056,10408954,1.129412,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
280096,329659,3432056,10573233,0.035000,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN