<a href="https://colab.research.google.com/github/nxxk23/PROJECT/blob/main/FileMedication.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
import pandas as pd
hemo = pd.read_csv('/content/drive/MyDrive/Thesis Project Kidney/Hemodialysis.csv', encoding='latin1')

In [3]:
import pandas as pd
prescription = pd.read_csv('/content/drive/MyDrive/Thesis Project Kidney/Prescription.csv')
prescription.shape

(9530452, 10)

In [4]:
# Create a list from hemo['PatientUID']
patient_uid_list = hemo['PatientUID'].unique().tolist()
# Remove patient UIDs from visit['PatientUID'] that are not in the list
prescription = prescription[~prescription['PatientUID'].isin(patient_uid_list)]
prescription.shape

(7845039, 10)

In [5]:
df1 = pd.DataFrame(prescription)

# **DrugSummaryDF**

In [6]:
df = pd.DataFrame(prescription)

In [7]:
import pandas as pd
import re

# Lowercase and store values from 'DrugName' column
drugCol1 = [str(i).lower() for i in df['DrugName']]

# Lowercase and store values from 'GenericName' column
genericCol1 = [str(i).lower() for i in df['GenericName']]

# Store drug names
drugCol2 = []
genericCol2 = []

# Process 'DrugName' column
for value in drugCol1:
    if isinstance(value, str):
        if value[0].isdigit():
            drugCol2.append(value)
        else:
            valList = value.split()
            index_begin_with_digit = len(valList)
            for i in range(len(valList)):
                if valList[i][0].isdigit():
                    index_begin_with_digit = i
                    break
            newval = " ".join(valList[:index_begin_with_digit])
            drugCol2.append(newval)

# Process 'GenericName' column
for value in genericCol1:
    if isinstance(value, str):
        if value[0].isdigit():
            genericCol2.append(value)
        else:
            valList = value.split()
            index_begin_with_digit = len(valList)
            for i in range(len(valList)):
                if valList[i][0].isdigit():
                    index_begin_with_digit = i
                    break
            newval = " ".join(valList[:index_begin_with_digit])
            genericCol2.append(newval)

# Replace unwanted words and remove words starting with 'no.' and the digits following them
words_to_remove = ['inj', 'cap', 'mg', 'ml', 'tab', '[7402]', '[5702]', '[5703]', '[0604]', '[5606]', '[024840]', '[napha]', '[5704]', '(ฝาก)', '(เลิกใช้)']

drugCol3 = []
for i in drugCol2:
    for word in words_to_remove:
        i = i.replace(word, "")
    i = re.sub(r'\bno\.\d+(\.\d+)?\b', '', i)
    drugCol3.append(i.strip())

In [8]:
genericCol3 = []
for i in genericCol2:
    for word in words_to_remove:
        i = i.replace(word, "")
    i = re.sub(r'\bno\.\d+(\.\d+)?\b', '', i)
    genericCol3.append(i.strip())

In [9]:
# Create DataFrame with 'DrugName' and 'GenericName' columns
df_combined = pd.DataFrame({'DrugName': drugCol3, 'GenericName': genericCol3})

# Count unique values for 'DrugName'
drug_value_counts = df_combined['DrugName'].value_counts()

# Count unique values for 'GenericName'
generic_value_counts = df_combined['GenericName'].value_counts()

In [10]:
pre_drug = df_combined['DrugName'].value_counts().reset_index()
pre_drug.columns = ['DrugName', 'Count']

pre_generic = df_combined['GenericName'].value_counts().reset_index()
pre_generic.columns = ['GenericName', 'Count']

pre_count = df_combined.groupby(['DrugName', 'GenericName']).size().reset_index()
pre_count.columns = ['DrugName', 'GenericName', 'Count']

In [11]:
DrugSummary = pd.DataFrame(pre_count)
DrugSummary #4517

,DrugName,GenericName,Count
0,2% chlorhexidine in 70% alcohol 450,2% chlorhexidine in 70% alcohol 500,31
1,3tc 150,3tc 150,720
2,3tc 300,lamivir,268
3,3tc lamivudine 150,lamivudine mylan film-coated,10109
4,5-fu 10/0.2 . for subconjunctival,5-fu 10/0.2 . for subconjunctival,19
...,...,...,...
4512,ไหมเย็บเนื้อเยื่อเข้ากับสมอยึดตรีงกระดูก(ultra...,nan,4
4513,ไหมเย็บแผล ชนิดเส้นเดี่ยว ไม่ละลายน้ำ ผลิตจากพ...,nan,1
4514,ไหมเย็บแผล ชนิดเส้นเดี่ยว ไม่ละลายน้ำ ผลิตจากโ...,nan,1
4515,ไหมเย็บแผล ชนิดเส้นเดี่ยว ไม่ละลายน้ำ ผลิตจากโ...,nan,1
4516,ไฮโดรเจลผสมซิลเวอร์ ขนาด,nan,6

In [12]:
#DrugSummary = pd.read_csv('/content/drive/MyDrive/Thesis Project Kidney/Assign/Assign 4 : ReCountValue/DrugSummary.csv')

In [13]:
#df_combined = pd.read_csv('/content/drive/MyDrive/Thesis Project Kidney/Assign/Assign 4 : ReCountValue/df_combined.csv')

# **Slope**
> **ค่า x = ค่าจากวิสิท t ที่มาก่อน**

In [14]:
slope = pd.read_excel('/content/drive/MyDrive/Thesis Project Kidney/Assign/Assign 3: Re-CountSlope & Quartile/LabSlope.xlsx')

In [15]:
data = pd.DataFrame(slope)
data = data[['PatientUID','PatientVisitUID','Slopes']]
data = data.dropna()

In [16]:
df = pd.DataFrame(data)

# Sort the DataFrame by PatientUID and PatientVisitUID
df = df.sort_values(by=['PatientUID', 'PatientVisitUID'])

# Create a new column to store the previous slope value
df['PreviousSlope'] = df['Slopes'].shift(1)

# Update the Slopes column with the PreviousSlope values
df['Slopes'] = df['PreviousSlope']

# Drop the PreviousSlope column
df = df.drop(columns=['PreviousSlope'])
data = df.dropna()

## **Update Cleaned Value**
>> **into PrescriptionDF**

In [17]:
prescription.update(df_combined)

# **DrugList**

In [18]:
mapping = {
    'Anti-hypertensive1': [2607,4452,8,528,529],
    'Anti-hypertensive2': [1207,1367,1368,2466,2467,174,1474,661],
    'Anti-hypertensive3': [877,878,1393,1320],
    'Anti-hypertensive4': [658,1216],
    'Anti-hypertensive5': [961,962,963,964,965,123,1100,431,1509],
    'Anti-hypertensive6': [2161],
    'Anti-hypertensive7': [1463,1834,1866,362,506],
    'Anti-hypertensive8': [696,370,371],
    'Anti-hypertensive9': [1096,94,1494,1495,1496],
    'Anti-hyperglycemic1': [117,1000,1001,1002,1003,634,635,636],
    'Anti-hyperglycemic2': [1235,2071,2579,46,1007,1008,1009],
    'Anti-hyperglycemic3': [1235,1236,2604,2380,1699,1021,2597],
    'Anti-hyperglycemic4': [1783,1699,45,46],
    'Anti-hyperglycemic5': [1380,1237,1021,1200,944],
    'Anti-hyperglycemic6': [1166,1167,1168,1169,1306,2366,1639,1640,1641,1503],
    'Anti-hyperglycemic7': [1715],
    'Anti-lipid1': [206,207,208,209,1468,2003,2094,1352,539,1345,2542],
    'Anti-lipid2': [861,862],
    'Anti-lipid3': [883,884,885],
    'Anti-hyperuricemia1': [106,107],
    'Anti-hyperuricemia2': [874],
    'Anti-hyperuricemia3': [1850,257],
    'OtherMedication1': [1263],
    'OtherMedication2': [642,643,396,1119,1120,1121,1122,1123,1401,1430,814,180,1558]
}

# Create the mapping of prescription DataFrames
prescription_mapping = {}
for prescription_name, indices in mapping.items():
    prescription_mapping[prescription_name] = DrugSummary[DrugSummary.index.isin(prescription.index[indices])]

# Iterate through the prescription_mapping dictionary and update 'DrugName' in prescription DataFrame
for prescription_name, pre_count in prescription_mapping.items():
    result_item_names = pre_count['DrugName'].tolist()
    result_item_names = pre_count['GenericName'].tolist()
    prescription.loc[prescription['DrugName'].isin(result_item_names), 'DrugName'] = prescription_name
    prescription.loc[prescription['GenericName'].isin(result_item_names), 'GenericName'] = prescription_name

In [19]:
# Create a list of all the lab result names that were updated
updated_result_names = list(mapping.keys())

# Filter the lab DataFrame to keep only the rows with 'ResultItemName' in the updated names list
prescription = prescription[prescription['DrugName'].isin(updated_result_names)]

In [20]:
prescription

,PatientUID,PatientVisitUID,DispensedDttm,DrugName,GenericName,Quantity,DrugFrequency,Dosage,DosageForm,DrugDuration
52,2299,3169528,2559-05-25 15:19:08.083,Anti-lipid1,Anti-lipid1,45.0,od pc E |วันละ 1 ครั้ง หลังอาหารเย็น,0.5,0.5 TAB,90.0
72,2299,3640924,2559-11-11 12:26:33.220,OtherMedication2,OtherMedication2,180.0,tid pc |วันละ 3 ครั้ง หลังอาหาร เช้า เที่ยง เย็น,1.0,1 CAP,60.0
82,2299,3784051,2560-01-06 12:32:04.493,OtherMedication2,OtherMedication2,10.0,od pc |วันละ 1 ครั้ง หลังอาหารเช้า,1.0,1 TAB,10.0
142,2299,5544604,2561-09-12 15:36:49.563,OtherMedication2,OtherMedication2,270.0,tid pc |วันละ 3 ครั้ง หลังอาหาร เช้า เที่ยง เย็น,1.0,1 CAP,90.0
147,2299,5812902,2561-12-12 15:16:39.197,OtherMedication2,OtherMedication2,270.0,tid ac |วันละ 3 ครั้ง ก่อนอาหารเช้า เที่ยง เย็น,1.0,1 CAP,90.0
...,...,...,...,...,...,...,...,...,...,...
7844789,2044233,2874704,2559-02-01 21:54:01.193,Anti-lipid1,Anti-lipid1,1.0,q 6 hr |ทุก 6 ชั่วโมง,250.0,250 mg,1.0
7844793,2044233,2874704,2559-02-01 22:00:00.633,Anti-lipid1,Anti-lipid1,1.0,NaN,NaN,NaN,1.0
7844800,2044233,2874704,2559-02-02 08:00:00.490,Anti-lipid1,Anti-lipid1,2.0,As Direct |ใช้ตามแพทย์สั่ง,NaN,0 ml,1.0
7844811,2044233,2874704,2559-02-01 23:40:36.457,Anti-lipid1,Anti-lipid1,2.0,As Direct |ใช้ตามแพทย์สั่ง,NaN,0 ml,1.0
7844814,2044233,2874704,NaN,Anti-lipid1,Anti-lipid1,10.0,NaN,NaN,NaN,1.0

# **DrugWideTable**

In [21]:
# Initialize a dictionary to store the vital values
prscription_dict = {}

# Iterate through unique ResultItemName values
for result_item in prescription['DrugName'].unique():
    # Filter vital DataFrame for the current result_item
    subset_prescription = prescription[prescription['DrugName'] == result_item]

    # Merge the subset_prescription with data on PatientUID and PatientVisitUID
    merged_data = pd.merge(data, subset_prescription[['PatientUID', 'PatientVisitUID', 'DrugDuration']], on=['PatientUID', 'PatientVisitUID'], how='left')

    # Rename the DrugDuration column to match the result_item
    merged_data.rename(columns={'DrugDuration': result_item}, inplace=True)

    # Update the lab_dict with the result_item as the key and merged_data as the value
    prscription_dict[result_item] = merged_data

# Concatenate the dictionary values to get the final result
final_result = pd.concat(prscription_dict.values(), axis=1)

# Drop duplicate columns (except for 'PatientUID', 'PatientVisitUID', and 'Slopes')
final_result = final_result.loc[:, ~final_result.columns.duplicated()]

## **Drop duplicate column**

In [22]:
# Sort data by 'CWhen' in descending order within each patient's visit and keep the latest visit row
final_result.sort_values(by=['PatientUID', 'PatientVisitUID'], ascending=[True, True], inplace=True)
final_result.drop_duplicates(subset=['PatientUID', 'PatientVisitUID'], keep='first', inplace=True)

In [23]:
prescription['PatientVisitUID'].nunique()

134877

In [24]:
data['PatientVisitUID'].nunique()

280097

> **มี >145220 ที่จะเป็น null เพราะในไฟล์สโลปมี VisitID ผู้ป่วยนั้น แต่ PrescriptionFile ไม่มี**

In [25]:
final_result[final_result['OtherMedication2'].notnull()]

,PatientUID,PatientVisitUID,Slopes,Anti-lipid1,OtherMedication2,Anti-hypertensive5,Anti-hypertensive7,Anti-lipid3,Anti-hyperglycemic5,Anti-hyperglycemic1,...,Anti-lipid2,Anti-hyperglycemic4,Anti-hypertensive2,Anti-hypertensive1,Anti-hypertensive4,Anti-hypertensive9,Anti-hypertensive8,Anti-hyperuricemia3,OtherMedication1,Anti-hyperglycemic3
6,2299,5544604,0.333333,NaN,90.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2299,5812902,-0.029091,NaN,90.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2299,6082911,0.085714,NaN,100.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2299,6376726,0.036667,NaN,100.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,2299,6663614,-0.082653,NaN,90.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
242232,1355160,9495327,-0.032762,NaN,1.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
242233,1355160,9835187,-0.007404,NaN,3.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
242234,1355160,10214759,0.020865,NaN,1.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
242236,1355214,5585591,-0.161852,NaN,1.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
242237,1355214,7336798,-0.014097,NaN,14.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
DrugDF = pd.DataFrame(final_result)

## **Rename Columns**

In [28]:
column_rename_dict = {
    'Anti-hypertensive1': 'ACEI',
    'Anti-hypertensive2': 'ARB',
    'Anti-hypertensive3': 'Dihydropyridine CCB',
    'Anti-hypertensive4': 'Non-dihydropyridine CCB',
    'Anti-hypertensive5': 'Diuretic',
    'Anti-hypertensive6': 'MRA',
    'Anti-hypertensive7': 'Beta blocker',
    'Anti-hypertensive8': 'Alpha blocker',
    'Anti-hypertensive9': 'Vasodilator',
    'Anti-hyperglycemic1': 'SU',
    'Anti-hyperglycemic2': 'Metformin',
    'Anti-hyperglycemic3': 'DPP4 inhibitor',
    'Anti-hyperglycemic4': 'TZD',
    'Anti-hyperglycemic5': 'SGLT2i',
    'Anti-hyperglycemic6': 'Insulin',
    'Anti-hyperglycemic7': 'GLP1-RA',
    'Anti-lipid1': 'Statin',
    'Anti-lipid2': 'Ezetimibe',
    'Anti-lipid3': 'Fibrate',
    'Anti-hyperuricemia1': 'Allopurinol',
    'Anti-hyperuricemia2': 'Febuxostat',
    'Anti-hyperuricemia3': 'Uricosuric agent',
    'OtherMedication1': 'Ketoanalog amino acid',
    'OtherMedication2': 'NSAIDs'
}
# Use the rename method to rename the columns
DrugDF.rename(columns=column_rename_dict, inplace=True)
DrugDF

,PatientUID,PatientVisitUID,Slopes,Statin,NSAIDs,Diuretic,Beta blocker,Fibrate,SGLT2i,SU,...,Ezetimibe,TZD,ARB,ACEI,Non-dihydropyridine CCB,Vasodilator,Alpha blocker,Uricosuric agent,Ketoanalog amino acid,DPP4 inhibitor
0,2299,4286612,0.002857,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2299,4546471,0.020833,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2299,4801938,-0.062921,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2299,5051781,-0.056522,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2299,5296557,0.047619,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
329655,3409733,10435209,-0.655833,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
329656,3432056,10235244,-0.208313,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
329657,3432056,10306813,0.168400,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
329658,3432056,10408954,1.129412,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
329659,3432056,10573233,0.035000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [29]:
DrugDF.to_excel('DrugDF.xlsx')