<a href="https://colab.research.google.com/github/nxxk23/PROJECT/blob/main/FileVital.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd
hemo = pd.read_csv('/content/drive/MyDrive/Thesis Project Kidney/Hemodialysis.csv', encoding='latin1')
hemo.shape

(149987, 5)

In [3]:
import pandas as pd
vital = pd.read_csv('/content/drive/MyDrive/Thesis Project Kidney/vitalsign.csv')
vital.shape

(9213497, 7)

In [4]:
# Create a list from hemo['PatientUID']
patient_uid_list = hemo['PatientUID'].unique().tolist()

# Remove patient UIDs from visit['PatientUID'] that are not in the list
vital = vital[~vital['PatientUID'].isin(patient_uid_list)]
vital.shape

(8099274, 7)

In [5]:
# Specify the columns for unique value counting
columns_to_count = ['OrderItemName', 'ResultItemName']

# Count unique values in the specified columns
unique_counts = vital[columns_to_count].value_counts().reset_index()

In [6]:
unique_counts.columns = ['OrderItemName','ResultItemName', 'Count']

In [7]:
selected_items = ['Systolic BP', 'Diastolic BP', 'BMI', 'BSA']
filtered_items = unique_counts[unique_counts['ResultItemName'].isin(selected_items)]
filtered_items

        OrderItemName ResultItemName    Count
0  Vital Signs Record    Systolic BP  1221173
1  Vital Signs Record   Diastolic BP  1220095
7  Vital Signs Record            BMI   558791
8  Vital Signs Record            BSA   558502

In [8]:
#filtered_items.to_excel('VitalFile.xlsx')

In [9]:
import pandas as pd
slope = pd.read_excel('/content/drive/MyDrive/Thesis Project Kidney/Assign/Assign 3: Re-CountSlope & Quartile/LabSlope.xlsx')

In [10]:
data = pd.DataFrame(slope)
data = data[['PatientUID','PatientVisitUID','Slopes']]
data = data.dropna()
data

        PatientUID  PatientVisitUID    Slopes
1             2299          4020970  0.002857
2             2299          4286612  0.020833
3             2299          4546471 -0.062921
4             2299          4801938 -0.056522
5             2299          5051781  0.047619
...            ...              ...       ...
280094     3409733         10435209 -0.208313
280095     3432056         10235244  0.168400
280096     3432056         10306813  1.129412
280097     3432056         10408954  0.035000
280098     3432056         10573233 -0.536591

[280098 rows x 3 columns]

## **TestWideTable**

In [14]:
# Initialize a dictionary to store the vital values
vital_dict = {}

# Iterate through unique ResultItemName values
for result_item in vital['ResultItemName'].unique():
    # Filter vital dataframe for the current result_item
    subset_vital = vital[vital['ResultItemName'] == result_item]

    # Merge the subset_vital with data on PatientUID and PatientVisitUID
    merged_data = pd.merge(data, subset_vital[['PatientUID', 'PatientVisitUID', 'ResultValue']], on=['PatientUID', 'PatientVisitUID'], how='left')

    # Rename the ResultValue column to match the result_item
    merged_data.rename(columns={'ResultValue': result_item}, inplace=True)

    # Update the vital_dict with the result_item as key and merged_data as value
    vital_dict[result_item] = merged_data

# Concatenate the dictionary values to get the final result
final_result = pd.concat(vital_dict.values(), axis=1)

# Drop duplicate columns (except for 'PatientUID', 'PatientVisitUID', 'Slopes')
final_result = final_result.loc[:, ~final_result.columns.duplicated()]

In [37]:
vitalDF = final_result[['PatientUID','PatientVisitUID','Slopes','Systolic BP', 'Diastolic BP', 'BMI', 'BSA']]
# Drop rows with missing values in 'PatientUID', 'PatientVisitUID', and 'Slopes'
vitalDF = vitalDF.dropna(subset=['PatientUID', 'PatientVisitUID', 'Slopes'])

In [38]:
vitalDF.shape

(289496, 7)

In [39]:
data.shape

(280098, 3)

In [40]:
vitalDF.to_excel('vitalDF.xlsx')

In [44]:
vitalDF

,PatientUID,PatientVisitUID,Slopes,Systolic BP,Diastolic BP,BMI,BSA
0,2299.0,4020970.0,0.002857,127,79,28.62,1.6
1,2299.0,4286612.0,0.020833,138,94,21.6,1.42
2,2299.0,4286612.0,0.020833,129,82,21.94,1.41
3,2299.0,4546471.0,-0.062921,146,81,20.27,1.38
4,2299.0,4801938.0,-0.056522,105,64,NaN,NaN
...,...,...,...,...,...,...,...
289491,3409733.0,10435209.0,-0.208313,155,77,NaN,NaN
289492,3432056.0,10235244.0,0.168400,114,73,NaN,NaN
289493,3432056.0,10306813.0,1.129412,142,69,NaN,NaN
289494,3432056.0,10408954.0,0.035000,130,77,NaN,NaN
289495,3432056.0,10573233.0,-0.536591,151,81,NaN,NaN

## **Duplicate vitalDF**
    cuz there are the same visitID but in different Lab

In [32]:
# Check for duplicate rows in data
duplicates_data = data[data.duplicated(['PatientUID', 'PatientVisitUID'], keep=False)]

# Check for duplicate rows in vitalDF
duplicates_vitalDF = vitalDF[vitalDF.duplicated(['PatientUID', 'PatientVisitUID', 'Slopes'], keep=False)]

Duplicate rows in data:
Empty DataFrame
Columns: [PatientUID, PatientVisitUID, Slopes]
Index: []

In [43]:
vital[vital['PatientVisitUID']==7052512]

,LabNo,PatientUID,PatientVisitUID,OrderItemName,ResultItemName,ResultValue,CWhen
338636,1,2299,7052512,Vital Signs Record,BSA,1.36,2563-01-23 09:40:37.210
338637,2,2299,7052512,Vital Signs Record,BSA,1.37,2563-01-23 14:54:14.543
338638,1,2299,7052512,Vital Signs Record,Diastolic BP,66,2563-01-23 09:40:37.210
338639,2,2299,7052512,Vital Signs Record,Diastolic BP,75,2563-01-23 14:54:14.543
338640,1,2299,7052512,Vital Signs Record,Systolic BP,132,2563-01-23 09:40:37.210
338641,2,2299,7052512,Vital Signs Record,Systolic BP,148,2563-01-23 14:54:14.543
338642,1,2299,7052512,Vital Signs Record,Weight,45,2563-01-23 09:40:37.210
338643,2,2299,7052512,Vital Signs Record,Weight,45.3,2563-01-23 14:54:14.543
338784,1,2299,7052512,Vital Signs Record,BMI,20.27,2563-01-23 09:40:37.210
338785,2,2299,7052512,Vital Signs Record,BMI,20.4,2563-01-23 14:54:14.543
338786,1,2299,7052512,Vital Signs Record,Pulse Rate,72,2563-01-23 09:40:37.210
338787,2,2299,7052512,Vital Signs Record,Pulse Rate,75,2563-01-23 14:54:14.543
338788,1,2299,7052512,Vital Signs Record,Respiratory Rate,20,2563-01-23 09:40:37.210
338938,1,2299,7052512,Vital Signs Record,Height,149,2563-01-23 09:40:37.210
338939,2,2299,7052512,Vital Signs Record,Height,149,2563-01-23 14:54:14.543

In [33]:
duplicates_vitalDF

,PatientUID,PatientVisitUID,Slopes,Systolic BP,Diastolic BP,BMI,BSA
1,2299.0,4286612.0,0.020833,138,94,21.6,1.42
2,2299.0,4286612.0,0.020833,129,82,21.94,1.41
15,2299.0,7052512.0,0.026471,134,66,20.27,1.36
16,2299.0,7052512.0,0.026471,132,66,20.4,1.37
18,2299.0,7206178.0,-0.146250,130,71,19.86,1.35
...,...,...,...,...,...,...,...
289482,3406952.0,10216464.0,-0.265000,140,66,NaN,NaN
289483,3406952.0,10216464.0,-0.265000,146,NaN,NaN,NaN
289484,3406952.0,10216464.0,-0.265000,140,75,NaN,NaN
289485,3406952.0,10373602.0,-0.165833,140,75,NaN,NaN
289486,3406952.0,10373602.0,-0.165833,127,66,NaN,NaN