<a href="https://colab.research.google.com/github/nxxk23/PROJECT/blob/main/LabSlope.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
import pandas as pd
hemo = pd.read_csv('/content/drive/MyDrive/Thesis Project Kidney/Hemodialysis.csv', encoding='latin1')
hemo.shape

(149987, 5)

In [3]:
import pandas as pd
lab1 = pd.read_csv('/content/drive/MyDrive/Thesis Project Kidney/Lab.csv')
lab1.shape

(21641523, 11)

In [4]:
import pandas as pd
lab = pd.read_csv('/content/drive/MyDrive/Thesis Project Kidney/Lab.csv')
lab.shape

(21641523, 11)

In [5]:
# Create a list from hemo['PatientUID']
patient_uid_list = hemo['PatientUID'].unique().tolist()

In [6]:
# Remove patient UIDs from lab['PatientUID'] that are in the list
lab = lab1[~lab1['PatientUID'].isin(patient_uid_list)]
lab.shape

(17728574, 11)

In [7]:
lab['PatientVisitUID'].nunique() #à¸¡à¸µà¸œà¸¹à¹‰à¸›à¹ˆà¸§à¸¢ 20967 à¸—à¸µà¹ˆà¹„à¸¡à¹ˆà¸Ÿà¸­à¸à¹„à¸• à¹€à¸›à¹‡à¸™à¸œà¸¹à¹‰à¸›à¹ˆà¸§à¸¢à¸—à¸µà¹ˆà¹€à¸£à¸²à¸ˆà¸°à¹ƒà¸Šà¹‰

489786

##**ðŸ—‚ï¸ Patient Data eGFR age >= 18**

In [8]:
# Define the values to match
result_item_names = ['eGFR(CKD-EPI) age >=18']

# Select rows where 'ResultItemName' matches the specified values
eGFR1 = lab1[lab1['ResultItemName'].isin(result_item_names)]
eGFR1
labeGFR1 = eGFR1[['LabNo','PatientUID', 'PatientVisitUID', 'ResultItemName', 'ResultValue', 'CWhen']]
labeGFR1

,LabNo,PatientUID,PatientVisitUID,ResultItemName,ResultValue,CWhen
248,1,2299,3386255,eGFR(CKD-EPI) age >=18,71.7,2559-08-15 09:51:54.913
255,1,2299,3640924,eGFR(CKD-EPI) age >=18,66.8,2559-11-11 09:40:06.053
271,1,2299,4020970,eGFR(CKD-EPI) age >=18,67.20,2560-03-31 10:18:54.363
286,1,2299,4286612,eGFR(CKD-EPI) age >=18,69.20,2560-07-05 10:40:40.763
331,1,2299,4546471,eGFR(CKD-EPI) age >=18,63.60,2560-10-03 09:19:54.710
...,...,...,...,...,...,...
21628049,159,925649,3617725,eGFR(CKD-EPI) age >=18,77.60,2560-04-17 08:54:35.740
21628297,160,925649,3617725,eGFR(CKD-EPI) age >=18,72.00,2560-04-19 08:41:45.060
21628538,161,925649,3617725,eGFR(CKD-EPI) age >=18,62.90,2560-04-21 08:47:03.167
21628775,162,925649,3617725,eGFR(CKD-EPI) age >=18,59.60,2560-04-24 08:59:53.310
21629006,163,925649,3617725,eGFR(CKD-EPI) age >=18,60.10,2560-04-26 11:02:13.990

In [9]:
import re
# Define the regular expression pattern for valid values (digits and decimals)
pattern = r'^[0-9]+(\.[0-9]+)?$'

# Filter rows with non-digit or non-decimal values in the 'ResultValue' column
non_digit_rows1 = labeGFR1[~labeGFR1['ResultValue'].astype(str).apply(lambda x: bool(re.match(pattern, x)))]
non_digit_rows1 #64 rows before hemo ?? why we could not see this problem??

,LabNo,PatientUID,PatientVisitUID,ResultItemName,ResultValue,CWhen
1330622,1,119514,3571540,eGFR(CKD-EPI) age >=18,ND,2559-10-18 20:48:28.817
4453496,1,563983,3804017,eGFR(CKD-EPI) age >=18,-,2560-01-12 13:04:14.380
4471358,1,566187,8235036,eGFR(CKD-EPI) age >=18,Not detected,2564-03-19 09:09:07.297
5232553,1,690624,7797789,eGFR(CKD-EPI) age >=18,ND,2563-10-21 16:16:58.290
6486667,1,871360,4278938,eGFR(CKD-EPI) age >=18,nd,2560-07-03 15:04:50.793
...,...,...,...,...,...,...
20999454,28,464537,4882028,eGFR(CKD-EPI) age >=18,cancle,2561-02-28 09:50:42.277
21191192,35,738697,5438058,eGFR(CKD-EPI) age >=18,-,2561-09-07 08:31:36.957
21215351,36,1168494,9701496,eGFR(CKD-EPI) age >=18,xx,2565-09-01 07:56:11.627
21260028,39,22211,3392590,eGFR(CKD-EPI) age >=18,-,2559-10-02 08:52:02.277
21272957,39,2261515,3927229,eGFR(CKD-EPI) age >=18,-,2560-03-31 08:57:10.647

In [10]:
# Define the values to match
result_item_names = ['eGFR(CKD-EPI) age >=18']

# Select rows where 'ResultItemName' matches the specified values
eGFR = lab[lab['ResultItemName'].isin(result_item_names)]
eGFR
labeGFR = eGFR[['LabNo','PatientUID', 'PatientVisitUID', 'ResultItemName', 'ResultValue', 'CWhen']]
labeGFR

,LabNo,PatientUID,PatientVisitUID,ResultItemName,ResultValue,CWhen
248,1,2299,3386255,eGFR(CKD-EPI) age >=18,71.7,2559-08-15 09:51:54.913
255,1,2299,3640924,eGFR(CKD-EPI) age >=18,66.8,2559-11-11 09:40:06.053
271,1,2299,4020970,eGFR(CKD-EPI) age >=18,67.20,2560-03-31 10:18:54.363
286,1,2299,4286612,eGFR(CKD-EPI) age >=18,69.20,2560-07-05 10:40:40.763
331,1,2299,4546471,eGFR(CKD-EPI) age >=18,63.60,2560-10-03 09:19:54.710
...,...,...,...,...,...,...
21628049,159,925649,3617725,eGFR(CKD-EPI) age >=18,77.60,2560-04-17 08:54:35.740
21628297,160,925649,3617725,eGFR(CKD-EPI) age >=18,72.00,2560-04-19 08:41:45.060
21628538,161,925649,3617725,eGFR(CKD-EPI) age >=18,62.90,2560-04-21 08:47:03.167
21628775,162,925649,3617725,eGFR(CKD-EPI) age >=18,59.60,2560-04-24 08:59:53.310
21629006,163,925649,3617725,eGFR(CKD-EPI) age >=18,60.10,2560-04-26 11:02:13.990

In [11]:
import re
# Define the regular expression pattern for valid values (digits and decimals)
pattern = r'^[0-9]+(\.[0-9]+)?$'

# Filter rows with non-digit or non-decimal values in the 'ResultValue' column
non_digit_rows = labeGFR[~labeGFR['ResultValue'].astype(str).apply(lambda x: bool(re.match(pattern, x)))]
non_digit_rows  #51 rows have eGFR as Not Deteched

,LabNo,PatientUID,PatientVisitUID,ResultItemName,ResultValue,CWhen
1330622,1,119514,3571540,eGFR(CKD-EPI) age >=18,ND,2559-10-18 20:48:28.817
4453496,1,563983,3804017,eGFR(CKD-EPI) age >=18,-,2560-01-12 13:04:14.380
4471358,1,566187,8235036,eGFR(CKD-EPI) age >=18,Not detected,2564-03-19 09:09:07.297
6486667,1,871360,4278938,eGFR(CKD-EPI) age >=18,nd,2560-07-03 15:04:50.793
9528830,1,1269185,6082408,eGFR(CKD-EPI) age >=18,cancel,2562-03-13 09:40:29.180
9566531,1,1276548,6350160,eGFR(CKD-EPI) age >=18,ND,2562-06-12 08:32:21.860
9642442,1,1289020,6842443,eGFR(CKD-EPI) age >=18,nd,2562-11-15 12:28:30.490
10054359,1,1370560,6297595,eGFR(CKD-EPI) age >=18,nd,2562-05-27 13:58:44.777
10667958,1,1480125,3615923,eGFR(CKD-EPI) age >=18,-,2559-11-02 10:43:49.273
10935965,1,1523723,7139521,eGFR(CKD-EPI) age >=18,ND,2564-01-06 14:54:19.083
11107626,1,1558914,3737686,eGFR(CKD-EPI) age >=18,r,2559-12-19 10:09:34.710
12710700,1,2266212,6516947,eGFR(CKD-EPI) age >=18,ND,2562-08-05 09:31:23.897
13352686,1,2587904,5828463,eGFR(CKD-EPI) age >=18,ND,2561-12-17 18:16:25.357
13988494,1,2903643,7799194,eGFR(CKD-EPI) age >=18,-,2563-10-22 07:16:14.543
14779149,2,103828,5404867,eGFR(CKD-EPI) age >=18,nd,2561-07-26 10:01:59.537
15133547,2,564254,4355288,eGFR(CKD-EPI) age >=18,-,2560-07-31 14:23:42.573
15144555,2,581873,6592107,eGFR(CKD-EPI) age >=18,Cancel,2562-08-28 14:16:38.330
15473954,2,1039639,4723896,eGFR(CKD-EPI) age >=18,-,2560-12-06 07:29:11.847
15642717,2,1233286,8182277,eGFR(CKD-EPI) age >=18,Cancel,2564-03-03 23:13:49.463
15745312,2,1407655,3863534,eGFR(CKD-EPI) age >=18,-,2560-02-03 07:23:11.180
15974112,2,2119384,7663675,eGFR(CKD-EPI) age >=18,NaN,2563-09-16 10:36:08.937
16058432,2,2434301,4153658,eGFR(CKD-EPI) age >=18,r,2560-05-23 10:33:58.963
16209657,2,2962054,7327851,eGFR(CKD-EPI) age >=18,Cancle,2563-05-12 11:13:54.153
16423916,3,178928,7126707,eGFR(CKD-EPI) age >=18,nd,2563-02-18 12:13:20.470
16604938,3,746158,9175889,eGFR(CKD-EPI) age >=18,cancel,2565-02-14 09:49:44.750
17384495,4,762192,4960204,eGFR(CKD-EPI) age >=18,cancle,2561-02-28 09:50:58.137
17561361,4,1388617,6435833,eGFR(CKD-EPI) age >=18,ee,2562-07-11 09:25:33.423
17843020,5,167041,3673057,eGFR(CKD-EPI) age >=18,nd,2559-12-31 10:36:58.847
17989826,5,961965,5093036,eGFR(CKD-EPI) age >=18,nd,2561-04-26 09:23:08.943
18095446,5,1456492,6658368,eGFR(CKD-EPI) age >=18,nd,2562-09-29 07:08:56.053
18207785,5,2751664,7596666,eGFR(CKD-EPI) age >=18,ND,2563-08-19 09:12:43.857
18510855,6,1512922,6994850,eGFR(CKD-EPI) age >=18,ND,2563-01-09 08:25:42.207
18686973,7,285271,7742676,eGFR(CKD-EPI) age >=18,Error,2563-10-07 10:22:08.343
18790032,7,1118998,4952521,eGFR(CKD-EPI) age >=18,cancle,2561-02-28 09:51:35.120
19027026,8,749341,8739021,eGFR(CKD-EPI) age >=18,Cancel,2564-10-04 06:27:56.703
19210782,9,61189,4184412,eGFR(CKD-EPI) age >=18,ND,2560-06-16 19:39:54.633
19309702,9,1096151,3927038,eGFR(CKD-EPI) age >=18,cancel,2560-03-06 07:35:59.493
19392777,9,2620815,7461391,eGFR(CKD-EPI) age >=18,-,2563-07-07 07:28:18.430
19657884,11,603153,4457453,eGFR(CKD-EPI) age >=18,-,2560-09-15 11:31:40.010
19870868,12,1383868,8845975,eGFR(CKD-EPI) age >=18,cc,2564-11-12 06:37:07.070
20037320,13,2563072,8738390,eGFR(CKD-EPI) age >=18,Cancel,2564-10-04 06:27:55.273
20158821,14,2623766,4865175,eGFR(CKD-EPI) age >=18,nd,2561-02-20 12:20:48.330
20182052,15,122813,9488970,eGFR(CKD-EPI) age >=18,-,2565-06-05 19:08:39.177
20348912,16,1857228,3917329,eGFR(CKD-EPI) age >=18,cancel,2560-03-14 09:20:16.453
20444982,17,2434301,4942486,eGFR(CKD-EPI) age >=18,-,2561-03-12 15:24:39.587
20681038,21,349061,6262303,eGFR(CKD-EPI) age >=18,cancel,2562-06-19 09:23:36.250
20844159,24,663756,4149883,eGFR(CKD-EPI) age >=18,-,2560-06-19 09:14:00.140
20970793,27,892303,3368005,eGFR(CKD-EPI) age >=18,ND,2559-09-10 08:03:04.257
20979997,27,1414529,7806523,eGFR(CKD-EPI) age >=18,ND,2563-11-13 15:02:48.120
20999454,28,464537,4882028,eGFR(CKD-EPI) age >=18,cancle,2561-02-28 09:50:42.277
21260028,39,22211,3392590,eGFR(CKD-EPI) age >=18,-,2559-10-02 08:52:02.277

In [12]:
import pandas as pd

# Assuming you have a DataFrame named 'eGFR' with the specified columns
pivot_table = pd.pivot_table(labeGFR, index=['PatientUID', 'PatientVisitUID'], values=['ResultItemName', 'ResultValue', 'CWhen'], aggfunc='first')
pivot_table

                                              CWhen          ResultItemName  \
PatientUID PatientVisitUID
2299       3386255          2559-08-15 09:51:54.913  eGFR(CKD-EPI) age >=18
           3640924          2559-11-11 09:40:06.053  eGFR(CKD-EPI) age >=18
           4020970          2560-03-31 10:18:54.363  eGFR(CKD-EPI) age >=18
           4286612          2560-07-05 10:40:40.763  eGFR(CKD-EPI) age >=18
           4546471          2560-10-03 09:19:54.710  eGFR(CKD-EPI) age >=18
...                                             ...                     ...
3432056    10312896         2566-01-30 16:16:45.013  eGFR(CKD-EPI) age >=18
           10408954         2566-02-24 21:05:12.747  eGFR(CKD-EPI) age >=18
           10573233         2566-04-10 09:51:32.587  eGFR(CKD-EPI) age >=18
3437526    10191122         2565-12-26 09:29:11.307  eGFR(CKD-EPI) age >=18
           10541118         2566-03-30 18:44:40.160  eGFR(CKD-EPI) age >=18

                           ResultValue
PatientUID PatientVisitUID
2299       3386255                71.7
           3640924                66.8
           4020970               67.20
           4286612               69.20
           4546471               63.60
...                                ...
3432056    10312896              72.86
           10408954              68.69
           10573233              45.08
3437526    10191122              55.94
           10541118              56.99

[318686 rows x 3 columns]

In [13]:
pivot_table.isnull().any()

CWhen             False
ResultItemName    False
ResultValue       False
dtype: bool

##  **ðŸ•‘ generate datetime**
    Split CWhen à¹€à¸žà¸£à¸²à¸°à¸•à¹‰à¸­à¸‡à¸à¸²à¸£ generate year as à¸„à¸¨. Pandas à¸¡à¸µ outbound
    à¹ƒà¸«à¹‰à¸­à¸¢à¸¹à¹ˆà¹ƒà¸™à¸£à¸°à¸¢à¸°à¹€à¸§à¸¥à¸²à¸‚à¸­à¸‡ à¸„à¸¨. à¹à¸•à¹ˆà¸¥à¸­à¸‡ convert column 'CWhen'
    à¹€à¸›à¹‡à¸™ datetime à¹à¸¥à¹‰à¸§à¸—à¸³à¹„à¸¡à¹ˆà¹„à¸”à¹‰à¹€à¸¥à¸¢à¸•à¹‰à¸­à¸‡ split à¹à¸¥à¹‰à¸§à¸„à¹ˆà¸­à¸¢ merge

In [14]:
import pandas as pd

df = pd.DataFrame(pivot_table)

# Splitting the 'time' column into separate columns
df[['date', 'timestamp']] = df['CWhen'].str.split(' ', expand=True)
df[['year', 'month', 'day']] = df['date'].str.split('-', expand=True)
df[['hour', 'minute', 'second']] = df['timestamp'].str.split(':', expand=True)
df[['second', 'nanosecond']] = df['second'].str.split('.', expand=True)

# Convert year column from BE to AD
df['year'] = df['year'].astype(int) - 543

# Combine columns into a datetime column
df['date'] = pd.to_datetime(df[['year', 'month', 'day',]])
# Convert timestamp to Timedelta
df['timestamp'] = pd.to_timedelta(df['timestamp'])

# Convert date to datetime
df['date'] = pd.to_datetime(df['date'])

# Merge timestamp and date columns
df['datetime'] = df['date'] + df['timestamp']

df_sorted = df.sort_values(by=['PatientUID', 'datetime'])
df_sorted.isnull().any()

CWhen             False
ResultItemName    False
ResultValue       False
date              False
timestamp         False
year              False
month             False
day               False
hour              False
minute            False
second            False
nanosecond        False
datetime          False
dtype: bool



> **Lag Generate**

```
 for id in patientID:
    validVisitID = [visit0]
    visitBefore = visit0
    for visit in patientVisit[1:]:
        visitNow = visit
        if timeVisitNow - timeVisitBefore >= 7:
               validVisitID.append(visit)
               visitBefore = visit

```

In [15]:
import pandas as pd

# Step 1: Reset the index to perform calculations
df_sorted_reset = df_sorted.reset_index()

# Step 2: Create lag variables (lag 1 to lag 6) for the 'date' column within each patient
lag_periods = 6
for lag in range(1, lag_periods + 1):
    df_sorted_reset[f'date_lag_{lag}'] = df_sorted_reset.groupby('PatientUID')['date'].shift(lag)

# Step 3: Apply the condition to check for validVisitID within each patient
validVisitID_list = []
for patientID, patient_df in df_sorted_reset.groupby('PatientUID'):

    validVisitID = [patient_df.iloc[0]['PatientVisitUID']]  # Initialize with the first visit
    visitBefore = patient_df.iloc[0]['datetime']

    for _, row in patient_df.iloc[1:].iterrows():
        visitNow = row['datetime']
        if visitNow - visitBefore >= pd.Timedelta(days=7):
            validVisitID.append(row['PatientVisitUID'])
            visitBefore = visitNow

    validVisitID_list.extend(validVisitID)

# Step 4: Filter the DataFrame based on the validVisitID
df_valid_visits = df_sorted_reset[df_sorted_reset['PatientVisitUID'].isin(validVisitID_list)]

# Step 5: Set the index back to ['PatientUID', 'PatientVisitUID']
df_valid_visits.set_index(['PatientUID', 'PatientVisitUID'], inplace=True)

In [16]:
df_valid_visits.isnull().any()

CWhen             False
ResultItemName    False
ResultValue       False
date              False
timestamp         False
year              False
month             False
day               False
hour              False
minute            False
second            False
nanosecond        False
datetime          False
date_lag_1         True
date_lag_2         True
date_lag_3         True
date_lag_4         True
date_lag_5         True
date_lag_6         True
dtype: bool

In [17]:
len(set(validVisitID_list))

305172



> **Calculate TimeDiff and Slope**

In [18]:
# Step 6: Generate a new column 'TimeDiff' representing the time difference from 'datetime'
df_valid_visits['TimeDiff'] = df_valid_visits['datetime'].diff().dt.days

#Check If there rows that TimeDiff <7
df_valid_visits[df_valid_visits['TimeDiff'] < 7] ### its the first row of each patientvisitid so it calculate time_diff from another datetime's patient we have to drop all of this

<ipython-input-18-2a4cc01af89b>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_valid_visits['TimeDiff'] = df_valid_visits['datetime'].diff().dt.days

,,CWhen,ResultItemName,ResultValue,date,timestamp,year,month,day,hour,minute,second,nanosecond,datetime,date_lag_1,date_lag_2,date_lag_3,date_lag_4,date_lag_5,date_lag_6,TimeDiff
PatientUID,PatientVisitUID,,,,,,,,,,,,,,,,,,,,
2304,3431160,2559-08-30 09:37:00.867,eGFR(CKD-EPI) age >=18,68.9,2016-08-30,0 days 09:37:00.867000,2016,08,30,09,37,00,867,2016-08-30 09:37:00.867,NaT,NaT,NaT,NaT,NaT,NaT,-2257.0
2312,5136829,2561-04-28 14:39:32.587,eGFR(CKD-EPI) age >=18,57.60,2018-04-28,0 days 14:39:32.587000,2018,04,28,14,39,32,587,2018-04-28 14:39:32.587,NaT,NaT,NaT,NaT,NaT,NaT,-1719.0
2354,7003273,2563-01-09 07:57:21.190,eGFR(CKD-EPI) age >=18,56.99,2020-01-09,0 days 07:57:21.190000,2020,01,09,07,57,21,190,2020-01-09 07:57:21.190,NaT,NaT,NaT,NaT,NaT,NaT,-1145.0
2362,3910608,2560-02-20 19:48:50.243,eGFR(CKD-EPI) age >=18,67.60,2017-02-20,0 days 19:48:50.243000,2017,02,20,19,48,50,243,2017-02-20 19:48:50.243,NaT,NaT,NaT,NaT,NaT,NaT,-2229.0
2378,3420850,2559-08-26 09:00:24.393,eGFR(CKD-EPI) age >=18,25.9,2016-08-26,0 days 09:00:24.393000,2016,08,26,09,00,24,393,2016-08-26 09:00:24.393,NaT,NaT,NaT,NaT,NaT,NaT,-2399.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3421578,10151787,2565-12-14 11:30:53.310,eGFR(CKD-EPI) age >=18,47.44,2022-12-14,0 days 11:30:53.310000,2022,12,14,11,30,53,310,2022-12-14 11:30:53.310,NaT,NaT,NaT,NaT,NaT,NaT,-92.0
3426284,10105952,2565-11-29 10:47:37.917,eGFR(CKD-EPI) age >=18,27.88,2022-11-29,0 days 10:47:37.917000,2022,11,29,10,47,37,917,2022-11-29 10:47:37.917,NaT,NaT,NaT,NaT,NaT,NaT,-106.0
3431501,10144649,2565-12-13 13:42:48.510,eGFR(CKD-EPI) age >=18,54.65,2022-12-13,0 days 13:42:48.510000,2022,12,13,13,42,48,510,2022-12-13 13:42:48.510,NaT,NaT,NaT,NaT,NaT,NaT,-87.0
3432056,10154545,2565-12-15 09:48:31.117,eGFR(CKD-EPI) age >=18,70.18,2022-12-15,0 days 09:48:31.117000,2022,12,15,09,48,31,117,2022-12-15 09:48:31.117,NaT,NaT,NaT,NaT,NaT,NaT,-103.0
3437526,10191122,2565-12-26 09:29:11.307,eGFR(CKD-EPI) age >=18,55.94,2022-12-26,0 days 09:29:11.307000,2022,12,26,09,29,11,307,2022-12-26 09:29:11.307,NaT,NaT,NaT,NaT,NaT,NaT,-106.0

In [19]:
df_valid_visits.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 305172 entries, (2299, 3386255) to (3437526, 10541118)
Data columns (total 20 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   CWhen           305172 non-null  object
 1   ResultItemName  305172 non-null  object
 2   ResultValue     305172 non-null  object
 3   date            305172 non-null  datetime64[ns]
 4   timestamp       305172 non-null  timedelta64[ns]
 5   year            305172 non-null  int64
 6   month           305172 non-null  object
 7   day             305172 non-null  object
 8   hour            305172 non-null  object
 9   minute          305172 non-null  object
 10  second          305172 non-null  object
 11  nanosecond      305172 non-null  object
 12  datetime        305172 non-null  datetime64[ns]
 13  date_lag_1      284205 non-null  datetime64[ns]
 14  date_lag_2      264143 non-null  datetime64[ns]
 15  date_lag_3      245540 non-null  datetime64[ns]
 16  date_lag_4      228375 non-null  datetime64[ns]
 17  date_lag_5      212366 non-null  datetime64[ns]
 18  date_lag_6      197393 non-null  datetime64[ns]
 19  TimeDiff        305171 non-null  float64
dtypes: datetime64[ns](8), float64(1), int64(1), object(9), timedelta64[ns](1)
memory usage: 59.4+ MB

In [20]:
a = df_valid_visits.reset_index()

In [21]:
a[(a['PatientUID'] == 563983) & (a['PatientVisitUID'] == 3804017)]

,PatientUID,PatientVisitUID,CWhen,ResultItemName,ResultValue,date,timestamp,year,month,day,...,second,nanosecond,datetime,date_lag_1,date_lag_2,date_lag_3,date_lag_4,date_lag_5,date_lag_6,TimeDiff
97005,563983,3804017,2560-01-12 13:04:14.380,eGFR(CKD-EPI) age >=18,-,2017-01-12,0 days 13:04:14.380000,2017,01,12,...,14,380,2017-01-12 13:04:14.380,2016-09-22,NaT,NaT,NaT,NaT,NaT,112.0

In [22]:
a[(a['PatientUID'] == 119514) & (a['PatientVisitUID'] == 3571540)]

,PatientUID,PatientVisitUID,CWhen,ResultItemName,ResultValue,date,timestamp,year,month,day,...,second,nanosecond,datetime,date_lag_1,date_lag_2,date_lag_3,date_lag_4,date_lag_5,date_lag_6,TimeDiff
30817,119514,3571540,2559-10-18 20:48:28.817,eGFR(CKD-EPI) age >=18,ND,2016-10-18,0 days 20:48:28.817000,2016,10,18,...,28,817,2016-10-18 20:48:28.817,2016-09-27,NaT,NaT,NaT,NaT,NaT,21.0

In [23]:
a[(a['PatientUID'] == 566187) & (a['PatientVisitUID'] == 8235036)]

,PatientUID,PatientVisitUID,CWhen,ResultItemName,ResultValue,date,timestamp,year,month,day,...,second,nanosecond,datetime,date_lag_1,date_lag_2,date_lag_3,date_lag_4,date_lag_5,date_lag_6,TimeDiff
97449,566187,8235036,2564-03-19 09:09:07.297,eGFR(CKD-EPI) age >=18,Not detected,2021-03-19,0 days 09:09:07.297000,2021,03,19,...,07,297,2021-03-19 09:09:07.297,2020-08-12,2020-06-20,2020-01-28,2019-06-14,2019-01-31,2018-01-31,218.0

In [24]:
a[(a['PatientUID'] == 1289020) & (a['PatientVisitUID'] == 6842443)]

,PatientUID,PatientVisitUID,CWhen,ResultItemName,ResultValue,date,timestamp,year,month,day,...,second,nanosecond,datetime,date_lag_1,date_lag_2,date_lag_3,date_lag_4,date_lag_5,date_lag_6,TimeDiff
206552,1289020,6842443,2562-11-15 12:28:30.490,eGFR(CKD-EPI) age >=18,nd,2019-11-15,0 days 12:28:30.490000,2019,11,15,...,30,490,2019-11-15 12:28:30.490,2019-08-22,2019-06-20,2019-05-02,2019-04-29,2019-04-05,2019-03-28,85.0



> **Drop 11 Rows eGFR => Not Deteched**

In [25]:
# Convert 'ResultValue' column to numeric data type
a = pd.to_numeric(df_valid_visits['ResultValue'], errors='coerce')
len(a[a.isnull()]) # 11 rows
a[a.isnull()]

PatientUID  PatientVisitUID
119514      3571540           NaN
563983      3804017           NaN
566187      8235036           NaN
871360      4278938           NaN
1269185     6082408           NaN
1276548     6350160           NaN
1289020     6842443           NaN
1370560     6297595           NaN
1480125     3615923           NaN
1523723     7139521           NaN
1558914     3737686           NaN
2266212     6516947           NaN
2587904     5828463           NaN
Name: ResultValue, dtype: float64

In [26]:

# Convert 'ResultValue' and 'TimeDiff' columns to numeric data types
df_valid_visits['ResultValue'] = pd.to_numeric(df_valid_visits['ResultValue'], errors='coerce')
df_valid_visits['TimeDiff'] = pd.to_numeric(df_valid_visits['TimeDiff'], errors='coerce')

# Drop rows where 'TimeDiff' is NaN, zero, or negative (to avoid division by zero or negative values)
df_valid_visits = df_valid_visits[df_valid_visits['ResultValue'].notna() & (df_valid_visits['ResultValue'] > 0)]
df_valid_visits = df_valid_visits[df_valid_visits['TimeDiff'].notna() & (df_valid_visits['TimeDiff'] > 0)]

# Calculate the slope between 'ResultValue' and 'TimeDiff'
# Note: This is a simple calculation, and you may want to modify it based on your specific requirements
df_valid_visits['Slope'] = df_valid_visits['ResultValue'] / df_valid_visits['TimeDiff']

<ipython-input-26-fbbd3c33f466>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_valid_visits['ResultValue'] = pd.to_numeric(df_valid_visits['ResultValue'], errors='coerce')
<ipython-input-26-fbbd3c33f466>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_valid_visits['TimeDiff'] = pd.to_numeric(df_valid_visits['TimeDiff'], errors='coerce')

In [27]:
df_valid_visits[df_valid_visits['ResultValue'].isnull() & (df_valid_visits['ResultValue'] < 0)]

Empty DataFrame
Columns: [CWhen, ResultItemName, ResultValue, date, timestamp, year, month, day, hour, minute, second, nanosecond, datetime, date_lag_1, date_lag_2, date_lag_3, date_lag_4, date_lag_5, date_lag_6, TimeDiff, Slope]
Index: []

[0 rows x 21 columns]

In [28]:
df_valid_visits.isnull().any()

CWhen             False
ResultItemName    False
ResultValue       False
date              False
timestamp         False
year              False
month             False
day               False
hour              False
minute            False
second            False
nanosecond        False
datetime          False
date_lag_1         True
date_lag_2         True
date_lag_3         True
date_lag_4         True
date_lag_5         True
date_lag_6         True
TimeDiff          False
Slope             False
dtype: bool



> **CHECK**

```
*   inf row
*   negative time_diff
```

In [29]:
import numpy as np
import pandas as pd

# Assuming you have already calculated 'Slope' as shown in previous steps

# Find rows with infinite 'Slope' values
inf_rows = df_valid_visits[np.isinf(df_valid_visits['Slope'])]
inf_indices = inf_rows.index

# Find rows immediately before the rows with infinite 'Slope' values
rows_before_inf = df_valid_visits[np.isinf(df_valid_visits['Slope'].shift(-1))]

# Concatenate both DataFrames to get rows before and after 'inf_rows'
result = pd.concat([rows_before_inf, inf_rows])

# Print the resulting DataFrame
result

Empty DataFrame
Columns: [CWhen, ResultItemName, ResultValue, date, timestamp, year, month, day, hour, minute, second, nanosecond, datetime, date_lag_1, date_lag_2, date_lag_3, date_lag_4, date_lag_5, date_lag_6, TimeDiff, Slope]
Index: []

[0 rows x 21 columns]

In [30]:
df_valid_visits[df_valid_visits['Slope']<=0]

Empty DataFrame
Columns: [CWhen, ResultItemName, ResultValue, date, timestamp, year, month, day, hour, minute, second, nanosecond, datetime, date_lag_1, date_lag_2, date_lag_3, date_lag_4, date_lag_5, date_lag_6, TimeDiff, Slope]
Index: []

[0 rows x 21 columns]

In [31]:
df = pd.DataFrame(df_valid_visits)
df

                                              CWhen          ResultItemName  \
PatientUID PatientVisitUID
2299       3640924          2559-11-11 09:40:06.053  eGFR(CKD-EPI) age >=18
           4020970          2560-03-31 10:18:54.363  eGFR(CKD-EPI) age >=18
           4286612          2560-07-05 10:40:40.763  eGFR(CKD-EPI) age >=18
           4546471          2560-10-03 09:19:54.710  eGFR(CKD-EPI) age >=18
           4801938          2561-01-04 09:03:28.847  eGFR(CKD-EPI) age >=18
...                                             ...                     ...
3432056    10235244         2566-01-09 12:31:53.220  eGFR(CKD-EPI) age >=18
           10306813         2566-01-27 12:22:43.000  eGFR(CKD-EPI) age >=18
           10408954         2566-02-24 21:05:12.747  eGFR(CKD-EPI) age >=18
           10573233         2566-04-10 09:51:32.587  eGFR(CKD-EPI) age >=18
3437526    10541118         2566-03-30 18:44:40.160  eGFR(CKD-EPI) age >=18

                            ResultValue       date              timestamp  \
PatientUID PatientVisitUID
2299       3640924                66.80 2016-11-11 0 days 09:40:06.053000
           4020970                67.20 2017-03-31 0 days 10:18:54.363000
           4286612                69.20 2017-07-05 0 days 10:40:40.763000
           4546471                63.60 2017-10-03 0 days 09:19:54.710000
           4801938                58.40 2018-01-04 0 days 09:03:28.847000
...                                 ...        ...                    ...
3432056    10235244               48.51 2023-01-09 0 days 12:31:53.220000
           10306813               67.71 2023-01-27        0 days 12:22:43
           10408954               68.69 2023-02-24 0 days 21:05:12.747000
           10573233               45.08 2023-04-10 0 days 09:51:32.587000
3437526    10541118               56.99 2023-03-30 0 days 18:44:40.160000

                            year month day hour minute  ... nanosecond  \
PatientUID PatientVisitUID                              ...
2299       3640924          2016    11  11   09     40  ...        053
           4020970          2017    03  31   10     18  ...        363
           4286612          2017    07  05   10     40  ...        763
           4546471          2017    10  03   09     19  ...        710
           4801938          2018    01  04   09     03  ...        847
...                          ...   ...  ..  ...    ...  ...        ...
3432056    10235244         2023    01  09   12     31  ...        220
           10306813         2023    01  27   12     22  ...        000
           10408954         2023    02  24   21     05  ...        747
           10573233         2023    04  10   09     51  ...        587
3437526    10541118         2023    03  30   18     44  ...        160

                                          datetime date_lag_1 date_lag_2  \
PatientUID PatientVisitUID
2299       3640924         2016-11-11 09:40:06.053 2016-08-15        NaT
           4020970         2017-03-31 10:18:54.363 2016-11-11 2016-08-15
           4286612         2017-07-05 10:40:40.763 2017-03-31 2016-11-11
           4546471         2017-10-03 09:19:54.710 2017-07-05 2017-03-31
           4801938         2018-01-04 09:03:28.847 2017-10-03 2017-07-05
...                                            ...        ...        ...
3432056    10235244        2023-01-09 12:31:53.220 2022-12-15        NaT
           10306813        2023-01-27 12:22:43.000 2023-01-09 2022-12-15
           10408954        2023-02-24 21:05:12.747 2023-01-30 2023-01-27
           10573233        2023-04-10 09:51:32.587 2023-02-24 2023-01-30
3437526    10541118        2023-03-30 18:44:40.160 2022-12-26        NaT

                           date_lag_3 date_lag_4 date_lag_5 date_lag_6  \
PatientUID PatientVisitUID
2299       3640924                NaT        NaT        NaT        NaT
           4020970                NaT        NaT        NaT        NaT
           4286612         2016-08-15        NaT        NaT        NaT
           4546471         2016-11-11 2016-08-15        NaT        NaT
           4801938         2017-03-31 2016-11-11 2016-08-15        NaT
...                               ...        ...        ...        ...
3432056    10235244               NaT        NaT        NaT        NaT
           10306813               NaT        NaT        NaT        NaT
           10408954        2023-01-09 2022-12-15        NaT        NaT
           10573233        2023-01-27 2023-01-09 2022-12-15        NaT
3437526    10541118               NaT        NaT        NaT        NaT

                           TimeDiff     Slope
PatientUID PatientVisitUID
2299       3640924             87.0  0.767816
           4020970            140.0  0.480000
           4286612             96.0  0.720833
           4546471             89.0  0.714607
           4801938             92.0  0.634783
...                             ...       ...
3432056    10235244            25.0  1.940400
           10306813            17.0  3.982941
           10408954            28.0  2.453214
           10573233            44.0  1.024545
3437526    10541118            94.0  0.606277

[285170 rows x 21 columns]

In [32]:
df = df[['ResultValue','datetime','TimeDiff', 'Slope']]
df

                            ResultValue                datetime  TimeDiff  \
PatientUID PatientVisitUID
2299       3640924                66.80 2016-11-11 09:40:06.053      87.0
           4020970                67.20 2017-03-31 10:18:54.363     140.0
           4286612                69.20 2017-07-05 10:40:40.763      96.0
           4546471                63.60 2017-10-03 09:19:54.710      89.0
           4801938                58.40 2018-01-04 09:03:28.847      92.0
...                                 ...                     ...       ...
3432056    10235244               48.51 2023-01-09 12:31:53.220      25.0
           10306813               67.71 2023-01-27 12:22:43.000      17.0
           10408954               68.69 2023-02-24 21:05:12.747      28.0
           10573233               45.08 2023-04-10 09:51:32.587      44.0
3437526    10541118               56.99 2023-03-30 18:44:40.160      94.0

                               Slope
PatientUID PatientVisitUID
2299       3640924          0.767816
           4020970          0.480000
           4286612          0.720833
           4546471          0.714607
           4801938          0.634783
...                              ...
3432056    10235244         1.940400
           10306813         3.982941
           10408954         2.453214
           10573233         1.024545
3437526    10541118         0.606277

[285170 rows x 4 columns]

In [33]:
df.isnull().any()

ResultValue    False
datetime       False
TimeDiff       False
Slope          False
dtype: bool


> **Cut data**
```
à¹€à¸Šà¹‡à¸„à¸§à¹ˆà¸²à¹à¸•à¹ˆà¸¥à¸°à¸„à¸™à¸¡à¸µà¸ˆà¸³à¸™à¸§à¸™à¸ªà¹‚à¸¥à¸›à¸—à¸µà¹ˆà¸„à¸³à¸™à¸§à¸“à¸ˆà¸²à¸à¸£à¸°à¸¢à¸°à¹€à¸§à¸¥à¸²à¸«à¹ˆà¸²à¸‡à¸à¸±à¸™à¸­à¸¢à¹ˆà¸²à¸‡à¸™à¹‰à¸­à¸¢ 3 à¹€à¸”à¸·à¸­à¸™
à¸­à¸¢à¹ˆà¸²à¸‡à¸™à¹‰à¸­à¸¢ 2 à¸ªà¹‚à¸¥à¸›à¹„à¸«à¸¡ à¸–à¹‰à¸²à¸¡à¸µà¹„à¸¡à¹ˆà¸„à¸£à¸šà¹ƒà¸«à¹‰à¸•à¸±à¸”à¸„à¸™à¸™à¸±à¹‰à¸™à¸—à¸´à¹‰à¸‡
```

In [34]:
import pandas as pd

# Assuming you have a DataFrame 'eGFR_Patient' with index 'PatientUID' and columns 'datetime', 'slopes', and 'time_difference'

# Create an empty list to store the valid PatientUIDs
valid_patient_uids = []

# Group the DataFrame by index 'PatientUID'
grouped = df.groupby(level='PatientUID')

# Iterate over each group
for patient_uid, group in grouped:
    # Check if the group has at least 2 rows
    if len(group) >= 3:
        # Calculate the minimum and maximum datetime in the group
        min_datetime = group['datetime'].min()
        max_datetime = group['datetime'].max()

        # Calculate the time difference in days between the minimum and maximum datetime
        time_diff = (max_datetime - min_datetime).days

        # Check if the time difference is at least 90 days (3 months)
        if time_diff >= 90:
            valid_patient_uids.append(patient_uid)

# Filter the original DataFrame based on the valid PatientUIDs
filtered_df = df.loc[valid_patient_uids]

In [35]:
filtered_df[filtered_df['Slope']<=0]

Empty DataFrame
Columns: [ResultValue, datetime, TimeDiff, Slope]
Index: []

In [36]:
filtered_df[filtered_df['Slope']==float('inf')]

Empty DataFrame
Columns: [ResultValue, datetime, TimeDiff, Slope]
Index: []

In [37]:
filtered_df.reset_index()['PatientUID'].nunique()

17711

In [38]:
a = filtered_df.reset_index()

In [39]:
a.isnull().any()

PatientUID         False
PatientVisitUID    False
ResultValue        False
datetime           False
TimeDiff           False
Slope              False
dtype: bool

In [40]:
a.to_excel('LabSlope.xlsx', index=False)

In [41]:
import re
# Define the regular expression pattern for valid values (digits and decimals)
pattern = r'^[0-9]+(\.[0-9]+)?$'

# Filter rows with non-digit or non-decimal values in the 'ResultValue' column
non_digit_rows = a[~a['ResultValue'].astype(str).apply(lambda x: bool(re.match(pattern, x)))]
non_digit_rows

Empty DataFrame
Columns: [PatientUID, PatientVisitUID, ResultValue, datetime, TimeDiff, Slope]
Index: []