<a href="https://colab.research.google.com/github/nxxk23/PROJECT/blob/main/TestKidneys.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd
lab = pd.read_csv('/content/drive/MyDrive/Thesis Project Kidney/Lab.csv')

In [3]:
lab.head()

,LabNo,PatientUID,PatientVisitUID,Location,RequestItemName,ResultItemName,CWhen,ResultDttm,ResultValue,Unit,ReferenceRange
0,1,2299,2024049,เวชศาสตร์นิวเคลียร์ (OPD)-D15,BMD LUMBAR,Formatted Result,2558-02-19 16:16:51.423,NaN,FT,NaN,NaN
1,1,2299,2024049,ห้องปฏิบัติการเคมีคลินิก เวชศาสตร์ชันสูตร,"ALBUMIN, 32403","ALBUMIN, 32403",2558-02-19 10:32:20.907,NaN,4.1,NaN,3.8 - 5.4
2,1,2299,2024049,ห้องปฏิบัติการเคมีคลินิก เวชศาสตร์ชันสูตร,Alkaline Phos,"ALP, 32309",2558-02-19 10:32:21.610,NaN,44,NaN,42 - 121
3,1,2299,2024049,ห้องปฏิบัติการเคมีคลินิก เวชศาสตร์ชันสูตร,"ALT, 32311","ALT, 32311",2558-02-19 10:32:21.390,NaN,17,NaN,4 - 36
4,1,2299,2024049,ห้องปฏิบัติการเคมีคลินิก เวชศาสตร์ชันสูตร,"AST, 32310","AST, 32310",2558-02-19 10:32:21.500,NaN,23,NaN,12 - 32

In [ ]:
import csv

# Specify the file path
file_path = "/content/drive/MyDrive/Thesis Project Kidney/Lab.csv"

# Open and read the CSV file as a dictionary
with open(file_path, "r") as file:
    reader = csv.DictReader(file)
    data_dict = [row for row in reader]

# Now, you can work with the dictionary
print(data_dict)

In [ ]:
import pandas as pd
import numpy as np

# Replace NaN values with an empty string ('') or any other suitable value
lab['ResultItemName'].fillna('', inplace=True)

# Filter rows where the column value starts with 'A'
filtered_df = lab[lab['ResultItemName'].str.startswith('eGFR', na=False)]

# Get the values from the filtered column
values = filtered_df['ResultItemName'].values

# Print the values
for value in values:
    print(value)

In [ ]:
eGFR = lab[lab['ResultItemName']=='eGFR(CKD-EPI) age >=18']
eGFR

In [ ]:
lab1 = eGFR[eGFR['LabNo']==1]
lab1

In [ ]:
lab2 = eGFR[eGFR['LabNo']==2]
lab2

In [ ]:
# Convert DataFrame to dictionary
data_dict = lab.to_dict(orient='records')

# Print the dictionary
print(data_dict)