<a href="https://colab.research.google.com/github/nxxk23/PROJECT/blob/main/TestKidneys.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

#Test 1 Patient

##üóÇÔ∏èImport data: Lab

In [2]:
import pandas as pd
lab = pd.read_csv('/content/drive/MyDrive/Thesis Project Kidney/Lab.csv')

In [3]:
lab

,LabNo,PatientUID,PatientVisitUID,Location,RequestItemName,ResultItemName,CWhen,ResultDttm,ResultValue,Unit,ReferenceRange
0,1,2299,2024049,‡πÄ‡∏ß‡∏ä‡∏®‡∏≤‡∏™‡∏ï‡∏£‡πå‡∏ô‡∏¥‡∏ß‡πÄ‡∏Ñ‡∏•‡∏µ‡∏¢‡∏£‡πå (OPD)-D15,BMD LUMBAR,Formatted Result,2558-02-19 16:16:51.423,NaN,FT,NaN,NaN
1,1,2299,2024049,‡∏´‡πâ‡∏≠‡∏á‡∏õ‡∏è‡∏¥‡∏ö‡∏±‡∏ï‡∏¥‡∏Å‡∏≤‡∏£‡πÄ‡∏Ñ‡∏°‡∏µ‡∏Ñ‡∏•‡∏¥‡∏ô‡∏¥‡∏Å ‡πÄ‡∏ß‡∏ä‡∏®‡∏≤‡∏™‡∏ï‡∏£‡πå‡∏ä‡∏±‡∏ô‡∏™‡∏π‡∏ï‡∏£,"ALBUMIN, 32403","ALBUMIN, 32403",2558-02-19 10:32:20.907,NaN,4.1,NaN,3.8 - 5.4
2,1,2299,2024049,‡∏´‡πâ‡∏≠‡∏á‡∏õ‡∏è‡∏¥‡∏ö‡∏±‡∏ï‡∏¥‡∏Å‡∏≤‡∏£‡πÄ‡∏Ñ‡∏°‡∏µ‡∏Ñ‡∏•‡∏¥‡∏ô‡∏¥‡∏Å ‡πÄ‡∏ß‡∏ä‡∏®‡∏≤‡∏™‡∏ï‡∏£‡πå‡∏ä‡∏±‡∏ô‡∏™‡∏π‡∏ï‡∏£,Alkaline Phos,"ALP, 32309",2558-02-19 10:32:21.610,NaN,44,NaN,42 - 121
3,1,2299,2024049,‡∏´‡πâ‡∏≠‡∏á‡∏õ‡∏è‡∏¥‡∏ö‡∏±‡∏ï‡∏¥‡∏Å‡∏≤‡∏£‡πÄ‡∏Ñ‡∏°‡∏µ‡∏Ñ‡∏•‡∏¥‡∏ô‡∏¥‡∏Å ‡πÄ‡∏ß‡∏ä‡∏®‡∏≤‡∏™‡∏ï‡∏£‡πå‡∏ä‡∏±‡∏ô‡∏™‡∏π‡∏ï‡∏£,"ALT, 32311","ALT, 32311",2558-02-19 10:32:21.390,NaN,17,NaN,4 - 36
4,1,2299,2024049,‡∏´‡πâ‡∏≠‡∏á‡∏õ‡∏è‡∏¥‡∏ö‡∏±‡∏ï‡∏¥‡∏Å‡∏≤‡∏£‡πÄ‡∏Ñ‡∏°‡∏µ‡∏Ñ‡∏•‡∏¥‡∏ô‡∏¥‡∏Å ‡πÄ‡∏ß‡∏ä‡∏®‡∏≤‡∏™‡∏ï‡∏£‡πå‡∏ä‡∏±‡∏ô‡∏™‡∏π‡∏ï‡∏£,"AST, 32310","AST, 32310",2558-02-19 10:32:21.500,NaN,23,NaN,12 - 32
...,...,...,...,...,...,...,...,...,...,...,...
21641518,938,922659,7985473,‡∏´‡πâ‡∏≠‡∏á‡∏õ‡∏è‡∏¥‡∏ö‡∏±‡∏ï‡∏¥‡∏Å‡∏≤‡∏£‡πÄ‡∏Ñ‡∏°‡∏µ‡∏Ñ‡∏•‡∏¥‡∏ô‡∏¥‡∏Å ‡πÄ‡∏ß‡∏ä‡∏®‡∏≤‡∏™‡∏ï‡∏£‡πå‡∏ä‡∏±‡∏ô‡∏™‡∏π‡∏ï‡∏£,Dextrostix(POCT),DTX(POCT),2564-08-18 15:45:10.313,NaN,179,mg/dL,74-109
21641519,939,922659,7985473,‡∏´‡πâ‡∏≠‡∏á‡∏õ‡∏è‡∏¥‡∏ö‡∏±‡∏ï‡∏¥‡∏Å‡∏≤‡∏£‡πÄ‡∏Ñ‡∏°‡∏µ‡∏Ñ‡∏•‡∏¥‡∏ô‡∏¥‡∏Å ‡πÄ‡∏ß‡∏ä‡∏®‡∏≤‡∏™‡∏ï‡∏£‡πå‡∏ä‡∏±‡∏ô‡∏™‡∏π‡∏ï‡∏£,Dextrostix(POCT),DTX(POCT),2564-08-18 20:27:14.767,NaN,154,mg/dL,74-109
21641520,940,922659,7985473,‡∏´‡πâ‡∏≠‡∏á‡∏õ‡∏è‡∏¥‡∏ö‡∏±‡∏ï‡∏¥‡∏Å‡∏≤‡∏£‡πÄ‡∏Ñ‡∏°‡∏µ‡∏Ñ‡∏•‡∏¥‡∏ô‡∏¥‡∏Å ‡πÄ‡∏ß‡∏ä‡∏®‡∏≤‡∏™‡∏ï‡∏£‡πå‡∏ä‡∏±‡∏ô‡∏™‡∏π‡∏ï‡∏£,Dextrostix(POCT),DTX(POCT),2564-08-19 07:42:36.180,NaN,175,mg/dL,74-109
21641521,941,922659,7985473,‡∏´‡πâ‡∏≠‡∏á‡∏õ‡∏è‡∏¥‡∏ö‡∏±‡∏ï‡∏¥‡∏Å‡∏≤‡∏£‡πÄ‡∏Ñ‡∏°‡∏µ‡∏Ñ‡∏•‡∏¥‡∏ô‡∏¥‡∏Å ‡πÄ‡∏ß‡∏ä‡∏®‡∏≤‡∏™‡∏ï‡∏£‡πå‡∏ä‡∏±‡∏ô‡∏™‡∏π‡∏ï‡∏£,Dextrostix(POCT),DTX(POCT),2564-08-19 11:35:32.680,NaN,167,mg/dL,74-109
21641522,942,922659,7985473,‡∏´‡πâ‡∏≠‡∏á‡∏õ‡∏è‡∏¥‡∏ö‡∏±‡∏ï‡∏¥‡∏Å‡∏≤‡∏£‡πÄ‡∏Ñ‡∏°‡∏µ‡∏Ñ‡∏•‡∏¥‡∏ô‡∏¥‡∏Å ‡πÄ‡∏ß‡∏ä‡∏®‡∏≤‡∏™‡∏ï‡∏£‡πå‡∏ä‡∏±‡∏ô‡∏™‡∏π‡∏ï‡∏£,Dextrostix(POCT),DTX(POCT),2564-08-19 15:33:22.583,NaN,109,mg/dL,74-109

In [4]:
lab.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21641523 entries, 0 to 21641522
Data columns (total 11 columns):
 #   Column           Dtype
---  ------           -----
 0   LabNo            int64
 1   PatientUID       int64
 2   PatientVisitUID  int64
 3   Location         object
 4   RequestItemName  object
 5   ResultItemName   object
 6   CWhen            object
 7   ResultDttm       object
 8   ResultValue      object
 9   Unit             object
 10  ReferenceRange   object
dtypes: int64(3), object(8)
memory usage: 1.8+ GB



```
if use unique in df have so much value it cannot show all the value

```

In [5]:
# Assuming you have a Series 'lab' containing the column 'ResultItemName'
lab_filtered = lab['ResultItemName'][lab['ResultItemName'].str.startswith('eGFR', na=False)].unique()

In [6]:
lab_filtered

array(['eGFR(CKD-EPI) age >=18', 'eGFR(Schawart) age <18'], dtype=object)

## ü©∏Select interested value :eGFR

In [7]:
# Define the values to match
result_item_names = ['eGFR(CKD-EPI) age >=18', 'eGFR(Schawart) age <18']

# Select rows where 'ResultItemName' matches the specified values
eGFR = lab[lab['ResultItemName'].isin(result_item_names)]
eGFR

,LabNo,PatientUID,PatientVisitUID,Location,RequestItemName,ResultItemName,CWhen,ResultDttm,ResultValue,Unit,ReferenceRange
248,1,2299,3386255,‡∏´‡πâ‡∏≠‡∏á‡∏õ‡∏è‡∏¥‡∏ö‡∏±‡∏ï‡∏¥‡∏Å‡∏≤‡∏£‡πÄ‡∏Ñ‡∏°‡∏µ‡∏Ñ‡∏•‡∏¥‡∏ô‡∏¥‡∏Å ‡πÄ‡∏ß‡∏ä‡∏®‡∏≤‡∏™‡∏ï‡∏£‡πå‡∏ä‡∏±‡∏ô‡∏™‡∏π‡∏ï‡∏£,CREATININE,eGFR(CKD-EPI) age >=18,2559-08-15 09:51:54.913,NaN,71.7,ml/min/1.73m2,-
255,1,2299,3640924,‡∏´‡πâ‡∏≠‡∏á‡∏õ‡∏è‡∏¥‡∏ö‡∏±‡∏ï‡∏¥‡∏Å‡∏≤‡∏£‡πÄ‡∏Ñ‡∏°‡∏µ‡∏Ñ‡∏•‡∏¥‡∏ô‡∏¥‡∏Å ‡πÄ‡∏ß‡∏ä‡∏®‡∏≤‡∏™‡∏ï‡∏£‡πå‡∏ä‡∏±‡∏ô‡∏™‡∏π‡∏ï‡∏£,CREATININE,eGFR(CKD-EPI) age >=18,2559-11-11 09:40:06.053,NaN,66.8,ml/min/1.73m2,-
271,1,2299,4020970,‡∏´‡πâ‡∏≠‡∏á‡∏õ‡∏è‡∏¥‡∏ö‡∏±‡∏ï‡∏¥‡∏Å‡∏≤‡∏£‡πÄ‡∏Ñ‡∏°‡∏µ‡∏Ñ‡∏•‡∏¥‡∏ô‡∏¥‡∏Å ‡πÄ‡∏ß‡∏ä‡∏®‡∏≤‡∏™‡∏ï‡∏£‡πå‡∏ä‡∏±‡∏ô‡∏™‡∏π‡∏ï‡∏£,CREATININE,eGFR(CKD-EPI) age >=18,2560-03-31 10:18:54.363,NaN,67.20,ml/min/1.73m2,-
286,1,2299,4286612,‡∏´‡πâ‡∏≠‡∏á‡∏õ‡∏è‡∏¥‡∏ö‡∏±‡∏ï‡∏¥‡∏Å‡∏≤‡∏£‡πÄ‡∏Ñ‡∏°‡∏µ‡∏Ñ‡∏•‡∏¥‡∏ô‡∏¥‡∏Å ‡πÄ‡∏ß‡∏ä‡∏®‡∏≤‡∏™‡∏ï‡∏£‡πå‡∏ä‡∏±‡∏ô‡∏™‡∏π‡∏ï‡∏£,CREATININE,eGFR(CKD-EPI) age >=18,2560-07-05 10:40:40.763,NaN,69.20,ml/min/1.73m2,-
331,1,2299,4546471,‡∏´‡πâ‡∏≠‡∏á‡∏õ‡∏è‡∏¥‡∏ö‡∏±‡∏ï‡∏¥‡∏Å‡∏≤‡∏£‡πÄ‡∏Ñ‡∏°‡∏µ‡∏Ñ‡∏•‡∏¥‡∏ô‡∏¥‡∏Å ‡πÄ‡∏ß‡∏ä‡∏®‡∏≤‡∏™‡∏ï‡∏£‡πå‡∏ä‡∏±‡∏ô‡∏™‡∏π‡∏ï‡∏£,CREATININE,eGFR(CKD-EPI) age >=18,2560-10-03 09:19:54.710,NaN,63.60,ml/min/1.73m2,-
...,...,...,...,...,...,...,...,...,...,...,...
21628049,159,925649,3617725,‡∏´‡πâ‡∏≠‡∏á‡∏õ‡∏è‡∏¥‡∏ö‡∏±‡∏ï‡∏¥‡∏Å‡∏≤‡∏£‡πÄ‡∏Ñ‡∏°‡∏µ‡∏Ñ‡∏•‡∏¥‡∏ô‡∏¥‡∏Å ‡πÄ‡∏ß‡∏ä‡∏®‡∏≤‡∏™‡∏ï‡∏£‡πå‡∏ä‡∏±‡∏ô‡∏™‡∏π‡∏ï‡∏£,CREATININE,eGFR(CKD-EPI) age >=18,2560-04-17 08:54:35.740,NaN,77.60,ml/min/1.73m2,-
21628297,160,925649,3617725,‡∏´‡πâ‡∏≠‡∏á‡∏õ‡∏è‡∏¥‡∏ö‡∏±‡∏ï‡∏¥‡∏Å‡∏≤‡∏£‡πÄ‡∏Ñ‡∏°‡∏µ‡∏Ñ‡∏•‡∏¥‡∏ô‡∏¥‡∏Å ‡πÄ‡∏ß‡∏ä‡∏®‡∏≤‡∏™‡∏ï‡∏£‡πå‡∏ä‡∏±‡∏ô‡∏™‡∏π‡∏ï‡∏£,CREATININE,eGFR(CKD-EPI) age >=18,2560-04-19 08:41:45.060,NaN,72.00,ml/min/1.73m2,-
21628538,161,925649,3617725,‡∏´‡πâ‡∏≠‡∏á‡∏õ‡∏è‡∏¥‡∏ö‡∏±‡∏ï‡∏¥‡∏Å‡∏≤‡∏£‡πÄ‡∏Ñ‡∏°‡∏µ‡∏Ñ‡∏•‡∏¥‡∏ô‡∏¥‡∏Å ‡πÄ‡∏ß‡∏ä‡∏®‡∏≤‡∏™‡∏ï‡∏£‡πå‡∏ä‡∏±‡∏ô‡∏™‡∏π‡∏ï‡∏£,CREATININE,eGFR(CKD-EPI) age >=18,2560-04-21 08:47:03.167,NaN,62.90,ml/min/1.73m2,-
21628775,162,925649,3617725,‡∏´‡πâ‡∏≠‡∏á‡∏õ‡∏è‡∏¥‡∏ö‡∏±‡∏ï‡∏¥‡∏Å‡∏≤‡∏£‡πÄ‡∏Ñ‡∏°‡∏µ‡∏Ñ‡∏•‡∏¥‡∏ô‡∏¥‡∏Å ‡πÄ‡∏ß‡∏ä‡∏®‡∏≤‡∏™‡∏ï‡∏£‡πå‡∏ä‡∏±‡∏ô‡∏™‡∏π‡∏ï‡∏£,CREATININE,eGFR(CKD-EPI) age >=18,2560-04-24 08:59:53.310,NaN,59.60,ml/min/1.73m2,-
21629006,163,925649,3617725,‡∏´‡πâ‡∏≠‡∏á‡∏õ‡∏è‡∏¥‡∏ö‡∏±‡∏ï‡∏¥‡∏Å‡∏≤‡∏£‡πÄ‡∏Ñ‡∏°‡∏µ‡∏Ñ‡∏•‡∏¥‡∏ô‡∏¥‡∏Å ‡πÄ‡∏ß‡∏ä‡∏®‡∏≤‡∏™‡∏ï‡∏£‡πå‡∏ä‡∏±‡∏ô‡∏™‡∏π‡∏ï‡∏£,CREATININE,eGFR(CKD-EPI) age >=18,2560-04-26 11:02:13.990,NaN,60.10,ml/min/1.73m2,-

In [8]:
eGFR[eGFR['ResultItemName']=='eGFR(Schawart) age <18']

,LabNo,PatientUID,PatientVisitUID,Location,RequestItemName,ResultItemName,CWhen,ResultDttm,ResultValue,Unit,ReferenceRange
6823244,1,914059,10441544,‡∏´‡πâ‡∏≠‡∏á‡∏õ‡∏è‡∏¥‡∏ö‡∏±‡∏ï‡∏¥‡∏Å‡∏≤‡∏£‡πÄ‡∏Ñ‡∏°‡∏µ‡∏Ñ‡∏•‡∏¥‡∏ô‡∏¥‡∏Å ‡πÄ‡∏ß‡∏ä‡∏®‡∏≤‡∏™‡∏ï‡∏£‡πå‡∏ä‡∏±‡∏ô‡∏™‡∏π‡∏ï‡∏£,CREATININE,eGFR(Schawart) age <18,2566-03-03 18:15:05.683,NaN,No Cal,ml/min/1.73m2,NaN
7497658,1,1009260,8249451,‡∏´‡πâ‡∏≠‡∏á‡∏õ‡∏è‡∏¥‡∏ö‡∏±‡∏ï‡∏¥‡∏Å‡∏≤‡∏£‡πÄ‡∏Ñ‡∏°‡∏µ‡∏Ñ‡∏•‡∏¥‡∏ô‡∏¥‡∏Å ‡πÄ‡∏ß‡∏ä‡∏®‡∏≤‡∏™‡∏ï‡∏£‡πå‡∏ä‡∏±‡∏ô‡∏™‡∏π‡∏ï‡∏£,CREATININE,eGFR(Schawart) age <18,2564-03-24 08:03:07.463,NaN,No Cal,ml/min/1.73m2,NaN
8294618,1,1105941,6896475,‡∏´‡πâ‡∏≠‡∏á‡∏õ‡∏è‡∏¥‡∏ö‡∏±‡∏ï‡∏¥‡∏Å‡∏≤‡∏£‡πÄ‡∏Ñ‡∏°‡∏µ‡∏Ñ‡∏•‡∏¥‡∏ô‡∏¥‡∏Å ‡πÄ‡∏ß‡∏ä‡∏®‡∏≤‡∏™‡∏ï‡∏£‡πå‡∏ä‡∏±‡∏ô‡∏™‡∏π‡∏ï‡∏£,CREATININE,eGFR(Schawart) age <18,2562-12-02 07:54:20.950,NaN,No Cal,ml/min/1.73m2,NaN
8294673,1,1105941,7014231,‡∏´‡πâ‡∏≠‡∏á‡∏õ‡∏è‡∏¥‡∏ö‡∏±‡∏ï‡∏¥‡∏Å‡∏≤‡∏£‡πÄ‡∏Ñ‡∏°‡∏µ‡∏Ñ‡∏•‡∏¥‡∏ô‡∏¥‡∏Å ‡πÄ‡∏ß‡∏ä‡∏®‡∏≤‡∏™‡∏ï‡∏£‡πå‡∏ä‡∏±‡∏ô‡∏™‡∏π‡∏ï‡∏£,CREATININE,eGFR(Schawart) age <18,2563-01-13 07:59:51.610,NaN,No Cal,ml/min/1.73m2,NaN
8294727,1,1105941,7194102,‡∏´‡πâ‡∏≠‡∏á‡∏õ‡∏è‡∏¥‡∏ö‡∏±‡∏ï‡∏¥‡∏Å‡∏≤‡∏£‡πÄ‡∏Ñ‡∏°‡∏µ‡∏Ñ‡∏•‡∏¥‡∏ô‡∏¥‡∏Å ‡πÄ‡∏ß‡∏ä‡∏®‡∏≤‡∏™‡∏ï‡∏£‡πå‡∏ä‡∏±‡∏ô‡∏™‡∏π‡∏ï‡∏£,CREATININE,eGFR(Schawart) age <18,2563-03-09 08:07:30.043,NaN,No Cal,ml/min/1.73m2,NaN
...,...,...,...,...,...,...,...,...,...,...,...
17617526,4,1665266,7299124,‡∏´‡πâ‡∏≠‡∏á‡∏õ‡∏è‡∏¥‡∏ö‡∏±‡∏ï‡∏¥‡∏Å‡∏≤‡∏£‡πÄ‡∏Ñ‡∏°‡∏µ‡∏Ñ‡∏•‡∏¥‡∏ô‡∏¥‡∏Å ‡πÄ‡∏ß‡∏ä‡∏®‡∏≤‡∏™‡∏ï‡∏£‡πå‡∏ä‡∏±‡∏ô‡∏™‡∏π‡∏ï‡∏£,CREATININE,eGFR(Schawart) age <18,2563-05-05 07:49:42.677,NaN,No Cal,ml/min/1.73m2,NaN
18102403,5,1497721,7118396,‡∏´‡πâ‡∏≠‡∏á‡∏õ‡∏è‡∏¥‡∏ö‡∏±‡∏ï‡∏¥‡∏Å‡∏≤‡∏£‡πÄ‡∏Ñ‡∏°‡∏µ‡∏Ñ‡∏•‡∏¥‡∏ô‡∏¥‡∏Å ‡πÄ‡∏ß‡∏ä‡∏®‡∏≤‡∏™‡∏ï‡∏£‡πå‡∏ä‡∏±‡∏ô‡∏™‡∏π‡∏ï‡∏£,CREATININE,eGFR(Schawart) age <18,2563-02-27 07:43:44.223,NaN,No Cal,ml/min/1.73m2,NaN
18126901,5,1665266,7299124,‡∏´‡πâ‡∏≠‡∏á‡∏õ‡∏è‡∏¥‡∏ö‡∏±‡∏ï‡∏¥‡∏Å‡∏≤‡∏£‡πÄ‡∏Ñ‡∏°‡∏µ‡∏Ñ‡∏•‡∏¥‡∏ô‡∏¥‡∏Å ‡πÄ‡∏ß‡∏ä‡∏®‡∏≤‡∏™‡∏ï‡∏£‡πå‡∏ä‡∏±‡∏ô‡∏™‡∏π‡∏ï‡∏£,CREATININE,eGFR(Schawart) age <18,2563-05-07 07:54:09.350,NaN,No Cal,ml/min/1.73m2,NaN
18509392,6,1497721,7118396,‡∏´‡πâ‡∏≠‡∏á‡∏õ‡∏è‡∏¥‡∏ö‡∏±‡∏ï‡∏¥‡∏Å‡∏≤‡∏£‡πÄ‡∏Ñ‡∏°‡∏µ‡∏Ñ‡∏•‡∏¥‡∏ô‡∏¥‡∏Å ‡πÄ‡∏ß‡∏ä‡∏®‡∏≤‡∏™‡∏ï‡∏£‡πå‡∏ä‡∏±‡∏ô‡∏™‡∏π‡∏ï‡∏£,CREATININE,eGFR(Schawart) age <18,2563-03-02 07:23:06.417,NaN,No Cal,ml/min/1.73m2,NaN
18839616,7,1497721,7118396,‡∏´‡πâ‡∏≠‡∏á‡∏õ‡∏è‡∏¥‡∏ö‡∏±‡∏ï‡∏¥‡∏Å‡∏≤‡∏£‡πÄ‡∏Ñ‡∏°‡∏µ‡∏Ñ‡∏•‡∏¥‡∏ô‡∏¥‡∏Å ‡πÄ‡∏ß‡∏ä‡∏®‡∏≤‡∏™‡∏ï‡∏£‡πå‡∏ä‡∏±‡∏ô‡∏™‡∏π‡∏ï‡∏£,CREATININE,eGFR(Schawart) age <18,2563-03-05 07:50:17.817,NaN,No Cal,ml/min/1.73m2,NaN

## üìëPatient ID922659 



```
### he had came to üè• for 477 times in all lab
```

In [9]:
Lab922659 = eGFR[eGFR['PatientUID']==922659]
Lab922659.count() ##‡∏Ñ‡∏ô‡πÑ‡∏Ç‡πâ‡∏Ñ‡∏ô‡∏ô‡∏µ‡πâ‡∏°‡∏≤‡∏ï‡∏£‡∏ß‡∏à 477 ‡∏Ñ‡∏£‡∏±‡πâ‡∏á‡∏à‡∏≤‡∏Å‡∏ó‡∏∏‡∏Å‡πÅ‡∏•‡∏õ

LabNo              477
PatientUID         477
PatientVisitUID    477
Location           477
RequestItemName    477
ResultItemName     477
CWhen              477
ResultDttm           4
ResultValue        477
Unit               477
ReferenceRange     140
dtype: int64

In [10]:
lab922659 = Lab922659[['LabNo','PatientUID', 'PatientVisitUID', 'ResultItemName', 'ResultValue', 'CWhen']]

In [11]:
lab922659.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 477 entries, 6872238 to 21611496
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   LabNo            477 non-null    int64
 1   PatientUID       477 non-null    int64
 2   PatientVisitUID  477 non-null    int64
 3   ResultItemName   477 non-null    object
 4   ResultValue      477 non-null    object
 5   CWhen            477 non-null    object
dtypes: int64(3), object(3)
memory usage: 26.1+ KB

##  üïë generate datetime
    Split CWhen ‡πÄ‡∏û‡∏£‡∏≤‡∏∞‡∏ï‡πâ‡∏≠‡∏á‡∏Å‡∏≤‡∏£ generate year as ‡∏Ñ‡∏®. Pandas ‡∏°‡∏µ outbound 
    ‡πÉ‡∏´‡πâ‡∏≠‡∏¢‡∏π‡πà‡πÉ‡∏ô‡∏£‡∏∞‡∏¢‡∏∞‡πÄ‡∏ß‡∏•‡∏≤‡∏Ç‡∏≠‡∏á ‡∏Ñ‡∏®. ‡πÅ‡∏ï‡πà‡∏•‡∏≠‡∏á convert column 'CWhen' 
    ‡πÄ‡∏õ‡πá‡∏ô datetime ‡πÅ‡∏•‡πâ‡∏ß‡∏ó‡∏≥‡πÑ‡∏°‡πà‡πÑ‡∏î‡πâ‡πÄ‡∏•‡∏¢‡∏ï‡πâ‡∏≠‡∏á split ‡πÅ‡∏•‡πâ‡∏ß‡∏Ñ‡πà‡∏≠‡∏¢ merge

In [12]:
import pandas as pd

df = pd.DataFrame(lab922659)

# Splitting the 'time' column into separate columns
df[['date', 'timestamp']] = df['CWhen'].str.split(' ', expand=True)
df[['year', 'month', 'day']] = df['date'].str.split('-', expand=True)
df[['hour', 'minute', 'second']] = df['timestamp'].str.split(':', expand=True)
df[['second', 'nanosecond']] = df['second'].str.split('.', expand=True)

# Convert year column from BE to AD
df['year'] = df['year'].astype(int) - 543

## ‚ûï ‡∏£‡∏ß‡∏°‡∏ß‡∏±‡∏ô‡πÄ‡∏ß‡∏•‡∏≤‡πÑ‡∏ß‡πâ‡πÉ‡∏ô‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå datetime

In [13]:
# Combine columns into a datetime column
df['date'] = pd.to_datetime(df[['year', 'month', 'day',]])
# Convert timestamp to Timedelta
df['timestamp'] = pd.to_timedelta(df['timestamp'])

# Convert date to datetime
df['date'] = pd.to_datetime(df['date'])

# Merge timestamp and date columns
df['datetime'] = df['date'] + df['timestamp']



```
Sort datetime
```

In [14]:
df_sorted = df.sort_values('datetime')
df_sorted = df_sorted[['LabNo', 'PatientUID', 'PatientVisitUID', 'ResultItemName', 'ResultValue', 'datetime']]
df_sorted

,LabNo,PatientUID,PatientVisitUID,ResultItemName,ResultValue,datetime
6872238,1,922659,3465609,eGFR(CKD-EPI) age >=18,14.9,2016-09-10 10:22:39.237
6872269,1,922659,3604529,eGFR(CKD-EPI) age >=18,13.1,2016-10-29 10:22:51.870
6872301,1,922659,3753938,eGFR(CKD-EPI) age >=18,12.0,2016-12-23 09:19:23.460
6872332,1,922659,3919918,eGFR(CKD-EPI) age >=18,10.20,2017-02-23 10:01:35.603
6872367,1,922659,4021291,eGFR(CKD-EPI) age >=18,8.90,2017-03-31 10:43:05.773
...,...,...,...,...,...,...
17428631,4,922659,9740323,eGFR(CKD-EPI) age >=18,46.19,2022-08-15 08:28:06.023
6875316,1,922659,9904295,eGFR(CKD-EPI) age >=18,31.83,2022-09-28 08:59:30.633
6875355,1,922659,9991213,eGFR(CKD-EPI) age >=18,30.62,2022-10-26 08:50:52.800
6875395,1,922659,10174158,eGFR(CKD-EPI) age >=18,35.82,2022-12-21 09:00:09.950
6875442,1,922659,10375839,eGFR(CKD-EPI) age >=18,33.09,2023-02-15 09:10:23.967

In [15]:
df_sorted[df_sorted['ResultValue']=='eGFR(CKD-EPI) age <18']

Empty DataFrame
Columns: [LabNo, PatientUID, PatientVisitUID, ResultItemName, ResultValue, datetime]
Index: []

## üìà calculate slope by **ResultValue** and **datetime**

In [16]:
import pandas as pd

# Assuming you have a DataFrame 'df_sorted' with columns 'eGFR' and 'time'
df_sorted['eGFR'] = pd.to_numeric(df_sorted['ResultValue'], errors='coerce')
df_sorted['time'] = pd.to_datetime(df_sorted['datetime'])

# Drop rows with missing values
df_sorted.dropna(subset=['eGFR', 'time'], inplace=True)

# Calculate the time difference in dates
df_sorted['time_difference'] = df_sorted['time'].diff().dt.days

# Calculate the slopes and store them in a list
list_of_slopes = [(df_sorted['eGFR'].iloc[i+1] - df_sorted['eGFR'].iloc[i]) / df_sorted['time_difference'].iloc[i+1] for i in range(len(df_sorted)-1)]

# Add list_of_slopes as a new column in df_sorted
df_sorted['slopes'] = [None] + list_of_slopes

<ipython-input-16-e76e18f63ee5>:14: RuntimeWarning: divide by zero encountered in double_scalars
  list_of_slopes = [(df_sorted['eGFR'].iloc[i+1] - df_sorted['eGFR'].iloc[i]) / df_sorted['time_difference'].iloc[i+1] for i in range(len(df_sorted)-1)]
<ipython-input-16-e76e18f63ee5>:14: RuntimeWarning: invalid value encountered in double_scalars
  list_of_slopes = [(df_sorted['eGFR'].iloc[i+1] - df_sorted['eGFR'].iloc[i]) / df_sorted['time_difference'].iloc[i+1] for i in range(len(df_sorted)-1)]

In [17]:
df_sorted

,LabNo,PatientUID,PatientVisitUID,ResultItemName,ResultValue,datetime,eGFR,time,time_difference,slopes
6872238,1,922659,3465609,eGFR(CKD-EPI) age >=18,14.9,2016-09-10 10:22:39.237,14.90,2016-09-10 10:22:39.237,NaN,NaN
6872269,1,922659,3604529,eGFR(CKD-EPI) age >=18,13.1,2016-10-29 10:22:51.870,13.10,2016-10-29 10:22:51.870,49.0,-0.036735
6872301,1,922659,3753938,eGFR(CKD-EPI) age >=18,12.0,2016-12-23 09:19:23.460,12.00,2016-12-23 09:19:23.460,54.0,-0.020370
6872332,1,922659,3919918,eGFR(CKD-EPI) age >=18,10.20,2017-02-23 10:01:35.603,10.20,2017-02-23 10:01:35.603,62.0,-0.029032
6872367,1,922659,4021291,eGFR(CKD-EPI) age >=18,8.90,2017-03-31 10:43:05.773,8.90,2017-03-31 10:43:05.773,36.0,-0.036111
...,...,...,...,...,...,...,...,...,...,...
17428631,4,922659,9740323,eGFR(CKD-EPI) age >=18,46.19,2022-08-15 08:28:06.023,46.19,2022-08-15 08:28:06.023,2.0,3.500000
6875316,1,922659,9904295,eGFR(CKD-EPI) age >=18,31.83,2022-09-28 08:59:30.633,31.83,2022-09-28 08:59:30.633,44.0,-0.326364
6875355,1,922659,9991213,eGFR(CKD-EPI) age >=18,30.62,2022-10-26 08:50:52.800,30.62,2022-10-26 08:50:52.800,27.0,-0.044815
6875395,1,922659,10174158,eGFR(CKD-EPI) age >=18,35.82,2022-12-21 09:00:09.950,35.82,2022-12-21 09:00:09.950,56.0,0.092857
6875442,1,922659,10375839,eGFR(CKD-EPI) age >=18,33.09,2023-02-15 09:10:23.967,33.09,2023-02-15 09:10:23.967,56.0,-0.048750

In [18]:
ID922659 = df_sorted[['PatientUID', 'PatientVisitUID', 'time', 'eGFR', 'slopes', 'time_difference']]
ID922659

,PatientUID,PatientVisitUID,time,eGFR,slopes,time_difference
6872238,922659,3465609,2016-09-10 10:22:39.237,14.90,NaN,NaN
6872269,922659,3604529,2016-10-29 10:22:51.870,13.10,-0.036735,49.0
6872301,922659,3753938,2016-12-23 09:19:23.460,12.00,-0.020370,54.0
6872332,922659,3919918,2017-02-23 10:01:35.603,10.20,-0.029032,62.0
6872367,922659,4021291,2017-03-31 10:43:05.773,8.90,-0.036111,36.0
...,...,...,...,...,...,...
17428631,922659,9740323,2022-08-15 08:28:06.023,46.19,3.500000,2.0
6875316,922659,9904295,2022-09-28 08:59:30.633,31.83,-0.326364,44.0
6875355,922659,9991213,2022-10-26 08:50:52.800,30.62,-0.044815,27.0
6875395,922659,10174158,2022-12-21 09:00:09.950,35.82,0.092857,56.0
6875442,922659,10375839,2023-02-15 09:10:23.967,33.09,-0.048750,56.0

#**Overall: üò•**

#All Patient Data

##üóÇÔ∏è Data eGFR off all Patient

In [19]:
labeGFR = eGFR[['LabNo','PatientUID', 'PatientVisitUID', 'ResultItemName', 'ResultValue', 'CWhen']]

In [20]:
labeGFR

,LabNo,PatientUID,PatientVisitUID,ResultItemName,ResultValue,CWhen
248,1,2299,3386255,eGFR(CKD-EPI) age >=18,71.7,2559-08-15 09:51:54.913
255,1,2299,3640924,eGFR(CKD-EPI) age >=18,66.8,2559-11-11 09:40:06.053
271,1,2299,4020970,eGFR(CKD-EPI) age >=18,67.20,2560-03-31 10:18:54.363
286,1,2299,4286612,eGFR(CKD-EPI) age >=18,69.20,2560-07-05 10:40:40.763
331,1,2299,4546471,eGFR(CKD-EPI) age >=18,63.60,2560-10-03 09:19:54.710
...,...,...,...,...,...,...
21628049,159,925649,3617725,eGFR(CKD-EPI) age >=18,77.60,2560-04-17 08:54:35.740
21628297,160,925649,3617725,eGFR(CKD-EPI) age >=18,72.00,2560-04-19 08:41:45.060
21628538,161,925649,3617725,eGFR(CKD-EPI) age >=18,62.90,2560-04-21 08:47:03.167
21628775,162,925649,3617725,eGFR(CKD-EPI) age >=18,59.60,2560-04-24 08:59:53.310
21629006,163,925649,3617725,eGFR(CKD-EPI) age >=18,60.10,2560-04-26 11:02:13.990

##üóí Pivot each patientID 
to look at the value they have

In [21]:
import pandas as pd

# Assuming you have a DataFrame named 'eGFR' with the specified columns
pivot_table = pd.pivot_table(labeGFR, index=['PatientUID', 'PatientVisitUID'], values=['ResultItemName', 'ResultValue', 'CWhen'], aggfunc='first')
pivot_table

                                              CWhen          ResultItemName  \
PatientUID PatientVisitUID
2299       3386255          2559-08-15 09:51:54.913  eGFR(CKD-EPI) age >=18
           3640924          2559-11-11 09:40:06.053  eGFR(CKD-EPI) age >=18
           4020970          2560-03-31 10:18:54.363  eGFR(CKD-EPI) age >=18
           4286612          2560-07-05 10:40:40.763  eGFR(CKD-EPI) age >=18
           4546471          2560-10-03 09:19:54.710  eGFR(CKD-EPI) age >=18
...                                             ...                     ...
3432056    10312896         2566-01-30 16:16:45.013  eGFR(CKD-EPI) age >=18
           10408954         2566-02-24 21:05:12.747  eGFR(CKD-EPI) age >=18
           10573233         2566-04-10 09:51:32.587  eGFR(CKD-EPI) age >=18
3437526    10191122         2565-12-26 09:29:11.307  eGFR(CKD-EPI) age >=18
           10541118         2566-03-30 18:44:40.160  eGFR(CKD-EPI) age >=18

                           ResultValue
PatientUID PatientVisitUID
2299       3386255                71.7
           3640924                66.8
           4020970               67.20
           4286612               69.20
           4546471               63.60
...                                ...
3432056    10312896              72.86
           10408954              68.69
           10573233              45.08
3437526    10191122              55.94
           10541118              56.99

[356046 rows x 3 columns]

##  üïë generate datetime
    Split CWhen ‡πÄ‡∏û‡∏£‡∏≤‡∏∞‡∏ï‡πâ‡∏≠‡∏á‡∏Å‡∏≤‡∏£ generate year as ‡∏Ñ‡∏®. Pandas ‡∏°‡∏µ outbound 
    ‡πÉ‡∏´‡πâ‡∏≠‡∏¢‡∏π‡πà‡πÉ‡∏ô‡∏£‡∏∞‡∏¢‡∏∞‡πÄ‡∏ß‡∏•‡∏≤‡∏Ç‡∏≠‡∏á ‡∏Ñ‡∏®. ‡πÅ‡∏ï‡πà‡∏•‡∏≠‡∏á convert column 'CWhen' 
    ‡πÄ‡∏õ‡πá‡∏ô datetime ‡πÅ‡∏•‡πâ‡∏ß‡∏ó‡∏≥‡πÑ‡∏°‡πà‡πÑ‡∏î‡πâ‡πÄ‡∏•‡∏¢‡∏ï‡πâ‡∏≠‡∏á split ‡πÅ‡∏•‡πâ‡∏ß‡∏Ñ‡πà‡∏≠‡∏¢ merge



```
convert CWhen to datetime as AD
```

In [22]:
import pandas as pd

df = pd.DataFrame(pivot_table)

# Splitting the 'time' column into separate columns
df[['date', 'timestamp']] = df['CWhen'].str.split(' ', expand=True)
df[['year', 'month', 'day']] = df['date'].str.split('-', expand=True)
df[['hour', 'minute', 'second']] = df['timestamp'].str.split(':', expand=True)
df[['second', 'nanosecond']] = df['second'].str.split('.', expand=True)

# Convert year column from BE to AD
df['year'] = df['year'].astype(int) - 543

# Combine columns into a datetime column
df['date'] = pd.to_datetime(df[['year', 'month', 'day',]])
# Convert timestamp to Timedelta
df['timestamp'] = pd.to_timedelta(df['timestamp'])

# Convert date to datetime
df['date'] = pd.to_datetime(df['date'])

# Merge timestamp and date columns
df['datetime'] = df['date'] + df['timestamp']

In [23]:
df

                                              CWhen          ResultItemName  \
PatientUID PatientVisitUID
2299       3386255          2559-08-15 09:51:54.913  eGFR(CKD-EPI) age >=18
           3640924          2559-11-11 09:40:06.053  eGFR(CKD-EPI) age >=18
           4020970          2560-03-31 10:18:54.363  eGFR(CKD-EPI) age >=18
           4286612          2560-07-05 10:40:40.763  eGFR(CKD-EPI) age >=18
           4546471          2560-10-03 09:19:54.710  eGFR(CKD-EPI) age >=18
...                                             ...                     ...
3432056    10312896         2566-01-30 16:16:45.013  eGFR(CKD-EPI) age >=18
           10408954         2566-02-24 21:05:12.747  eGFR(CKD-EPI) age >=18
           10573233         2566-04-10 09:51:32.587  eGFR(CKD-EPI) age >=18
3437526    10191122         2565-12-26 09:29:11.307  eGFR(CKD-EPI) age >=18
           10541118         2566-03-30 18:44:40.160  eGFR(CKD-EPI) age >=18

                           ResultValue       date              timestamp  \
PatientUID PatientVisitUID
2299       3386255                71.7 2016-08-15 0 days 09:51:54.913000
           3640924                66.8 2016-11-11 0 days 09:40:06.053000
           4020970               67.20 2017-03-31 0 days 10:18:54.363000
           4286612               69.20 2017-07-05 0 days 10:40:40.763000
           4546471               63.60 2017-10-03 0 days 09:19:54.710000
...                                ...        ...                    ...
3432056    10312896              72.86 2023-01-30 0 days 16:16:45.013000
           10408954              68.69 2023-02-24 0 days 21:05:12.747000
           10573233              45.08 2023-04-10 0 days 09:51:32.587000
3437526    10191122              55.94 2022-12-26 0 days 09:29:11.307000
           10541118              56.99 2023-03-30 0 days 18:44:40.160000

                            year month day hour minute second nanosecond  \
PatientUID PatientVisitUID
2299       3386255          2016    08  15   09     51     54        913
           3640924          2016    11  11   09     40     06        053
           4020970          2017    03  31   10     18     54        363
           4286612          2017    07  05   10     40     40        763
           4546471          2017    10  03   09     19     54        710
...                          ...   ...  ..  ...    ...    ...        ...
3432056    10312896         2023    01  30   16     16     45        013
           10408954         2023    02  24   21     05     12        747
           10573233         2023    04  10   09     51     32        587
3437526    10191122         2022    12  26   09     29     11        307
           10541118         2023    03  30   18     44     40        160

                                          datetime
PatientUID PatientVisitUID
2299       3386255         2016-08-15 09:51:54.913
           3640924         2016-11-11 09:40:06.053
           4020970         2017-03-31 10:18:54.363
           4286612         2017-07-05 10:40:40.763
           4546471         2017-10-03 09:19:54.710
...                                            ...
3432056    10312896        2023-01-30 16:16:45.013
           10408954        2023-02-24 21:05:12.747
           10573233        2023-04-10 09:51:32.587
3437526    10191122        2022-12-26 09:29:11.307
           10541118        2023-03-30 18:44:40.160

[356046 rows x 13 columns]

## üì∂sort datetime 
**.sort_values()**
```
used to sort the pivot table by the columns 'PatientUID' and 'CWhen'. This will sort the 'CWhen' column within each 'PatientUID' group.
```

In [27]:
df_sorted = df.sort_values(by=['PatientUID', 'datetime'])

In [28]:
df_sorted

                                              CWhen          ResultItemName  \
PatientUID PatientVisitUID
2299       3386255          2559-08-15 09:51:54.913  eGFR(CKD-EPI) age >=18
           3640924          2559-11-11 09:40:06.053  eGFR(CKD-EPI) age >=18
           4020970          2560-03-31 10:18:54.363  eGFR(CKD-EPI) age >=18
           4286612          2560-07-05 10:40:40.763  eGFR(CKD-EPI) age >=18
           4546471          2560-10-03 09:19:54.710  eGFR(CKD-EPI) age >=18
...                                             ...                     ...
3432056    10312896         2566-01-30 16:16:45.013  eGFR(CKD-EPI) age >=18
           10408954         2566-02-24 21:05:12.747  eGFR(CKD-EPI) age >=18
           10573233         2566-04-10 09:51:32.587  eGFR(CKD-EPI) age >=18
3437526    10191122         2565-12-26 09:29:11.307  eGFR(CKD-EPI) age >=18
           10541118         2566-03-30 18:44:40.160  eGFR(CKD-EPI) age >=18

                           ResultValue       date              timestamp  \
PatientUID PatientVisitUID
2299       3386255                71.7 2016-08-15 0 days 09:51:54.913000
           3640924                66.8 2016-11-11 0 days 09:40:06.053000
           4020970               67.20 2017-03-31 0 days 10:18:54.363000
           4286612               69.20 2017-07-05 0 days 10:40:40.763000
           4546471               63.60 2017-10-03 0 days 09:19:54.710000
...                                ...        ...                    ...
3432056    10312896              72.86 2023-01-30 0 days 16:16:45.013000
           10408954              68.69 2023-02-24 0 days 21:05:12.747000
           10573233              45.08 2023-04-10 0 days 09:51:32.587000
3437526    10191122              55.94 2022-12-26 0 days 09:29:11.307000
           10541118              56.99 2023-03-30 0 days 18:44:40.160000

                            year month day hour minute second nanosecond  \
PatientUID PatientVisitUID
2299       3386255          2016    08  15   09     51     54        913
           3640924          2016    11  11   09     40     06        053
           4020970          2017    03  31   10     18     54        363
           4286612          2017    07  05   10     40     40        763
           4546471          2017    10  03   09     19     54        710
...                          ...   ...  ..  ...    ...    ...        ...
3432056    10312896         2023    01  30   16     16     45        013
           10408954         2023    02  24   21     05     12        747
           10573233         2023    04  10   09     51     32        587
3437526    10191122         2022    12  26   09     29     11        307
           10541118         2023    03  30   18     44     40        160

                                          datetime
PatientUID PatientVisitUID
2299       3386255         2016-08-15 09:51:54.913
           3640924         2016-11-11 09:40:06.053
           4020970         2017-03-31 10:18:54.363
           4286612         2017-07-05 10:40:40.763
           4546471         2017-10-03 09:19:54.710
...                                            ...
3432056    10312896        2023-01-30 16:16:45.013
           10408954        2023-02-24 21:05:12.747
           10573233        2023-04-10 09:51:32.587
3437526    10191122        2022-12-26 09:29:11.307
           10541118        2023-03-30 18:44:40.160

[356046 rows x 13 columns]

## üìà calculate slope by **ResultValue** and **datetime**

In [29]:
import pandas as pd

# Assuming you have a DataFrame 'df_sorted' with columns 'eGFR' and 'time'
df_sorted['eGFR'] = pd.to_numeric(df_sorted['ResultValue'], errors='coerce')
df_sorted['time'] = pd.to_datetime(df_sorted['datetime'])

# Drop rows with missing values
df_sorted.dropna(subset=['eGFR', 'time'], inplace=True)

# Calculate the time difference in dates
df_sorted['time_difference'] = df_sorted['time'].diff().dt.days

# Calculate the slopes and store them in a list
list_of_slopes = [(df_sorted['eGFR'].iloc[i+1] - df_sorted['eGFR'].iloc[i]) / df_sorted['time_difference'].iloc[i+1] for i in range(len(df_sorted)-1)]

# Add list_of_slopes as a new column in df_sorted
df_sorted['slopes'] = [None] + list_of_slopes

<ipython-input-29-e76e18f63ee5>:14: RuntimeWarning: divide by zero encountered in double_scalars
  list_of_slopes = [(df_sorted['eGFR'].iloc[i+1] - df_sorted['eGFR'].iloc[i]) / df_sorted['time_difference'].iloc[i+1] for i in range(len(df_sorted)-1)]
<ipython-input-29-e76e18f63ee5>:14: RuntimeWarning: invalid value encountered in double_scalars
  list_of_slopes = [(df_sorted['eGFR'].iloc[i+1] - df_sorted['eGFR'].iloc[i]) / df_sorted['time_difference'].iloc[i+1] for i in range(len(df_sorted)-1)]

In [33]:
eGFR_Patient = df_sorted[['ResultItemName','eGFR','datetime','slopes','time_difference']]
eGFR_Patient

                                    ResultItemName   eGFR  \
PatientUID PatientVisitUID
2299       3386255          eGFR(CKD-EPI) age >=18  71.70
           3640924          eGFR(CKD-EPI) age >=18  66.80
           4020970          eGFR(CKD-EPI) age >=18  67.20
           4286612          eGFR(CKD-EPI) age >=18  69.20
           4546471          eGFR(CKD-EPI) age >=18  63.60
...                                            ...    ...
3432056    10312896         eGFR(CKD-EPI) age >=18  72.86
           10408954         eGFR(CKD-EPI) age >=18  68.69
           10573233         eGFR(CKD-EPI) age >=18  45.08
3437526    10191122         eGFR(CKD-EPI) age >=18  55.94
           10541118         eGFR(CKD-EPI) age >=18  56.99

                                          datetime    slopes  time_difference
PatientUID PatientVisitUID
2299       3386255         2016-08-15 09:51:54.913       NaN              NaN
           3640924         2016-11-11 09:40:06.053 -0.056322             87.0
           4020970         2017-03-31 10:18:54.363  0.002857            140.0
           4286612         2017-07-05 10:40:40.763  0.020833             96.0
           4546471         2017-10-03 09:19:54.710 -0.062921             89.0
...                                            ...       ...              ...
3432056    10312896        2023-01-30 16:16:45.013  1.716667              3.0
           10408954        2023-02-24 21:05:12.747 -0.166800             25.0
           10573233        2023-04-10 09:51:32.587 -0.536591             44.0
3437526    10191122        2022-12-26 09:29:11.307 -0.102453           -106.0
           10541118        2023-03-30 18:44:40.160  0.011170             94.0

[355970 rows x 5 columns]