<a href="https://colab.research.google.com/github/nxxk23/PROJECT/blob/main/TestKidneys.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#import pandas as pd
#import numpy as np

# Replace NaN values with an empty string ('') or any other suitable value
#lab['ResultItemName'].fillna('', inplace=True)

# Filter rows where the column value starts with 'A'
#filtered_df = lab[lab['ResultItemName'].str.startswith('eGFR', na=False)]

# Get the values from the filtered column
#values = filtered_df['ResultItemName'].values

# Print the values
#for value in values:
#    print(value)

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

#üóÇÔ∏èImport data: Lab

In [3]:
import pandas as pd
lab = pd.read_csv('/content/drive/MyDrive/Thesis Project Kidney/Lab.csv')

In [4]:
lab.head()

,LabNo,PatientUID,PatientVisitUID,Location,RequestItemName,ResultItemName,CWhen,ResultDttm,ResultValue,Unit,ReferenceRange
0,1,2299,2024049,‡πÄ‡∏ß‡∏ä‡∏®‡∏≤‡∏™‡∏ï‡∏£‡πå‡∏ô‡∏¥‡∏ß‡πÄ‡∏Ñ‡∏•‡∏µ‡∏¢‡∏£‡πå (OPD)-D15,BMD LUMBAR,Formatted Result,2558-02-19 16:16:51.423,NaN,FT,NaN,NaN
1,1,2299,2024049,‡∏´‡πâ‡∏≠‡∏á‡∏õ‡∏è‡∏¥‡∏ö‡∏±‡∏ï‡∏¥‡∏Å‡∏≤‡∏£‡πÄ‡∏Ñ‡∏°‡∏µ‡∏Ñ‡∏•‡∏¥‡∏ô‡∏¥‡∏Å ‡πÄ‡∏ß‡∏ä‡∏®‡∏≤‡∏™‡∏ï‡∏£‡πå‡∏ä‡∏±‡∏ô‡∏™‡∏π‡∏ï‡∏£,"ALBUMIN, 32403","ALBUMIN, 32403",2558-02-19 10:32:20.907,NaN,4.1,NaN,3.8 - 5.4
2,1,2299,2024049,‡∏´‡πâ‡∏≠‡∏á‡∏õ‡∏è‡∏¥‡∏ö‡∏±‡∏ï‡∏¥‡∏Å‡∏≤‡∏£‡πÄ‡∏Ñ‡∏°‡∏µ‡∏Ñ‡∏•‡∏¥‡∏ô‡∏¥‡∏Å ‡πÄ‡∏ß‡∏ä‡∏®‡∏≤‡∏™‡∏ï‡∏£‡πå‡∏ä‡∏±‡∏ô‡∏™‡∏π‡∏ï‡∏£,Alkaline Phos,"ALP, 32309",2558-02-19 10:32:21.610,NaN,44,NaN,42 - 121
3,1,2299,2024049,‡∏´‡πâ‡∏≠‡∏á‡∏õ‡∏è‡∏¥‡∏ö‡∏±‡∏ï‡∏¥‡∏Å‡∏≤‡∏£‡πÄ‡∏Ñ‡∏°‡∏µ‡∏Ñ‡∏•‡∏¥‡∏ô‡∏¥‡∏Å ‡πÄ‡∏ß‡∏ä‡∏®‡∏≤‡∏™‡∏ï‡∏£‡πå‡∏ä‡∏±‡∏ô‡∏™‡∏π‡∏ï‡∏£,"ALT, 32311","ALT, 32311",2558-02-19 10:32:21.390,NaN,17,NaN,4 - 36
4,1,2299,2024049,‡∏´‡πâ‡∏≠‡∏á‡∏õ‡∏è‡∏¥‡∏ö‡∏±‡∏ï‡∏¥‡∏Å‡∏≤‡∏£‡πÄ‡∏Ñ‡∏°‡∏µ‡∏Ñ‡∏•‡∏¥‡∏ô‡∏¥‡∏Å ‡πÄ‡∏ß‡∏ä‡∏®‡∏≤‡∏™‡∏ï‡∏£‡πå‡∏ä‡∏±‡∏ô‡∏™‡∏π‡∏ï‡∏£,"AST, 32310","AST, 32310",2558-02-19 10:32:21.500,NaN,23,NaN,12 - 32

# ü©∏Select interested value :eGFR

In [5]:
eGFR = lab[lab['ResultItemName']=='eGFR(CKD-EPI) age >=18']
eGFR

,LabNo,PatientUID,PatientVisitUID,Location,RequestItemName,ResultItemName,CWhen,ResultDttm,ResultValue,Unit,ReferenceRange
248,1,2299,3386255,‡∏´‡πâ‡∏≠‡∏á‡∏õ‡∏è‡∏¥‡∏ö‡∏±‡∏ï‡∏¥‡∏Å‡∏≤‡∏£‡πÄ‡∏Ñ‡∏°‡∏µ‡∏Ñ‡∏•‡∏¥‡∏ô‡∏¥‡∏Å ‡πÄ‡∏ß‡∏ä‡∏®‡∏≤‡∏™‡∏ï‡∏£‡πå‡∏ä‡∏±‡∏ô‡∏™‡∏π‡∏ï‡∏£,CREATININE,eGFR(CKD-EPI) age >=18,2559-08-15 09:51:54.913,NaN,71.7,ml/min/1.73m2,-
255,1,2299,3640924,‡∏´‡πâ‡∏≠‡∏á‡∏õ‡∏è‡∏¥‡∏ö‡∏±‡∏ï‡∏¥‡∏Å‡∏≤‡∏£‡πÄ‡∏Ñ‡∏°‡∏µ‡∏Ñ‡∏•‡∏¥‡∏ô‡∏¥‡∏Å ‡πÄ‡∏ß‡∏ä‡∏®‡∏≤‡∏™‡∏ï‡∏£‡πå‡∏ä‡∏±‡∏ô‡∏™‡∏π‡∏ï‡∏£,CREATININE,eGFR(CKD-EPI) age >=18,2559-11-11 09:40:06.053,NaN,66.8,ml/min/1.73m2,-
271,1,2299,4020970,‡∏´‡πâ‡∏≠‡∏á‡∏õ‡∏è‡∏¥‡∏ö‡∏±‡∏ï‡∏¥‡∏Å‡∏≤‡∏£‡πÄ‡∏Ñ‡∏°‡∏µ‡∏Ñ‡∏•‡∏¥‡∏ô‡∏¥‡∏Å ‡πÄ‡∏ß‡∏ä‡∏®‡∏≤‡∏™‡∏ï‡∏£‡πå‡∏ä‡∏±‡∏ô‡∏™‡∏π‡∏ï‡∏£,CREATININE,eGFR(CKD-EPI) age >=18,2560-03-31 10:18:54.363,NaN,67.20,ml/min/1.73m2,-
286,1,2299,4286612,‡∏´‡πâ‡∏≠‡∏á‡∏õ‡∏è‡∏¥‡∏ö‡∏±‡∏ï‡∏¥‡∏Å‡∏≤‡∏£‡πÄ‡∏Ñ‡∏°‡∏µ‡∏Ñ‡∏•‡∏¥‡∏ô‡∏¥‡∏Å ‡πÄ‡∏ß‡∏ä‡∏®‡∏≤‡∏™‡∏ï‡∏£‡πå‡∏ä‡∏±‡∏ô‡∏™‡∏π‡∏ï‡∏£,CREATININE,eGFR(CKD-EPI) age >=18,2560-07-05 10:40:40.763,NaN,69.20,ml/min/1.73m2,-
331,1,2299,4546471,‡∏´‡πâ‡∏≠‡∏á‡∏õ‡∏è‡∏¥‡∏ö‡∏±‡∏ï‡∏¥‡∏Å‡∏≤‡∏£‡πÄ‡∏Ñ‡∏°‡∏µ‡∏Ñ‡∏•‡∏¥‡∏ô‡∏¥‡∏Å ‡πÄ‡∏ß‡∏ä‡∏®‡∏≤‡∏™‡∏ï‡∏£‡πå‡∏ä‡∏±‡∏ô‡∏™‡∏π‡∏ï‡∏£,CREATININE,eGFR(CKD-EPI) age >=18,2560-10-03 09:19:54.710,NaN,63.60,ml/min/1.73m2,-
...,...,...,...,...,...,...,...,...,...,...,...
21628049,159,925649,3617725,‡∏´‡πâ‡∏≠‡∏á‡∏õ‡∏è‡∏¥‡∏ö‡∏±‡∏ï‡∏¥‡∏Å‡∏≤‡∏£‡πÄ‡∏Ñ‡∏°‡∏µ‡∏Ñ‡∏•‡∏¥‡∏ô‡∏¥‡∏Å ‡πÄ‡∏ß‡∏ä‡∏®‡∏≤‡∏™‡∏ï‡∏£‡πå‡∏ä‡∏±‡∏ô‡∏™‡∏π‡∏ï‡∏£,CREATININE,eGFR(CKD-EPI) age >=18,2560-04-17 08:54:35.740,NaN,77.60,ml/min/1.73m2,-
21628297,160,925649,3617725,‡∏´‡πâ‡∏≠‡∏á‡∏õ‡∏è‡∏¥‡∏ö‡∏±‡∏ï‡∏¥‡∏Å‡∏≤‡∏£‡πÄ‡∏Ñ‡∏°‡∏µ‡∏Ñ‡∏•‡∏¥‡∏ô‡∏¥‡∏Å ‡πÄ‡∏ß‡∏ä‡∏®‡∏≤‡∏™‡∏ï‡∏£‡πå‡∏ä‡∏±‡∏ô‡∏™‡∏π‡∏ï‡∏£,CREATININE,eGFR(CKD-EPI) age >=18,2560-04-19 08:41:45.060,NaN,72.00,ml/min/1.73m2,-
21628538,161,925649,3617725,‡∏´‡πâ‡∏≠‡∏á‡∏õ‡∏è‡∏¥‡∏ö‡∏±‡∏ï‡∏¥‡∏Å‡∏≤‡∏£‡πÄ‡∏Ñ‡∏°‡∏µ‡∏Ñ‡∏•‡∏¥‡∏ô‡∏¥‡∏Å ‡πÄ‡∏ß‡∏ä‡∏®‡∏≤‡∏™‡∏ï‡∏£‡πå‡∏ä‡∏±‡∏ô‡∏™‡∏π‡∏ï‡∏£,CREATININE,eGFR(CKD-EPI) age >=18,2560-04-21 08:47:03.167,NaN,62.90,ml/min/1.73m2,-
21628775,162,925649,3617725,‡∏´‡πâ‡∏≠‡∏á‡∏õ‡∏è‡∏¥‡∏ö‡∏±‡∏ï‡∏¥‡∏Å‡∏≤‡∏£‡πÄ‡∏Ñ‡∏°‡∏µ‡∏Ñ‡∏•‡∏¥‡∏ô‡∏¥‡∏Å ‡πÄ‡∏ß‡∏ä‡∏®‡∏≤‡∏™‡∏ï‡∏£‡πå‡∏ä‡∏±‡∏ô‡∏™‡∏π‡∏ï‡∏£,CREATININE,eGFR(CKD-EPI) age >=18,2560-04-24 08:59:53.310,NaN,59.60,ml/min/1.73m2,-
21629006,163,925649,3617725,‡∏´‡πâ‡∏≠‡∏á‡∏õ‡∏è‡∏¥‡∏ö‡∏±‡∏ï‡∏¥‡∏Å‡∏≤‡∏£‡πÄ‡∏Ñ‡∏°‡∏µ‡∏Ñ‡∏•‡∏¥‡∏ô‡∏¥‡∏Å ‡πÄ‡∏ß‡∏ä‡∏®‡∏≤‡∏™‡∏ï‡∏£‡πå‡∏ä‡∏±‡∏ô‡∏™‡∏π‡∏ï‡∏£,CREATININE,eGFR(CKD-EPI) age >=18,2560-04-26 11:02:13.990,NaN,60.10,ml/min/1.73m2,-

#‚ùïLab No.1

In [6]:
lab1 = eGFR[eGFR['LabNo']==1]
lab1

,LabNo,PatientUID,PatientVisitUID,Location,RequestItemName,ResultItemName,CWhen,ResultDttm,ResultValue,Unit,ReferenceRange
248,1,2299,3386255,‡∏´‡πâ‡∏≠‡∏á‡∏õ‡∏è‡∏¥‡∏ö‡∏±‡∏ï‡∏¥‡∏Å‡∏≤‡∏£‡πÄ‡∏Ñ‡∏°‡∏µ‡∏Ñ‡∏•‡∏¥‡∏ô‡∏¥‡∏Å ‡πÄ‡∏ß‡∏ä‡∏®‡∏≤‡∏™‡∏ï‡∏£‡πå‡∏ä‡∏±‡∏ô‡∏™‡∏π‡∏ï‡∏£,CREATININE,eGFR(CKD-EPI) age >=18,2559-08-15 09:51:54.913,NaN,71.7,ml/min/1.73m2,-
255,1,2299,3640924,‡∏´‡πâ‡∏≠‡∏á‡∏õ‡∏è‡∏¥‡∏ö‡∏±‡∏ï‡∏¥‡∏Å‡∏≤‡∏£‡πÄ‡∏Ñ‡∏°‡∏µ‡∏Ñ‡∏•‡∏¥‡∏ô‡∏¥‡∏Å ‡πÄ‡∏ß‡∏ä‡∏®‡∏≤‡∏™‡∏ï‡∏£‡πå‡∏ä‡∏±‡∏ô‡∏™‡∏π‡∏ï‡∏£,CREATININE,eGFR(CKD-EPI) age >=18,2559-11-11 09:40:06.053,NaN,66.8,ml/min/1.73m2,-
271,1,2299,4020970,‡∏´‡πâ‡∏≠‡∏á‡∏õ‡∏è‡∏¥‡∏ö‡∏±‡∏ï‡∏¥‡∏Å‡∏≤‡∏£‡πÄ‡∏Ñ‡∏°‡∏µ‡∏Ñ‡∏•‡∏¥‡∏ô‡∏¥‡∏Å ‡πÄ‡∏ß‡∏ä‡∏®‡∏≤‡∏™‡∏ï‡∏£‡πå‡∏ä‡∏±‡∏ô‡∏™‡∏π‡∏ï‡∏£,CREATININE,eGFR(CKD-EPI) age >=18,2560-03-31 10:18:54.363,NaN,67.20,ml/min/1.73m2,-
286,1,2299,4286612,‡∏´‡πâ‡∏≠‡∏á‡∏õ‡∏è‡∏¥‡∏ö‡∏±‡∏ï‡∏¥‡∏Å‡∏≤‡∏£‡πÄ‡∏Ñ‡∏°‡∏µ‡∏Ñ‡∏•‡∏¥‡∏ô‡∏¥‡∏Å ‡πÄ‡∏ß‡∏ä‡∏®‡∏≤‡∏™‡∏ï‡∏£‡πå‡∏ä‡∏±‡∏ô‡∏™‡∏π‡∏ï‡∏£,CREATININE,eGFR(CKD-EPI) age >=18,2560-07-05 10:40:40.763,NaN,69.20,ml/min/1.73m2,-
331,1,2299,4546471,‡∏´‡πâ‡∏≠‡∏á‡∏õ‡∏è‡∏¥‡∏ö‡∏±‡∏ï‡∏¥‡∏Å‡∏≤‡∏£‡πÄ‡∏Ñ‡∏°‡∏µ‡∏Ñ‡∏•‡∏¥‡∏ô‡∏¥‡∏Å ‡πÄ‡∏ß‡∏ä‡∏®‡∏≤‡∏™‡∏ï‡∏£‡πå‡∏ä‡∏±‡∏ô‡∏™‡∏π‡∏ï‡∏£,CREATININE,eGFR(CKD-EPI) age >=18,2560-10-03 09:19:54.710,NaN,63.60,ml/min/1.73m2,-
...,...,...,...,...,...,...,...,...,...,...,...
14665006,1,3432056,10312896,‡∏´‡πâ‡∏≠‡∏á‡∏õ‡∏è‡∏¥‡∏ö‡∏±‡∏ï‡∏¥‡∏Å‡∏≤‡∏£‡πÄ‡∏Ñ‡∏°‡∏µ‡∏Ñ‡∏•‡∏¥‡∏ô‡∏¥‡∏Å ‡πÄ‡∏ß‡∏ä‡∏®‡∏≤‡∏™‡∏ï‡∏£‡πå‡∏ä‡∏±‡∏ô‡∏™‡∏π‡∏ï‡∏£,CREATININE,eGFR(CKD-EPI) age >=18,2566-01-30 16:16:45.013,NaN,72.86,ml/min/1.73m2,NaN
14665064,1,3432056,10408954,‡∏´‡πâ‡∏≠‡∏á‡∏õ‡∏è‡∏¥‡∏ö‡∏±‡∏ï‡∏¥‡∏Å‡∏≤‡∏£‡πÄ‡∏Ñ‡∏°‡∏µ‡∏Ñ‡∏•‡∏¥‡∏ô‡∏¥‡∏Å ‡πÄ‡∏ß‡∏ä‡∏®‡∏≤‡∏™‡∏ï‡∏£‡πå‡∏ä‡∏±‡∏ô‡∏™‡∏π‡∏ï‡∏£,CREATININE,eGFR(CKD-EPI) age >=18,2566-02-24 21:05:12.747,NaN,68.69,ml/min/1.73m2,NaN
14665088,1,3432056,10573233,‡∏´‡πâ‡∏≠‡∏á‡∏õ‡∏è‡∏¥‡∏ö‡∏±‡∏ï‡∏¥‡∏Å‡∏≤‡∏£‡πÄ‡∏Ñ‡∏°‡∏µ‡∏Ñ‡∏•‡∏¥‡∏ô‡∏¥‡∏Å ‡πÄ‡∏ß‡∏ä‡∏®‡∏≤‡∏™‡∏ï‡∏£‡πå‡∏ä‡∏±‡∏ô‡∏™‡∏π‡∏ï‡∏£,CREATININE,eGFR(CKD-EPI) age >=18,2566-04-10 09:51:32.587,NaN,45.08,ml/min/1.73m2,NaN
14665118,1,3437526,10191122,‡∏´‡πâ‡∏≠‡∏á‡∏õ‡∏è‡∏¥‡∏ö‡∏±‡∏ï‡∏¥‡∏Å‡∏≤‡∏£‡πÄ‡∏Ñ‡∏°‡∏µ‡∏Ñ‡∏•‡∏¥‡∏ô‡∏¥‡∏Å ‡πÄ‡∏ß‡∏ä‡∏®‡∏≤‡∏™‡∏ï‡∏£‡πå‡∏ä‡∏±‡∏ô‡∏™‡∏π‡∏ï‡∏£,CREATININE,eGFR(CKD-EPI) age >=18,2565-12-26 09:29:11.307,NaN,55.94,ml/min/1.73m2,NaN
14665175,1,3437526,10541118,‡∏´‡πâ‡∏≠‡∏á‡∏õ‡∏è‡∏¥‡∏ö‡∏±‡∏ï‡∏¥‡∏Å‡∏≤‡∏£‡πÄ‡∏Ñ‡∏°‡∏µ‡∏Ñ‡∏•‡∏¥‡∏ô‡∏¥‡∏Å ‡πÄ‡∏ß‡∏ä‡∏®‡∏≤‡∏™‡∏ï‡∏£‡πå‡∏ä‡∏±‡∏ô‡∏™‡∏π‡∏ï‡∏£,CREATININE,eGFR(CKD-EPI) age >=18,2566-03-30 18:44:40.160,NaN,56.99,ml/min/1.73m2,NaN

In [7]:
lab1.columns

Index(['LabNo', 'PatientUID', 'PatientVisitUID', 'Location', 'RequestItemName',
       'ResultItemName', 'CWhen', 'ResultDttm', 'ResultValue', 'Unit',
       'ReferenceRange'],
      dtype='object')

In [8]:
lab1 = lab1[['PatientUID', 'PatientVisitUID', 'ResultItemName', 'ResultValue', 'CWhen']]
lab1

,PatientUID,PatientVisitUID,ResultItemName,ResultValue,CWhen
248,2299,3386255,eGFR(CKD-EPI) age >=18,71.7,2559-08-15 09:51:54.913
255,2299,3640924,eGFR(CKD-EPI) age >=18,66.8,2559-11-11 09:40:06.053
271,2299,4020970,eGFR(CKD-EPI) age >=18,67.20,2560-03-31 10:18:54.363
286,2299,4286612,eGFR(CKD-EPI) age >=18,69.20,2560-07-05 10:40:40.763
331,2299,4546471,eGFR(CKD-EPI) age >=18,63.60,2560-10-03 09:19:54.710
...,...,...,...,...,...
14665006,3432056,10312896,eGFR(CKD-EPI) age >=18,72.86,2566-01-30 16:16:45.013
14665064,3432056,10408954,eGFR(CKD-EPI) age >=18,68.69,2566-02-24 21:05:12.747
14665088,3432056,10573233,eGFR(CKD-EPI) age >=18,45.08,2566-04-10 09:51:32.587
14665118,3437526,10191122,eGFR(CKD-EPI) age >=18,55.94,2565-12-26 09:29:11.307
14665175,3437526,10541118,eGFR(CKD-EPI) age >=18,56.99,2566-03-30 18:44:40.160

In [9]:
lab1.isnull().any()  ###No missing values

PatientUID         False
PatientVisitUID    False
ResultItemName     False
ResultValue        False
CWhen              False
dtype: bool

In [10]:
lab1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 355985 entries, 248 to 14665175
Data columns (total 5 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   PatientUID       355985 non-null  int64
 1   PatientVisitUID  355985 non-null  int64
 2   ResultItemName   355985 non-null  object
 3   ResultValue      355985 non-null  object
 4   CWhen            355985 non-null  object
dtypes: int64(2), object(3)
memory usage: 16.3+ MB

# üìëPatient ID2299 



```
# he had came to üè• for 30 times in Lab No.1
```

In [11]:
ID2299 = lab1[lab1['PatientUID']==2299]
ID2299.count() ##‡∏Ñ‡∏ô‡πÑ‡∏Ç‡πâ ID2299 ‡∏°‡∏≤‡∏´‡∏≤‡∏´‡∏°‡∏≠ 30 ‡∏Ñ‡∏£‡∏±‡πâ‡∏á

PatientUID         30
PatientVisitUID    30
ResultItemName     30
ResultValue        30
CWhen              30
dtype: int64

In [12]:
ID2299.dtypes

PatientUID          int64
PatientVisitUID     int64
ResultItemName     object
ResultValue        object
CWhen              object
dtype: object

In [13]:
# Convert 'column_name' into a dictionary
CWhen_dict = ID2299['CWhen'].to_dict()

In [14]:
ID2299

,PatientUID,PatientVisitUID,ResultItemName,ResultValue,CWhen
248,2299,3386255,eGFR(CKD-EPI) age >=18,71.7,2559-08-15 09:51:54.913
255,2299,3640924,eGFR(CKD-EPI) age >=18,66.8,2559-11-11 09:40:06.053
271,2299,4020970,eGFR(CKD-EPI) age >=18,67.20,2560-03-31 10:18:54.363
286,2299,4286612,eGFR(CKD-EPI) age >=18,69.20,2560-07-05 10:40:40.763
331,2299,4546471,eGFR(CKD-EPI) age >=18,63.60,2560-10-03 09:19:54.710
343,2299,4801938,eGFR(CKD-EPI) age >=18,58.40,2561-01-04 09:03:28.847
370,2299,5051781,eGFR(CKD-EPI) age >=18,62.40,2561-03-29 09:10:51.133
378,2299,5296557,eGFR(CKD-EPI) age >=18,55.00,2561-06-21 08:55:47.877
391,2299,5377983,eGFR(CKD-EPI) age >=18,64.00,2561-07-18 10:28:12.007
442,2299,5544604,eGFR(CKD-EPI) age >=18,62.40,2561-09-12 09:13:36.107
475,2299,5812902,eGFR(CKD-EPI) age >=18,70.20,2561-12-12 09:18:49.913
505,2299,6082911,eGFR(CKD-EPI) age >=18,73.50,2562-03-13 09:13:31.170
515,2299,6376726,eGFR(CKD-EPI) age >=18,65.40,2562-06-20 08:52:13.607
550,2299,6663614,eGFR(CKD-EPI) age >=18,61.90,2562-09-19 08:51:25.673
562,2299,6821119,eGFR(CKD-EPI) age >=18,62.70,2562-11-07 09:27:43.260
618,2299,6947220,eGFR(CKD-EPI) age >=18,64.02,2562-12-19 09:51:24.427
628,2299,7052512,eGFR(CKD-EPI) age >=18,64.92,2563-01-23 08:50:11.863
676,2299,7126068,eGFR(CKD-EPI) age >=18,58.37,2563-02-16 13:08:10.473
746,2299,7206178,eGFR(CKD-EPI) age >=18,54.86,2563-03-12 08:53:11.210
784,2299,7391791,eGFR(CKD-EPI) age >=18,59.12,2563-06-04 09:02:32.947
798,2299,7632270,eGFR(CKD-EPI) age >=18,56.21,2563-08-27 08:44:34.560
833,2299,7716380,eGFR(CKD-EPI) age >=18,61.48,2563-09-24 08:46:39.710
881,2299,7932911,eGFR(CKD-EPI) age >=18,55.14,2563-12-04 09:04:03.177
907,2299,8186767,eGFR(CKD-EPI) age >=18,48.54,2564-03-04 10:01:42.113
961,2299,8474628,eGFR(CKD-EPI) age >=18,55.14,2564-06-21 08:06:49.077
978,2299,8805282,eGFR(CKD-EPI) age >=18,56.52,2564-10-18 09:17:58.127
1008,2299,9088404,eGFR(CKD-EPI) age >=18,60.62,2565-01-17 09:31:42.030
1042,2299,9385133,eGFR(CKD-EPI) age >=18,80.47,2565-04-21 08:45:54.580
1056,2299,9604695,eGFR(CKD-EPI) age >=18,76.59,2565-06-29 08:56:40.153
1078,2299,10020327,eGFR(CKD-EPI) age >=18,79.14,2565-11-03 09:37:44.910

### üïêSplit timestamp to create the AD format year

In [15]:
import pandas as pd

df = pd.DataFrame(ID2299)

# Splitting the 'time' column into separate columns
df[['date', 'timestamp']] = df['CWhen'].str.split(' ', expand=True)
df[['year', 'month', 'day']] = df['date'].str.split('-', expand=True)
df[['hour', 'minute', 'second']] = df['timestamp'].str.split(':', expand=True)
df[['second', 'nanosecond']] = df['second'].str.split('.', expand=True)

# Convert year column from BE to AD
df['year'] = df['year'].astype(int) - 543

# Drop unnecessary columns
#df = df.drop(['CWhen', 'date', 'timestamp'], axis=1)

# Display the updated DataFrame
df

,PatientUID,PatientVisitUID,ResultItemName,ResultValue,CWhen,date,timestamp,year,month,day,hour,minute,second,nanosecond
248,2299,3386255,eGFR(CKD-EPI) age >=18,71.7,2559-08-15 09:51:54.913,2559-08-15,09:51:54.913,2016,08,15,09,51,54,913
255,2299,3640924,eGFR(CKD-EPI) age >=18,66.8,2559-11-11 09:40:06.053,2559-11-11,09:40:06.053,2016,11,11,09,40,06,053
271,2299,4020970,eGFR(CKD-EPI) age >=18,67.20,2560-03-31 10:18:54.363,2560-03-31,10:18:54.363,2017,03,31,10,18,54,363
286,2299,4286612,eGFR(CKD-EPI) age >=18,69.20,2560-07-05 10:40:40.763,2560-07-05,10:40:40.763,2017,07,05,10,40,40,763
331,2299,4546471,eGFR(CKD-EPI) age >=18,63.60,2560-10-03 09:19:54.710,2560-10-03,09:19:54.710,2017,10,03,09,19,54,710
343,2299,4801938,eGFR(CKD-EPI) age >=18,58.40,2561-01-04 09:03:28.847,2561-01-04,09:03:28.847,2018,01,04,09,03,28,847
370,2299,5051781,eGFR(CKD-EPI) age >=18,62.40,2561-03-29 09:10:51.133,2561-03-29,09:10:51.133,2018,03,29,09,10,51,133
378,2299,5296557,eGFR(CKD-EPI) age >=18,55.00,2561-06-21 08:55:47.877,2561-06-21,08:55:47.877,2018,06,21,08,55,47,877
391,2299,5377983,eGFR(CKD-EPI) age >=18,64.00,2561-07-18 10:28:12.007,2561-07-18,10:28:12.007,2018,07,18,10,28,12,007
442,2299,5544604,eGFR(CKD-EPI) age >=18,62.40,2561-09-12 09:13:36.107,2561-09-12,09:13:36.107,2018,09,12,09,13,36,107
475,2299,5812902,eGFR(CKD-EPI) age >=18,70.20,2561-12-12 09:18:49.913,2561-12-12,09:18:49.913,2018,12,12,09,18,49,913
505,2299,6082911,eGFR(CKD-EPI) age >=18,73.50,2562-03-13 09:13:31.170,2562-03-13,09:13:31.170,2019,03,13,09,13,31,170
515,2299,6376726,eGFR(CKD-EPI) age >=18,65.40,2562-06-20 08:52:13.607,2562-06-20,08:52:13.607,2019,06,20,08,52,13,607
550,2299,6663614,eGFR(CKD-EPI) age >=18,61.90,2562-09-19 08:51:25.673,2562-09-19,08:51:25.673,2019,09,19,08,51,25,673
562,2299,6821119,eGFR(CKD-EPI) age >=18,62.70,2562-11-07 09:27:43.260,2562-11-07,09:27:43.260,2019,11,07,09,27,43,260
618,2299,6947220,eGFR(CKD-EPI) age >=18,64.02,2562-12-19 09:51:24.427,2562-12-19,09:51:24.427,2019,12,19,09,51,24,427
628,2299,7052512,eGFR(CKD-EPI) age >=18,64.92,2563-01-23 08:50:11.863,2563-01-23,08:50:11.863,2020,01,23,08,50,11,863
676,2299,7126068,eGFR(CKD-EPI) age >=18,58.37,2563-02-16 13:08:10.473,2563-02-16,13:08:10.473,2020,02,16,13,08,10,473
746,2299,7206178,eGFR(CKD-EPI) age >=18,54.86,2563-03-12 08:53:11.210,2563-03-12,08:53:11.210,2020,03,12,08,53,11,210
784,2299,7391791,eGFR(CKD-EPI) age >=18,59.12,2563-06-04 09:02:32.947,2563-06-04,09:02:32.947,2020,06,04,09,02,32,947
798,2299,7632270,eGFR(CKD-EPI) age >=18,56.21,2563-08-27 08:44:34.560,2563-08-27,08:44:34.560,2020,08,27,08,44,34,560
833,2299,7716380,eGFR(CKD-EPI) age >=18,61.48,2563-09-24 08:46:39.710,2563-09-24,08:46:39.710,2020,09,24,08,46,39,710
881,2299,7932911,eGFR(CKD-EPI) age >=18,55.14,2563-12-04 09:04:03.177,2563-12-04,09:04:03.177,2020,12,04,09,04,03,177
907,2299,8186767,eGFR(CKD-EPI) age >=18,48.54,2564-03-04 10:01:42.113,2564-03-04,10:01:42.113,2021,03,04,10,01,42,113
961,2299,8474628,eGFR(CKD-EPI) age >=18,55.14,2564-06-21 08:06:49.077,2564-06-21,08:06:49.077,2021,06,21,08,06,49,077
978,2299,8805282,eGFR(CKD-EPI) age >=18,56.52,2564-10-18 09:17:58.127,2564-10-18,09:17:58.127,2021,10,18,09,17,58,127
1008,2299,9088404,eGFR(CKD-EPI) age >=18,60.62,2565-01-17 09:31:42.030,2565-01-17,09:31:42.030,2022,01,17,09,31,42,030
1042,2299,9385133,eGFR(CKD-EPI) age >=18,80.47,2565-04-21 08:45:54.580,2565-04-21,08:45:54.580,2022,04,21,08,45,54,580
1056,2299,9604695,eGFR(CKD-EPI) age >=18,76.59,2565-06-29 08:56:40.153,2565-06-29,08:56:40.153,2022,06,29,08,56,40,153
1078,2299,10020327,eGFR(CKD-EPI) age >=18,79.14,2565-11-03 09:37:44.910,2565-11-03,09:37:44.910,2022,11,03,09,37,44,910

### ‚ûï merge timestamp into datetime column

In [16]:
# Combine columns into a datetime column
df['date'] = pd.to_datetime(df[['year', 'month', 'day',]])
# Convert timestamp to Timedelta
df['timestamp'] = pd.to_timedelta(df['timestamp'])

# Convert date to datetime
df['date'] = pd.to_datetime(df['date'])

# Merge timestamp and date columns
df['datetime'] = df['date'] + df['timestamp']
df

,PatientUID,PatientVisitUID,ResultItemName,ResultValue,CWhen,date,timestamp,year,month,day,hour,minute,second,nanosecond,datetime
248,2299,3386255,eGFR(CKD-EPI) age >=18,71.7,2559-08-15 09:51:54.913,2016-08-15,0 days 09:51:54.913000,2016,08,15,09,51,54,913,2016-08-15 09:51:54.913
255,2299,3640924,eGFR(CKD-EPI) age >=18,66.8,2559-11-11 09:40:06.053,2016-11-11,0 days 09:40:06.053000,2016,11,11,09,40,06,053,2016-11-11 09:40:06.053
271,2299,4020970,eGFR(CKD-EPI) age >=18,67.20,2560-03-31 10:18:54.363,2017-03-31,0 days 10:18:54.363000,2017,03,31,10,18,54,363,2017-03-31 10:18:54.363
286,2299,4286612,eGFR(CKD-EPI) age >=18,69.20,2560-07-05 10:40:40.763,2017-07-05,0 days 10:40:40.763000,2017,07,05,10,40,40,763,2017-07-05 10:40:40.763
331,2299,4546471,eGFR(CKD-EPI) age >=18,63.60,2560-10-03 09:19:54.710,2017-10-03,0 days 09:19:54.710000,2017,10,03,09,19,54,710,2017-10-03 09:19:54.710
343,2299,4801938,eGFR(CKD-EPI) age >=18,58.40,2561-01-04 09:03:28.847,2018-01-04,0 days 09:03:28.847000,2018,01,04,09,03,28,847,2018-01-04 09:03:28.847
370,2299,5051781,eGFR(CKD-EPI) age >=18,62.40,2561-03-29 09:10:51.133,2018-03-29,0 days 09:10:51.133000,2018,03,29,09,10,51,133,2018-03-29 09:10:51.133
378,2299,5296557,eGFR(CKD-EPI) age >=18,55.00,2561-06-21 08:55:47.877,2018-06-21,0 days 08:55:47.877000,2018,06,21,08,55,47,877,2018-06-21 08:55:47.877
391,2299,5377983,eGFR(CKD-EPI) age >=18,64.00,2561-07-18 10:28:12.007,2018-07-18,0 days 10:28:12.007000,2018,07,18,10,28,12,007,2018-07-18 10:28:12.007
442,2299,5544604,eGFR(CKD-EPI) age >=18,62.40,2561-09-12 09:13:36.107,2018-09-12,0 days 09:13:36.107000,2018,09,12,09,13,36,107,2018-09-12 09:13:36.107
475,2299,5812902,eGFR(CKD-EPI) age >=18,70.20,2561-12-12 09:18:49.913,2018-12-12,0 days 09:18:49.913000,2018,12,12,09,18,49,913,2018-12-12 09:18:49.913
505,2299,6082911,eGFR(CKD-EPI) age >=18,73.50,2562-03-13 09:13:31.170,2019-03-13,0 days 09:13:31.170000,2019,03,13,09,13,31,170,2019-03-13 09:13:31.170
515,2299,6376726,eGFR(CKD-EPI) age >=18,65.40,2562-06-20 08:52:13.607,2019-06-20,0 days 08:52:13.607000,2019,06,20,08,52,13,607,2019-06-20 08:52:13.607
550,2299,6663614,eGFR(CKD-EPI) age >=18,61.90,2562-09-19 08:51:25.673,2019-09-19,0 days 08:51:25.673000,2019,09,19,08,51,25,673,2019-09-19 08:51:25.673
562,2299,6821119,eGFR(CKD-EPI) age >=18,62.70,2562-11-07 09:27:43.260,2019-11-07,0 days 09:27:43.260000,2019,11,07,09,27,43,260,2019-11-07 09:27:43.260
618,2299,6947220,eGFR(CKD-EPI) age >=18,64.02,2562-12-19 09:51:24.427,2019-12-19,0 days 09:51:24.427000,2019,12,19,09,51,24,427,2019-12-19 09:51:24.427
628,2299,7052512,eGFR(CKD-EPI) age >=18,64.92,2563-01-23 08:50:11.863,2020-01-23,0 days 08:50:11.863000,2020,01,23,08,50,11,863,2020-01-23 08:50:11.863
676,2299,7126068,eGFR(CKD-EPI) age >=18,58.37,2563-02-16 13:08:10.473,2020-02-16,0 days 13:08:10.473000,2020,02,16,13,08,10,473,2020-02-16 13:08:10.473
746,2299,7206178,eGFR(CKD-EPI) age >=18,54.86,2563-03-12 08:53:11.210,2020-03-12,0 days 08:53:11.210000,2020,03,12,08,53,11,210,2020-03-12 08:53:11.210
784,2299,7391791,eGFR(CKD-EPI) age >=18,59.12,2563-06-04 09:02:32.947,2020-06-04,0 days 09:02:32.947000,2020,06,04,09,02,32,947,2020-06-04 09:02:32.947
798,2299,7632270,eGFR(CKD-EPI) age >=18,56.21,2563-08-27 08:44:34.560,2020-08-27,0 days 08:44:34.560000,2020,08,27,08,44,34,560,2020-08-27 08:44:34.560
833,2299,7716380,eGFR(CKD-EPI) age >=18,61.48,2563-09-24 08:46:39.710,2020-09-24,0 days 08:46:39.710000,2020,09,24,08,46,39,710,2020-09-24 08:46:39.710
881,2299,7932911,eGFR(CKD-EPI) age >=18,55.14,2563-12-04 09:04:03.177,2020-12-04,0 days 09:04:03.177000,2020,12,04,09,04,03,177,2020-12-04 09:04:03.177
907,2299,8186767,eGFR(CKD-EPI) age >=18,48.54,2564-03-04 10:01:42.113,2021-03-04,0 days 10:01:42.113000,2021,03,04,10,01,42,113,2021-03-04 10:01:42.113
961,2299,8474628,eGFR(CKD-EPI) age >=18,55.14,2564-06-21 08:06:49.077,2021-06-21,0 days 08:06:49.077000,2021,06,21,08,06,49,077,2021-06-21 08:06:49.077
978,2299,8805282,eGFR(CKD-EPI) age >=18,56.52,2564-10-18 09:17:58.127,2021-10-18,0 days 09:17:58.127000,2021,10,18,09,17,58,127,2021-10-18 09:17:58.127
1008,2299,9088404,eGFR(CKD-EPI) age >=18,60.62,2565-01-17 09:31:42.030,2022-01-17,0 days 09:31:42.030000,2022,01,17,09,31,42,030,2022-01-17 09:31:42.030
1042,2299,9385133,eGFR(CKD-EPI) age >=18,80.47,2565-04-21 08:45:54.580,2022-04-21,0 days 08:45:54.580000,2022,04,21,08,45,54,580,2022-04-21 08:45:54.580
1056,2299,9604695,eGFR(CKD-EPI) age >=18,76.59,2565-06-29 08:56:40.153,2022-06-29,0 days 08:56:40.153000,2022,06,29,08,56,40,153,2022-06-29 08:56:40.153
1078,2299,10020327,eGFR(CKD-EPI) age >=18,79.14,2565-11-03 09:37:44.910,2022-11-03,0 days 09:37:44.910000,2022,11,03,09,37,44,910,2022-11-03 09:37:44.910

In [17]:
df.dtypes

PatientUID                   int64
PatientVisitUID              int64
ResultItemName              object
ResultValue                 object
CWhen                       object
date                datetime64[ns]
timestamp          timedelta64[ns]
year                         int64
month                       object
day                         object
hour                        object
minute                      object
second                      object
nanosecond                  object
datetime            datetime64[ns]
dtype: object



```
 Change Value from object to numeric
```

In [18]:
df['ResultValue'] = pd.to_numeric(df['ResultValue'])

# üìà Calculate slope

In [19]:
# Calculate the time difference in seconds from the first row
df['time_diff'] = (df['datetime'] - df['datetime'].iloc[0]).dt.total_seconds()

# Calculate the slope using linear regression
slope = (df['ResultValue'].iloc[-1] - df['ResultValue'].iloc[0]) / df['time_diff'].iloc[-1]

# Print the slope
print("Slope:", slope)

Slope: 3.7917870606355934e-08