<a href="https://colab.research.google.com/github/nxxk23/PROJECT/blob/main/TestKidneys.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd

# Read a CSV file into a DataFrame
diagnosis = pd.read_csv('/content/drive/MyDrive/Thesis Project Kidney/Diagnosis.csv')

In [ ]:
diagnosis.head()

,PatientUID,PatientVisitUID,ProblemCode,ProblemName,ProblemDescription,DIAGTYPE,OnsetDttm
0,22496,0,K922,"Gastrointestinal haemorrhage\, unspecified",เลือดออกในกระเพาะอาหารและลำไส้ ไม่ระบุรายละเอียด,PRINCIPAL DX (การวินิจฉัยโรคหลัก),2556-01-05 00:00:00.000
1,20509,0,R104,Other and unspecified abdominal pain,ปวดท้องแบบอื่นและไม่ระบุรายละเอียด,PRINCIPAL DX (การวินิจฉัยโรคหลัก),2556-01-05 00:00:00.000
2,6629,0,K052,Acute periodontitis,โรคปริทันต์อักเสียบเฉียบพลัน,PRINCIPAL DX (การวินิจฉัยโรคหลัก),2556-01-05 00:00:00.000
3,22234,0,E112,Non-insulin-dependent diabetes mellitus type 2...,เบาหวานชนิดที่ไม่ต้องพึ่งอินซูลิน ร่วมกับภาวะแ...,PRINCIPAL DX (การวินิจฉัยโรคหลัก),2556-01-07 00:00:00.000
4,22234,0,N083,Glomerular disorders in diabetes mellitus ( E1...,ความผิดปกติของโกลเมอรูลัสในโรคเบาหวาน (E10-E14...,PRINCIPAL DX (การวินิจฉัยโรคหลัก),2556-01-07 00:00:00.000

In [ ]:
import pandas as pd

# Read a CSV file into a DataFrame
visit = pd.read_csv('/content/drive/MyDrive/Thesis Project Kidney/Visit.csv')

<ipython-input-7-19af1d0c01c8>:4: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  visit = pd.read_csv('/content/drive/MyDrive/Thesis Project Kidney/Visit.csv')

In [ ]:
visit.head()

,PatientUID,PatientvisitUID,Sex,Age,ENTY,NATNL,StartDTTM,EndDttm,Location,PricipalProblemCode,PricipalProblemName
0,19319,25325,หญิง,83,Out Patient,ไทย,2555-01-01 00:00:00.000,2557-11-26 23:58:59.730,NaN,NaN,NaN
1,83224,25327,ชาย,64,Out Patient,ไทย,2555-01-01 00:00:00.000,2557-11-26 23:58:59.730,NaN,NaN,NaN
2,160455,25336,ชาย,86,Out Patient,ไทย,2555-01-01 00:00:00.000,2557-11-26 23:58:59.730,NaN,NaN,NaN
3,181216,25338,หญิง,82,Out Patient,ไทย,2555-01-01 00:00:00.000,2557-11-26 23:58:59.730,NaN,NaN,NaN
4,568147,25357,ชาย,68,Out Patient,ไทย,2555-01-01 00:00:00.000,2557-11-26 23:58:59.730,NaN,NaN,NaN

In [ ]:
lab = pd.read_csv('/content/drive/MyDrive/Thesis Project Kidney/Lab.csv')

In [ ]:
lab.head()

,LabNo,PatientUID,PatientVisitUID,Location,RequestItemName,ResultItemName,CWhen,ResultDttm,ResultValue,Unit,ReferenceRange
0,1,2299,2024049,เวชศาสตร์นิวเคลียร์ (OPD)-D15,BMD LUMBAR,Formatted Result,2558-02-19 16:16:51.423,NaN,FT,NaN,NaN
1,1,2299,2024049,ห้องปฏิบัติการเคมีคลินิก เวชศาสตร์ชันสูตร,"ALBUMIN, 32403","ALBUMIN, 32403",2558-02-19 10:32:20.907,NaN,4.1,NaN,3.8 - 5.4
2,1,2299,2024049,ห้องปฏิบัติการเคมีคลินิก เวชศาสตร์ชันสูตร,Alkaline Phos,"ALP, 32309",2558-02-19 10:32:21.610,NaN,44,NaN,42 - 121
3,1,2299,2024049,ห้องปฏิบัติการเคมีคลินิก เวชศาสตร์ชันสูตร,"ALT, 32311","ALT, 32311",2558-02-19 10:32:21.390,NaN,17,NaN,4 - 36
4,1,2299,2024049,ห้องปฏิบัติการเคมีคลินิก เวชศาสตร์ชันสูตร,"AST, 32310","AST, 32310",2558-02-19 10:32:21.500,NaN,23,NaN,12 - 32